@media screen and (max-width: 1500px){
    .col-xs-offset-3{margin-left: 0}
}

@media screen and (max-width: 900px){
    .busqueda img{left: 167px;}
    .lup{left: 163px !important;}
    .busqueda {padding-bottom: 8px !important;}
    .view-dis a p{top: 200px !important; left: 166px!important;}
    .inf-footer p{font-size: 7pt!important; width: 64%; padding: 0 !important;}
    .fa-border{margin-top: 10px!important; margin-left: 0 !important;}
    .detalle-pro>.colores{width: 38%!important;}
    .miniatura{width: 88px!important; height: 88px!important;}
    .detalle-pro>.bolsa a p{font-size: 9pt !important;}
    .descripcion{margin-top: 36px!important;}
    .view-dis>ul>li img{width: 500px!important;}
    .nav-tabs > li{float: none !important;}
    .caret{border: none!important;}
    .background-footer img{height: 266px;}
    .vima{width: 100px!important;height: auto !important;}
    .precio{width: 60% !important;}
    #nav-menu li a{font-size: 8pt;padding: 5px 15px!important; text-align: center;}
    #nav-menu{padding: 0!important;}
    .p p{text-align: center;margin: 0}
    #bols{width: 25%}
    #menu-footer{float: left !important;}
    .breadcrumb{width: 100% !important;margin-left: 10px;}
    .order-result{margin-left: 10px;}
    .conten-img li img{min-width: 440px !important;max-width: 440px !important}
}
   
}

@font-face {
	font-family: AzoSansRegular;
	src:url("../fonts/RuiAbreuAzoSansRegular.otf");
}
@font-face {
	font-family: AzoSansBold;
	src:url("../fonts/RuiAbreuAzoSansBold.otf");
}
.nav-tabs > li > a{border: none !important}
p, h2, h3, h4{font-family: AzoSansBold}
.color-white{color: white!important;}
.busqueda{margin-top: 2%}
.mt-pagos{margin-top: 10px;}
.mt-pagos p{margin: 0; font-family: AzoSansBold; color: black !important;padding-right: 20px;float: left}
.mt-pagos ul li {float: left; margin-top: -6px;}
.busqueda input{border: 2px solid black;}
.busqueda img{background: black; position: absolute;width: 26px;padding: 5px;right: 28px;top:2px;}
#nav-menu li a:hover{background: #ffffff; color: black}
#nav-menu{padding: 15px;}
#nav-menu li {padding: 1px;}
#nav-menu li a{
	color: #ffffff;
	font-family: AzoSansBold;
}

.sesion{
    margin-top: 3%;
    float: left;
}

.messages{
    font-family: 'AzoSansThin'!important;
}
.sesion>a{float: left;}
.badge{float: left; margin-right: 7px;background-color: #ED2A56!important;}
#nav-menu li a:hover{color: black; background: #ffffff !important;}
.sesion p{font-family: AzoSansBold; color: black; float: left;}
.nav > li > a:hover, .nav > li > a:focus{background: none !important;}
.nav-tabs > li > a:hover{border:none !important;}
.row{margin: 0 !important;}
.nav li .nav-ul ul{
        width: 20%;
        float: left;
}

			.nav li:hover > ul {
				display:block;
			}

			.nav li ul li {
				position:relative;
                padding:5px;
                text-decoration: none;
                list-style: none;
                font-family: AzoSansBold;
                color: black;
                margin-left: 10%;
			}

			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
            .nav li ul li h5{margin: 0}
            .nav-ul {
				position:absolute;
                background: white;
                z-index: 1;
                border: transparent!important;
                width: 1275px !important;
                left: -350px !important;
                opacity: 0.9;
                padding-top: 20px !important;
                padding-bottom: 30px !important;
			}
.color{padding: 21px}
.color p{color: #ffffff;font-family: AzoSansBold}
.color h3{color: white}
.col-md-4{padding: 0!important;padding-right: 5px !important;}
.titulo-testimonial {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-family: AzoSansBold;
    font-size: 10pt;
    font-weight: bold;
}
.titulo-testimonial>span {
    background: white;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 2;
    position: relative;
}
.titulo-testimonial:after {
    border: 1px solid #BFBFBF;
    content: " ";
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 28px;
    z-index: 1;
}
.conten-img li img{max-width: 450px;min-width: 450px;}
@font-face {
	font-family: AzoSansMedium;
	src:url("../fonts/RuiAbreuAzoSansMedium.otf");
}
@font-face {
	font-family: AzoSansRegular;
	src:url("../fonts/RuiAbreuAzoSansRegular.otf");
}
.col-lg-12, .col-md-12, .col-sm-2{padding: 0 !important;}
#slider1 {
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
    background: #F2F2F2;
}#slider1 .buttons {
    background: transparent;
    border-radius: 35px;
    border:1px solid black;
    display: block;
    margin: 30px 0 0;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 40px;
    top: 40%;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    font-size: 22px;
}
 #slider1 .next {
    margin: 30px 0 0;
    left: auto;
    right: 40px;
}
 #slider1 .viewport {
    width: 100%;
    height: 520px;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
}
 #slider1 .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
 #slider1 .overview li {
    float: left;
    margin: 0 32px 0 0;
    overflow: hidden;
    height: auto;
    width: 22%;
}
 #slider1 .overview li article {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 4px;
    text-align: center;
    background: white;
    width: 100%;
    float: left;
}
 #slider1 .overview li article img {
    width: 100%;
    height: auto;
     margin: 0 auto;
}
 .imagen{padding-bottom: 15px;}
.ico-favo{float: right;width: 12%;}
.bolsa{background: #30E59E;float: left; width: 60%;padding: 5px; margin-bottom: 10px;}
.bolsa a{text-decoration: none !important;  list-style: none}
.bolsa>a>img{width: 14px !important; float:left}
.bolsa>a>p{
    color: #fff;
    font-size: 7pt;
    margin: 0;
    margin-top: 1px;
}
.detalle p{
    text-align: left;
    font-size: 8pt;
    color: #989898;
}
.detalle h3{
    font-size: 10pt;
    text-transform: capitalize;
    margin-top: 6px;
    text-align: left;
    font-weight: bold;
}
.precio{width: 50%; text-align: left; float: left; font-size: 12pt}
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`)
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo,
		pero de esta manera (siempre que no le demos padding),
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
    float: right;

}
.ec-stars-wrapper a {
	text-decoration: none !important;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 17px;
	color: #FFC600;
}

.ec-stars-wrapper:hover a {
	color: #FFC600;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}
.background-footer{position: relative; background: #F2F2F2}
.background-footer img{width: 100%;}
.inf-footer{position: absolute;top:0;width: 100%;padding: 20px;}
.inf-footer img{width: 20%;margin: 0 auto}
.inf-footer p{text-align: center; padding: 20px;font-weight: 500;margin: 0 auto;font-size: 12pt; }
.view-dis a p{font-weight: bold; position: absolute; z-index: 1; text-align: center; top: 192px; left: 165px; background: #D1FF1F; padding: 10px}
.view-dis a:hover{color: black}
.view-dis a{padding: 0 !important;}
.p{padding-left: 14px!important;}
.p p{color: white; padding-top: 14px;}
.breadcrumb{padding: 0 !important;background-color: transparent !important;border-radius: 0 !important;}
.panel-default > .panel-heading{background-color: #DBE244 !important;}
.panel-heading p{margin: 0; color: black}
.panel-default{border-color: transparent !important;}
.panel{box-shadow: none!important;}
.color-red, .color-black, .color-blue, .color-pink, .color-green, .color-yellow {
    background-color: red;border-radius: 5px;height: 20px !important;width: 20px !important;float: left}
.color-green{background-color: green!important;}
.color-yellow{background-color: yellow!important;}
.color-blue{background-color: blue!important;}
.color-pink{background-color: pink}
.color-black{background-color: black}
.colores p{margin: 0; padding-left: 5px;margin-left: 10px;margin-top: -6px;}
.border img{margin: 0 auto;}
.border{border-bottom: solid 0.08em #eeeeee; }
.order-result {
    position: relative;
    float: left;
}
.order-result p{float: left;padding-right: 5px;color: #989898;}
.order-result select{background: transparent;padding: 5px; margin-top: -7px;}
.breadcrumb{width: 64%; float: left}
.float-l input{float: left}
.float-l{padding-left: 0!important;}
.float-l p{padding-top: 4px;float: left}
.float-r{float: right!important;}
.cash{font-weight: bold; font-size: 12pt !important; color: black!important;}
.etiqueta{margin-right: 10px; float: left; width: 40%;padding: 5px; margin-bottom: 10px;border: 1px solid black}
.etiqueta a{text-decoration: none !important;  list-style: none}
.etiqueta>a>img{width: 14px !important; float:left; margin-right: 5px;}
.etiqueta>a>p{
    padding-left: 10px!important;
    color: black;
    font-size: 7pt;
    margin: 0;
    margin-top: 1px;
}

.pro-destacado{padding: 0;padding-left: 5px;float: left;width: 49%;}
.pro-destacado a h3{font-weight: bold;font-size: 9pt;text-align: left;margin: 0; padding-top: 12px; padding-bottom: 6px;}
.pro-destacado p{max-height: 23px; min-height: 23px;color: #989898;font-size: 9px;;}
.box-shadow{-webkit-box-shadow: 0px 20px 21px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 20px 21px -21px rgba(0,0,0,0.75);
box-shadow: 0px 20px 21px -21px rgba(0,0,0,0.75);padding: 0!important;}
#galeria, #galeria * {box-sizing:border-box;-moz-box-sizing:border-box}
#galeria {
    padding: 10px;
    padding-bottom: 0;
    background: white;  /* Fondo de la galería */
}
#galeria_imagen{border: 1px solid #cccccc;max-height: 400px;min-height: 400px;
    margin: 0 auto;}
#galeria_miniaturas {
    display: table;
    margin: 0 auto;
}
#imgGaleria {
    padding: 2px;
    /* width: x; Ancho de la imagen */
   /* height: x;  Alto de la imagen */
    margin: 0 auto;
}
.miniatura {
    width:  120px;  /* Ancho de las miniaturas */
    height:  120px;  /* Alto de las miniaturas */
    float: left;
    cursor: pointer;
    padding: 5px;
    margin: 10px 5px;
}
.miniatura:hover {
    opacity:.8;   /* Opacidad */
    -moz-opacity:.8;
    -khtml-opacity:.8;
    filter:alpha(opacity=80);
}
.miniatura:active {
    opacity:1;
    -moz-opacity:1;
    -khtml-opacity:1;
    filter:alpha(opacity=80);
}
.detalle-pro p{float: left;font-size: 11pt}
.detalle-pro>.ec-stars-wrapper{float: none;padding-left: 10px; margin-top: -5px;}
.detalle-pro>.bolsa{width: auto;margin-left: 10px;background: #12A8A9}
.detalle-pro>.bolsa p{font-size: 12pt;text-align: center; margin: 3px 6px 0px 8px;}
.detalle-pro>.order-result{width: 24%;padding-top: 20px;}
.detalle-pro>.order-result> select{width: 100%;}
.detalle-pro>.colores{width: 31%;padding-top: 20px;}
.detalle-pro>.colores p{padding: 0;margin: 0;padding-bottom: 8px;}
.detalle-pro>.colores ul li{float: left;margin-right: 5px;padding-bottom: 18px;}
.detalle-pro>.colores ul li .color-red, .color-black, .color-blue, .color-pink, .color-green, .color-yellow{
    width: 30px;height: 30px;
}
.descripcion{color: #828282; text-align: left!important;margin-top: 110px;}
@font-face {
	font-family: AzoSansMedium;
	src:url("../fonts/RuiAbreuAzoSansMedium.otf");
}
/************MENU DASHBOARD DEL CLIENTE****************/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
        color: #ffffff;
        background-color: #01B5B4 !important;
    }
    .navbar-default .navbar-nav > .active2 > a, .navbar-default .navbar-nav > .active2 > a:hover, .navbar-default .navbar-nav > .active2 > a:focus{
        color: #ffffff;
        background-color: #FF245A !important;
    }
    #menuDash a{
        font-size: 12pt;
        font-family: AzoSansThin !important;
    }

    #menuDash i{
        font-size: 12pt;
        margin-right: 5px;
    }