{% extends 'base.html' %} {% block contenido %} {% if form.errors %}
<div id="errors">
	<div class="alert alert-danger">
		<p>Se encontraron errores en la información sumimistrada, por favor corregir lo siguiente:</p>
		<strong>{{ form.non_field_errors }}</strong>
		<ul>
			{% for field in form %} {% if field.errors %}
			<li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>{% endif %} {% endfor %}
		</ul>
	</div>
</div>
{% endif %}
<div class="panel panel-primary panel-vima">
	<div class="panel-heading">Modificar datos</div>
	<form method="post" enctype="multipart/form-data" class="form-group" >
		{% csrf_token %}
		<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="{{form.descripcion.name}}">{{form.descripcion.label}}</label> {{form.descripcion}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="{{form.direccion.name}}">{{form.direccion.label}}</label> {{form.direccion}}
			</div>
		</div>
		<div class="col-md-12">
			<h5><strong>Responsable del almacen</strong></h5>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="{{form2.nombre.name}}">{{form2.nombre.label}}</label> {{form2.nombre}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="{{form2.id_usuario.name}}">{{form2.id_usuario.label}}</label> {{form2.id_usuario}}
			</div>
		</div>
        <div class="col-md-12">
			<div class="form-group">
				<label for="{{form.activo.name}}">{{form.activo.label}}</label>
				{{form.activo}}
			</div>
        </div>
		</div>
        <div class="col-xs-7 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3" style="margin-bottom: 10px;"><button style="width: 94px;float: right;" class="btn btn-primary" type="submit">Guardar</button></div>
        <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 " style="margin-bottom: 10px;"><a class="btn btn-primary" href="{% url 'inventario:listar_almacenes' %}" style="height: 34px;width: 85px;">Volver</a></div>
	</form>
</div>
{% endblock %}