{% extends 'base.html' %} {% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de Almacenes</div>
    <a class="glyphicon glyphicon-plus btn-nuevo" href="{% url 'inventario:crear_almacenes' %}">Nuevo</a>
    <div class="table-responsive">
        <table class="table table-hover">
        {% if almacenes %}
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Descripcion</td>
                    <td>Responsable</td>
                    <td>Estado</td>
                    <td style="text-align: center">Opciones</td>
                </tr>
            </thead>
            <tbody>
            {% for almacen in almacenes %}
                <tr>
                    <td>{{ almacen.id_almacen }}</td>
                    <td>{{ almacen.descripcion }}</td>
                    <td>{{ almacen.id_responsable.nombre }}</td>
                    {% if almacen.activo %}
                        <td>
                        Activo
                        </td>
                    {% else %}
                        <td>
                        Inactivo
                        </td>
                    {% endif %}
                    <td style="text-align: center">
                    <a class="glyphicon glyphicon-pencil" href="{% url 'inventario:editar_almacenes' almacen.id_almacen %}" />
                    <a class="glyphicon glyphicon-remove" href="{% url 'inventario:eliminar_almacenes' almacen.id_almacen %}" />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <h3>No Hay Registros de Almacenes.</h3>
        {% endif %}
    </table> 
    {% if is_paginated %}
        <div class="text-center">
            <ul class="pagination nav navbar-nav">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %} {% for page in page_obj.paginator.page_range %}
                <li class="{% if page_obj.number == page  %}active{% endif %}">
                    <a href="?page={{page }}">{{ page }}</a></li>
                {% endfor %} {% if page_obj.has_next %}
                <li> <a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}