{% extends 'base.html' %}
{% load staticfiles %}
{% block css%}

<style type="text/css">
    .btn-group{
        width: 600px;
    }

</style>
{% endblock css%}
{% block contenido %}
    <div class="panel panel-primary" style="position: relative; top: 10px;">
        <div class="panel-heading">Balance de Ingresos</div>
        <div style="width:90%;margin-top: 28px;    margin: auto;">
            <h4 style="background-color: #E3E3E3;padding: 5px;border-radius: 3px;">Seleccione el rango de fechas para la consulta:</h4
        </div>
        <form id="form_balance" method="post" enctype="multipart/form-data"  style="width:40%;margin-left: 30%;margin-top: 35px;">
        {% csrf_token %}
            <div class="row">
                <label style="font-size: 16px;font-weight: bold;">Fecha de Inicio:</label>
                <input type="text" name="fecha_inicio" id="fecha_inicio" style="width: 100%">
                <label style="font-size: 16px;font-weight: bold;">Fecha Final:</label>
                <input type="text" name="fecha_fin" id="fecha_fin" style="width: 100%">
            </div>
            <div class="row" style="text-align: center;">
                    <input id="mostrar" class="btn btn-primary" type="button" value="Imprimir Listado" style="width:124px;height: 40px;">
            </div>
    </div>

</form>

{% endblock contenido %}

{% block js %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
$(function (){
    $(function () {
        $('#fecha_inicio').datepicker({
            inline: true,
            sideBySide: true,
            format: 'yyyy-mm-dd'
        });
        $('#fecha_fin').datepicker({
            inline: true,
            sideBySide: true,
            format: 'yyyy-mm-dd'
        });
    });

    $("#mostrar").click(function (){
        if(validarCampos()){
            window.open('/inventario/balance/mostrar/'+$('#fecha_inicio').val()+"/"+$('#fecha_fin').val(),'_blank')
        }
    });
});

function validarCampos() {
    var fi= $('#fecha_inicio').val();
    var ff= $('#fecha_fin').val();
    if(fi == "" || ff==""){
        mostrarMensajes("Por favor complete todos los campos obligatorios.");
        return false;
    }else{
        return true;
    }
}
    
</script>
{% endblock js %}