{% extends 'base.html' %}

{% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Modificar datos</div> 
    <form method="post" enctype="multipart/form-data" class="form-group" style="width:60%; margin: auto">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-default" href="{% url 'inventario:listar_categorias' %}">Volver</a>
    </form>
</div>
{% endblock %}
