{% extends 'base.html' %}

{% block contenido %}

<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de categorias</div>
<a class="glyphicon glyphicon-plus" href="{% url 'inventario:crear_categorias' %}">Nuevo</a>
<table class="table table-hover" style="margin-top:50px;width: 90%;margin-left: 5%;">
    {% if categorias %}
        <thead>
            <tr>
                <td>ID</td>
                <td>Descripcion</td>
                <td>Categoria Padre</td>
                <td style="text-align: center">Opciones</td>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id_categoria }}</td>
                <td>{{ categoria.descripcion }}</td> 
                <td>{{ categoria.id_categoria_padre.descripcion }}</td> 
                <td style="text-align: center">
                    <a class="glyphicon glyphicon-pencil" href="{% url 'inventario:editar_categorias' categoria.id_categoria %}"/>
                    <a class="glyphicon glyphicon-remove" href="{% url 'inventario:eliminar_categorias' categoria.id_categoria %}"/>
                </td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <h3>No hay registros de categoria.</h3>
        {% endif %}
    </table>
    {% if is_paginated %}
            <div class="text-center">
            <ul class="pagination nav navbar-nav">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %} {% for page in page_obj.paginator.page_range %}
                <li class="{% if page_obj.number == page  %}active{% endif %}">
                    <a href="?page={{page }}">{{ page }}</a></li>
                {% endfor %} {% if page_obj.has_next %}
                <li> <a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>


{% endblock %}