{% extends 'base.html' %}
{% load staticfiles %}
{% block js %}
    <script type="text/javascript">
        var id_cateogria_padre = 0;
        var id_cateogria_padre_anterior = 0;

        $(function () {
            $('input[type="checkbox"]').on('click', function(){
                /*elem es el check que se acaba de clickear*/
                var elem  = $(this);

                /*agarrro el valor del atributo nivel de el check*/
                var nivel = elem.attr('nivel');
                id_padre = elem.val();
                id_cateogria_padre = id_padre;

                /*recorro todos los check y los demarco*/
                $('input[type="checkbox"]').each(function (i) {
                    $(this).prop('checked',false);

                });
                /*elem se coloca el check*/
                elem.prop('checked',true);

                $('#categoria_2, #categoria_3').fadeOut(200);
                cargarCategoriasHijos(id_padre, nivel);
            });

            $(document).on('click','.categori input[type="checkbox"]',function(){
                id_cateogria_padre_anterior = id_cateogria_padre;
                var elem  = $(this);
                id_padre = elem.val();
                id_cateogria_padre = id_padre;
                /*agarrro el valor del atributo nivel de el check*/
                var nivel = elem.attr('nivel');
                nivel_anterior = nivel - 1;

                /*recorro todos los check y los demarco*/
                $('#nivel_'+nivel_anterior+' input[type="checkbox"]').on().each(function (i) {
                    $(this).prop('checked',false);

                });
                /*elem se coloca el check*/
                elem.prop('checked',true);

                cargarCategoriasHijos(id_padre, nivel);
            });
        });

        function cargarCategoriasHijos(id_padre, nivel){
            $('#nivel_'+nivel).html('');
            $('#categoria_'+nivel).fadeIn(200);
            $.ajax({
                 url: '/inventario/categoria/buscar/',
                 type: 'post',
                 dataType: 'json',
                 data:{categoria : id_padre, csrfmiddlewaretoken: '{{ csrf_token  }}'},
                 success: function (data){
                     xHTML = '';
                     for(i = 0; i < data.length; i++){
                        nuevo_nivel = parseInt(nivel) + 1;
                        xHTML += '<div class="checkbox"> ' +
                             '  <label><input type="checkbox"  nivel = "'+nuevo_nivel+'" value="'+data[i]['pk']+'">' +
                             '       <p class="align">'+data[i]['fields'].descripcion+'</p>' +
                             '   </label> ' +
                             '</div>';

                        $('#nivel_'+nivel).html(xHTML);
                     }
                 }
             });
        }
        function agregarHijo(nivel){
            var categoria_hija = $('#categoria_'+nivel+' input[type="text"]').val();
            nuevo_nivel = parseInt(nivel) + 1;
            
            $.ajax({
                url: '/inventario/categoria/guardar/',
                type: 'post',
                dataType: 'json',
                data:{id_padre : id_cateogria_padre, descripcion : categoria_hija, csrfmiddlewaretoken: '{{ csrf_token  }}'},
                success: function (data){
                    if(data.mensaje == 'exito'){
                        xHTML = '<div class="checkbox"> ' +
                             '  <label><input type="checkbox"  nivel = "'+nuevo_nivel+'" value="'+data.categoria_nueva+'">' +
                             '       <p class="align">'+categoria_hija+'</p>' +
                             '   </label> ' +
                             '</div>';

                        $('#nivel_'+nivel).append(xHTML);
                        $('#categoria_'+nivel+' input[type="text"]').val('');
                        id_cateogria_padre = data.categoria_nueva
                    

                    
                    }
                }
            });
        }
    </script>
{% endblock js%}
{% block contenido %}
<style>
    #categoria_1, #categoria_2, #categoria_3{display: none;}
</style>
    <div class="panel panel-primary panel-vima">
        <div class="panel-heading">Departamento</div>
            <div class="container" id="container_1">
                {% if categorias_padres %}
                    {% for padre in categorias_padres %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="check[]" value="{{padre.id_categoria}}" nivel = "1"><p class="align">{{padre.descripcion}}</p></label>
                        </div>
                        <div class="clear"></div>
                    {%endfor%}
                 {% endif %}   
            </div>

        <!--CREATE CATEGORÌ-->

        <fieldset>
            <legend>Nueva Categoria</legend>
            <div class="row">
            <div id='categoria_1' class="col-md-4">
                <div class="categori">
                    <label style="margin: 0 !important; width: 100%; padding-bottom: 4pt;">
                        <input style="padding: 0;width: 100%;height: 32px; margin: 0 !important;" type="text" placeholder="Categoria">
                        <a onclick="agregarHijo(1)">
                            <img class="img-responsive" src="{% static 'images/icono-guardar.png' %}" alt="">
                        </a>
                    </label>
                        <div class="searchbox" style="border: 1px solid #cccccc; border-left-color: #00b5b3;">
                            <div class="container_2" id="nivel_1">

                            </div>
                        </div>
                </div>
            </div>

          <div id='categoria_2' class="col-md-4">
              <div class="categori">
                    <label style="margin: 0 !important; width: 100%; padding-bottom: 4pt;">
                        <input style="padding: 0;width: 100%; height: 32px; margin: 0 !important;" type="text" placeholder="Sub-Categoria">
                        <a onclick="agregarHijo(2)">
                            <img src="{% static 'images/icono-guardar.png' %}" alt="">
                        </a>
                    </label>
                    <div class="searchbox" style="border: 1px solid #cccccc; border-left-color: #00b5b3;padding-left: 8px;">
                        <div class="container_2"  id="nivel_2">

                        </div>
                    </div>
              </div>
        </div>
          <div id='categoria_3' class="col-md-4">
              <div class="categori">
                    <label style="margin: 0 !important; width: 100%; padding-bottom: 4pt;">
                        <input style="padding: 0;width: 100%;height: 32px; margin: 0 !important;" type="text" placeholder="Detalle de producto">
                        <a onclick="agregarHijo(3)">
                            <img src="{% static 'images/icono-guardar.png' %}" alt="">
                        </a>
                    </label>
                    <div class="searchbox" style="border: 1px solid #cccccc; border-left-color: #00b5b3;padding-left: 8px;">
                        <div class="container_2"  id="nivel_3">

                        </div>
                    </div>
              </div>
          </div>
        </div>
        </fieldset>


    </div>



{% endblock %}


