{% extends 'base.html' %} {% block contenido %}

<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado Para Toma de Inventario</div>
    <H4 style="padding-left: 3%;padding-top: 2%">Filtros:</H4>
    <form method="POST">
        <div style="border: 1px solid #ddd;border-radius: 4px;padding: 1%">
            <input type="hidden" name="almacen" id="almacen" value="{{ almacen }}">
            <input type="hidden" name="categoria" id="categoria" value="{{ categoria }}">
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <label for="almacenes">Almacen:</label>
                        <select class="form-control" name="almacenes" id="almacenes">
                            <option value="0">Todos</option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                    <label for="categorias">Categoría:</label>
                        <select class="form-control" name="categorias" id="categorias">
                            <option value="0">Todas</option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-4'>                   
                    <div class='form-group'>
                         <label></label>
                        <button class="btn btn-primary" type="submit" style="margin-top:30px;">Filtrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-hover">
            {% if lista %}
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Descripcion</td>
                    <td>Talla</td>
                    <td>Color</td>
                    <td>Existencia</td>
                    <td>Almacén</td>
                    <td>Precio</td>
                </tr>
            </thead>
            <tbody>
                {% for item in page %}
                <tr>
                    <td>{{ item.id_producto.id_producto }}</td>
                    <td>{{ item.id_producto.descripcion }}</td>
                    <td>{{ item.talla }}</td>
                    <td>{{ item.color }}</td>
                    <td>{{ item.existencia }}</td>
                    <td>{{ item.id_almacen.descripcion }}</td>
                    <td>{{ item.precio_venta|floatformat:"2" }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <h3>No hay productos en Inventario.</h3>
            {% endif %}
        </table>
    </div>
    {% if page.has_other_pages %}
    <ul class="pagination">
        {% if page.has_previous %}
        <li><a href="?page={{ page.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %} {% for i in page.paginator.page_range %} {% if page.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if page.has_next %}
        <li><a href="?page={{ page.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %} {% if lista %}
    <div style="text-align: center;margin: 15px;">
        <a class="btn btn-primary" target="_blank" href="javascript: Imprimir();" style="height: 40px; padding: 9px;width: 125px">Imprimir Listado</a>
        <a class="btn btn-primary" href="javascript: Conteo();" style="height: 40px; padding: 9px;width: 125px">Iniciar Conteo</a>
    </div>

    {% endif %}
</div>


{% endblock %} {% block js %}
<script type="text/javascript">
    var cod_prod, precio_prod;
    var jsonProd = [];
    var json_general = {};
    $(function () {
        almacen = 0;
        categoria = 0;

        $(document).ready(function () {
            cargarAlmacenes();
            cargarCategorias();
        });
    });

    function cargarAlmacenes() {
        $.ajax({
            dataType: 'json',
            method: 'POST',
            url: '/inventario/cargar',
            success: function (data) {
                for (var i in data) {
                    if ($('#almacen').val() == data[i].pk) {
                        $('#almacenes').append('<option value="' + data[i].pk + '" selected>' + data[i].fields.descripcion + '</option>');
                    } else {
                        $('#almacenes').append('<option value="' + data[i].pk + '">' + data[i].fields.descripcion + '</option>');
                    }
                }
            }
        });
    }
    function cargarCategorias() {
        $.ajax({
            dataType: 'json',
            method: 'POST',
            url: '/inventario/cargarcat',
            success: function (data) {
                for (var i in data) {
                    if ($('#categoria').val() == data[i].pk) {
                        $('#categorias').append('<option value="' + data[i].pk + '" selected>' + data[i].fields.descripcion + '</option>');
                    } else {
                        $('#categorias').append('<option value="' + data[i].pk + '">' + data[i].fields.descripcion + '</option>');
                    }
                }
            }
        });
    }

    function Conteo() {
        window.location = '/inventario/conteo/cargar/' + $('#almacen').val() + "/" + $('#categoria').val()
    }

    function Imprimir() {
        window.open('/inventario/conteo/mostrar/' + $('#almacen').val() + "/" + $('#categoria').val(), '_blank')
    }

</script>
{% endblock js %}