{% extends 'base.html' %}
{% load staticfiles %}

{% block contenido %}

<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado Para Toma de Inventario</div>
    <input type="hidden" id="lista" name="lista" value="{{ page }}">
 <div  class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Descripcion</td>
                <td>Talla</td>
                <td>Color</td>
                <td>Existencia</td>
                <td>Almacén</td>
                <td>Conteo</td>
            </tr>
        </thead>
        <tbody>
            {% for item in page %}
            <tr>
                <tr codigo="{{ item.pk }}">
                    <td>{{ item.id_producto.id_producto }}</td>
                    <td>{{ item.id_producto.descripcion }}</td>
                    <td>{{ item.talla }}</td>
                    <td>{{ item.nombre_color }}</td>
                    <td>{{ item.existencia }}</td>
                    <td>{{ item.id_almacen.descripcion }}</td>
                    <td>
                        <input onKeyPress="return soloNumeros(event);" onkeydown="guardar(event,this.id);" style="width: 90px;" type="text" id="{{ item.pk }}">
                    </td>
                </tr>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% if page.has_other_pages %}
  <ul class="pagination">
    {% if page.has_previous %}
      <li><a href="?page={{ page.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page.paginator.page_range %}
      {% if page.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page.has_next %}
      <li><a href="?page={{ page.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    <div style="text-align: center;margin: 15px;">
        <a class="btn btn-primary" href="/inventario/conteo" style="height: 40px; padding: 9px;width: 125px">Volver</a>
    </div>
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/JQueryRC4.js' %}"></script>
<script type="text/javascript">
var data,fila;
$(function (){

    $(document).ready(function () {

    });
});

function guardar(evento,id){
    if (window.event){ 
        if (window.event.keyCode==13){ 
            $.ajax({
                dataType : 'json',
                method : 'POST',
                url : '/inventario/conteo/guardar',
                data:{'id_lote':id,'contado':$("#"+id).val()},
                success : function(msj) {
                     
                }
            });
        } 
    }else{ 
        if (evento){ 
            if(evento.which==13){ 
                $.ajax({
                dataType : 'json',
                method : 'POST',
                url : '/inventario/conteo/guardar',
                data:{'id_lote':id,'contado':$("#"+id).val()},
                success : function(msj) { 
                    
                }
            });
            } 
        } 
    } 
}


</script>
{% endblock js %}