{% extends 'base.html' %}
{% load staticfiles %}

{% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Departamentos</div>
    <a data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-plus btn-nuevo" style="cursor:pointer">Nuevo</a>

	<div  class="table-responsive">
	    <table class="table table-hover">
	        <thead>
	            <tr>
	                <td>ID</td>
	                <td style="width:80%">Descripción</td>
	                <th></th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for departamento in object_list %}
	            <tr>
	                <td>{{ departamento.id_categoria }}</td>                
	                <td>{{ departamento.descripcion }}</td> 
	                <td style="text-align: center">
	                    <a class="glyphicon glyphicon-pencil" onclick="buscarDepartamento({{ departamento.id_categoria }})"/>
	                    <a class="glyphicon glyphicon-remove" href="/inventario/departamento/eliminar/{{departamento.id_categoria}}"/>
	                </td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	</div>
</div>
{% endblock contenido %}

{% block modal %}
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registrar Departamentos</h4>
      </div>
      <div class="modal-body">
		<form method="post" id="form_departamentos">
			<input type="hidden" name="accion" id="accion" value="guardar">
			<input type="hidden" name="id_categoria" id="pk" value="">
			<div class="row">
				<p class="col-lg-10">
					<label>Departamento</label>
					<input type="text" class="form-control" name="descripcion" id="descripcion_departamento" placeholder="Escriba el nombre del departamento">
				</p>
			</div>
			
			{% csrf_token %}
		</form>        
      </div>
      <div class="modal-footer">
        <button id="btn_save" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>

  </div>
</div>
{% endblock modal %}

{% block js %}
	<script type="text/javascript">
	$(function(){
		$("#btn_save").click(function(){
			if( $("#descripcion").val() == '' ){
				mostrarMensajes("Por favor ingrese el nombre del departamento");
				return;
			}
			$.ajax({
		        dataType : 'json',
		        method : 'POST',
		        url : '/inventario/departamento/guardar',
		        data : $("#form_departamentos").serialize(),
		        success : function(data) {
		        	$("#myModal").modal("hide");
		            if(data.mensaje == 'exito'){
		            	window.location.href = "/inventario/departamentos"
		            }
		            mostrarMensajes(data.mensaje)
		        }
		    });
		})
	});
	function buscarDepartamento(id_departamento){
		$.ajax({
		        dataType : 'json',
		        method : 'POST',
		        url : '/inventario/departamento/buscar',
		        data : {departamento : id_departamento},
		        success : function(data) {		        	
		        	$('#accion').val("actualizar");
		        	$('#descripcion_departamento').val(data.descripcion); 
		        	$('#pk').val(data.id);
		        	$("#myModal").modal("show");
		            
		        }
		    });
	}
	</script>
{% endblock js %}