{% extends 'base.html' %}
{% load staticfiles %}
{% block css%}

<style type="text/css">
    .btn-group{
        width: 600px;
    }

</style>
{% endblock css%}
{% block contenido %}
    <div class="panel panel-primary panel-vima">
        <div class="panel-heading">Despacho de Pedidos</div>
            <h4 style="background-color: #E3E3E3;padding: 5px;border-radius: 3px;">Detalles del Despacho:</h4>
         <div  class="table-responsive">
            <table style="width: 100%">
                <thead>
                    <tr style="font-weight: bold; ">
                        <td>N° Despacho</td>
                        <td>Cliente</td>
                        <td>Fecha de Predespacho</td>
                        <td>Dirección de Envio</td>
                        <td>Courier</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ despacho.id_despacho }}</td>
                        <td>{{ despacho.id_venta.id_cliente.id}} - {{ despacho.id_venta.id_cliente.user.first_name }} {{ despacho.id_venta.id_cliente.user.last_name }}</td>
                        <td>{{ despacho.fecha_predespacho }}</td> 
                        <td>{{ despacho.id_venta.direccion_envio }}</td>
                        <td>{{ despacho.courier }}</td>
                    </tr>
                    </tbody>
            </table>
        </div>
            <h4 style="background-color: #E3E3E3;padding: 5px;border-radius: 3px;">Articulos a Despachar:</h4>
        <div  class="table-responsive">
            <table class="table-striped"  style="width: 100%">
                <thead>
                    <tr style="font-weight: bold; ">
                        <td>Codigo</td>
                        <td>Producto</td>
                        <td>Talla</td>
                        <td>Color</td>
                        <td>Cantidad</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in detalle %}
                    <tr>
                        <td>{{ item.id_producto.id_producto }}</td>
                        <td>{{ item.id_producto.descripcion }}</td>
                        <td>{{ item.talla }}</td> 
                        <td>{{ item.nombre_color }}</td>
                        <td>{{ item.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
        <form id="form_despacho" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="despacho" id="despacho" value="{{ despacho.id_despacho }}">
            <div class="row">
                <label style="font-size: 16px;font-weight: bold;">Ingrese el Nro. de Tracking:</label>
                <input type="text" name="track" id="track" style="width: 100%">
                <label style="font-size: 16px;font-weight: bold;">Fecha de Despacho:</label>
                <input type="text" name="fecha_despacho" id="fecha_despacho" style="width: 100%">
            </div>
            <div class="center-bottom">
                    <input id="despachar" class="btn btn-primary" type="button" value="Guardar">
                    <a class="btn btn-default" href="/inventario/despacho">Cancelar</a>
            </div>
    </div>

</form>

{% endblock contenido %}

{% block js %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
$(function (){
    $(function () {
        $('#fecha_despacho').datepicker({
            inline: true,
            sideBySide: true,
            format: 'yyyy-mm-dd'
        });
    });

    $("#despachar").click(function (){
        if(validarCampos()){
            var day = $('#fecha_despacho').datepicker('getDate').getDate();
            var month = $('#fecha_despacho').datepicker('getDate').getMonth() + 1;
            var year = $('#fecha_despacho').datepicker('getDate').getFullYear();
            var fecha = year + "-" + month + "-" + day;

            $.ajax({
                url: '/inventario/despacho/procesar/'+$("#despacho").val(),
                type: 'POST',
                data: {
                    'id':$("#despacho").val(),
                    'track':$("#track").val(),
                    'fecha_despacho':fecha,
                },
                dataType: 'json',
                success: function(msj) {
                    mostrarMensajes(msj.mensaje);
                    setTimeout(function(){ window.location='/inventario/despacho' }, 3000);
                }
            });
        }
    });
});

function validarCampos() {
     var cou = $('#courier').val();

    if(cou == ""){
        mostrarMensajes("Por favor complete todos los campos obligatorios.");
        return false;
    }else{
        return true;
    }
}
    
</script>
{% endblock js %}