{% extends 'base.html' %}
{% load staticfiles %}
{% block css%}

<style>
.form-control{
        bottom: 4px !important;
        position: relative !important;
        height: 30px !important;
    }
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active{
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}
</style>
{% endblock css%}

{% block contenido %}

<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Despacho de Pedidos</div>
{% if object_list %}
<div class="row" style="margin-left: 5%;">
        <h4>Listado de Predespachos pendientes:</h4>
</div>
{% endif %}
<div  class="table-responsive">
    <table class="table table-hover">
    {% if object_list %}
        <thead>
            <tr>
                <td>Codigo Despacho</td>
                <td>Cliente</td>
                <td>Fecha Predespacho</td>
                <td>Courier</td>
                <td style="text-align: center">Opciones</td>
            </tr>
        </thead>
        <tbody>
            {% for despacho in object_list %}
            <tr>
                <td>{{ despacho.id_despacho }}</td>
                <td>{{ despacho.id_venta.id_cliente.id }} - {{ despacho.id_venta.id_cliente.user.first_name }} {{ despacho.id_venta.id_cliente.user.last_name }}</td>
                <td>{{ despacho.fecha_predespacho }}</td> 
                <td>{{ despacho.courier }}</td>
                <td style="text-align: center">
                    <a class="glyphicon glyphicon-export" title="Procesar Despacho" href="/inventario/despacho/procesar/{{despacho.id_despacho}}"/>
                    <a class="glyphicon glyphicon-print" target="_blank" title="Reimprimir Predespacho" href="/inventario/predespacho/mostrar/{{despacho.id_despacho}}"/>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% if is_paginated %}
        <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
        </ul>
    {% endif %}
        {% else %}
            <h3>No hay pre-despachos pendientes.</h3>
        {% endif %}
    
</div>


{% endblock %}
{% block js %}
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
{% endblock %}
