{% extends 'base.html' %}

{% block contenido %}

<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de Existencia</div>
    <H4 style="padding-left: 3%;padding-top: 2%">Filtros:</H4>
    <form method="POST">
    <div style="border: 1px solid #ddd;border-radius: 4px;padding: 1%">
        <div class='row'>
                <div class='col-sm-4'>
                    <label>Almacen:</label>  
                    <div class='form-group'>
                        <select class="form-control" name="almacenes" id="almacenes" style="width: 90%">
                            <option value="0">Todos</option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <label>Por existencia:</label>
                    <div class='form-group'>
                        <input type="radio" name="ex" id="todos" value="0" style="height: inherit" checked>
                        <span style="font-size: 13px;">Todos</span>
                        <input type="radio" name="ex" id="con_existencia" value="1" style="height: inherit">
                        <span style="font-size: 13px;">Con existencia</span>
                        <input type="radio" name="ex" id="sin_existencia" value="2" style="height: inherit">
                        <span style="font-size: 13px;">Sin existencia</span>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <label>Publicado:</label>
                    <div class='form-group'>
                        <input type="radio" name="pu" id="todos_pu" value="0" style="height: inherit" checked>
                        <span style="font-size: 15px;">Todos</span>
                        <input type="radio" name="pu" id="si" value="1" style="height: inherit">
                        <span style="font-size: 15px;">Si</span>
                        <input type="radio" name="pu" id="no" value="2" style="height: inherit">
                        <span style="font-size: 15px;">No</span>
                    </div>
                </div>
        </div>
        <div class="center-bottom">
            <button class="btn btn-primary" type="submit">Filtrar</button>
        </div>
    </div>
</form>
 <div  class="table-responsive">
    <table class="table table-hover">
    {% if lista %}
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Descripcion</td>
                <td>Talla</td>
                <td>Color</td>
                <td>Existencia</td>
                <td>Almacén</td>
                <td>Precio</td>
                <td>Publicado</td>
            </tr>
        </thead>
        <tbody>
            {% for item in page %}
            <tr>
                <td>{{ item.id_producto.id_producto }}</td>
                <td>{{ item.id_producto.descripcion }}</td>
                <td>{{ item.talla }}</td> 
                <td>{{ item.color }}</td>
                <td>{{ item.existencia }}</td>
                <td>{{ item.id_almacen.descripcion }}</td>
                <td>{{ item.precio_venta|floatformat:"2" }}</td>
                {% if item.publicado %}
                    <td>
                        Si
                    </td>
                {% else %}
                    <td>
                        No
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% if page.has_other_pages %}
  <ul class="pagination">
    {% if page.has_previous %}
      <li><a href="?page={{ page.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page.paginator.page_range %}
      {% if page.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page.has_next %}
      <li><a href="?page={{ page.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

        {% else %}
            <h3>No hay productos en Inventario.</h3>
        {% endif %}
    
</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
var cod_prod, precio_prod;
var jsonProd = [];
var json_general = {};
$(function (){

    $(document).ready(function () {
        cargarAlmacenes();
    });
});

function cargarAlmacenes() {
    $.ajax({
                dataType : 'json',
                method : 'POST',
                url : '/inventario/cargar',
                success : function(data) {
                    for (var i in data){
                        $('#almacenes').append('<option value="'+ data[i].pk +'">'+ data[i].fields.descripcion +'</option>');
                    }
                }
            });
}
</script>
{% endblock js %}