{% extends 'base.html' %} {% block contenido %}
<div class="panel panel-primary panel-vima">
	<div class="panel-heading">Confirmar Eliminación</div>
	<div class="row">
		<form method="post" style="text-align: center;">
			{% csrf_token %}
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="alert alert-warning">
					<h4>¿Está seguro que desea eliminar el registro?</h4>
					<button class="btn btn-primary" type="submit">Si</button>
					<a class="btn btn-default" href="{% url 'inventario:listar_marcas' %}">No</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}