{% extends 'base.html' %}
{% load staticfiles %}
{% block css%}

<style type="text/css">
    .btn-group{
        width: 600px;
    }

</style>
{% endblock css%}
{% block contenido %}
    <div class="panel panel-primary panel-vima">
        <div class="panel-heading">Pre-despacho de Pedidos</div>
            <h4 style="background-color: #E3E3E3;padding: 5px;border-radius: 3px;">Detalles del Pedido:</h4>
        <div  class="table-responsive">
            <table style="width: 100%">
                <thead>
                    <tr style="font-weight: bold; ">
                        <td>Codigo de Compra</td>
                        <td>Cliente</td>
                        <td>Fecha de la compra</td>
                        <td>Dirección de Envio</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ venta.id_venta }}</td>
                        <td>{{ venta.id_cliente.id }} - {{ venta.id_cliente.user.first_name }} {{ venta.id_cliente.user.last_name }}</td>
                        <td>{{ venta.fecha }}</td> 
                        <td>{{ venta.direccion_envio }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <h4 style="background-color: #E3E3E3;padding: 5px;border-radius: 3px;">Articulos a Despachar:</h4>
         <div  class="table-responsive">
            <table  class="table-striped" style="width: 100%">
                <thead>
                    <tr style="font-weight: bold; ">
                        <td>Codigo</td>
                        <td>Producto</td>
                        <td>Talla</td>
                        <td>Color</td>
                        <td>Cantidad</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in detalle %}
                    <tr>
                        <td>{{ item.id_producto.id_producto }}</td>
                        <td>{{ item.id_producto.descripcion }}</td>
                        <td>{{ item.talla }}</td> 
                        <td>{{ item.nombre_color }}</td>
                        <td>{{ item.cantidad }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
        <form id="form_despacho" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="venta" id="venta" value="{{ venta.id_venta }}">
            <div class="row">
                <label style="font-size: 16px;font-weight: bold;">Ingrese el Courier:</label>
                <input type="text" name="courier" id="courier" style="width: 100%">
            </div>
            <div class = "center-bottom">
            <input id="predespachar" class="btn btn-primary" type="button" value="Guardar">
            <a class="btn btn-default" href="/inventario/predespacho">Cancelar</a>
            </div>
</form>

{% endblock contenido %}

{% block js %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
$(function (){
    $("#predespachar").click(function (){
        if(validarCampos()){
            $.ajax({
                url: '/inventario/despacho/crear/'+$("#venta").val(),
                type: 'POST',
                data: {
                    'id':$("#venta").val(),
                    'courier':$("#courier").val(),
                },
                dataType: 'json',
                success: function(msj) {
                    mostrarMensajes(msj.mensaje);
                    setTimeout(function(){ 
                        window.open('/inventario/predespacho/mostrar/'+msj.id,'_blank');
                        window.location='/inventario/predespacho' }, 3000);
                }
            });
        }
    });
});

function validarCampos() {
     var cou = $('#courier').val();

    if(cou == ""){
        mostrarMensajes("Por favor complete todos los campos obligatorios.");
        return false;
    }else{
        return true;
    }
}
    
</script>
{% endblock js %}