{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<style type="text/css">
input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    }
    .margin{
        margin-bottom: 8px;
    }
    .buton{
        float: left;height: 14px;cursor: pointer;
    }

#ff .bootstrap-select{
    margin-top: 25px !important;
}
#cont2 .bootstrap-select{
   width:100% !important;
}
.tam{
    width:130px;
}
.panel-vima form {
    padding:0 !important;
}
#Colores .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
    float: left !important;
}
</style>
{% endblock css %}
{% block contenido %}
    <div class="">
        <div class="panel panel-primary panel-vima">
            <div class="panel-heading">Catalogo de productos</div>
            <form id="catalogo" method="post" enctype="multipart/form-data" class="form-group" style="margin: auto">
                {% csrf_token %}
                <input type="hidden" id="atributos_prod" name="atributos_prod" value="{{json_attrib}}" rules="rules">
                <input type="hidden" id="old_atributos" name="old_atributos" value="{{json_attrib}}" rules="rules">
                <input type="hidden" id="back_departamento" name="back_departamento" value="{{cat.departamento}}" rules="rules">
                <input type="hidden" id="back_categoria" name="back_categoria" value="{{cat.categoria}}" rules="rules">
                <input type="hidden" id="back_subcategoria" name="back_subcategoria" value="{{cat.subcat}}" rules="rules">
                <input type="hidden" id="back_detalle" name="back_detalle" value="{{cat.detalle}}" rules="rules">
                {{form.atributos}}

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group" style="margin-top: 10px; float: left; width: 98%;">
                        <label for="{{form.descripcion.name}}">{{form.descripcion.label}}</label>
                        {{form.descripcion}}
                        <label for="{{form.id_proveedor.name}}">{{form.id_proveedor.label}}</label>
                        {{form.id_proveedor}}
                         <label for="{{form.id_marca.name}}">{{form.id_marca.label}}</label>
                        {{form.id_marca}}
                        <label for="{{form.precio_proveedor.name}}">{{form.precio_proveedor.label}}</label>
                        {{form.precio_proveedor}}

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="top: 7px;padding-left: 6px;padding-right: 6px;">
                    <label for="">Departamentos</label>
                        {% if categorias_padre %}
                            {% for padre in categorias_padre %}
                                <div class="form-control margin">
                                {% if cat.departamento == padre.id_categoria %}
                                    <input  checked="checked" type="radio" name="check[]" value="{{ padre.id_categoria }}" nivel = "1" class="buton">
                                    <p style="float: left;">{{ padre.descripcion }}</p>
                                 {% else %}
                                    <input type="radio" name="check[]" value="{{ padre.id_categoria }}" nivel = "1" class="buton">
                                    <p style="float: left;">{{ padre.descripcion }}</p>
                                {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                </div>
                <div id="cont2" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-left: 6px;padding-right: 6px;">
                    <div  id="ff">
                        <select id="id_cat" name="id_cat" rules="rules" class="selectpicker" data-live-search="true" title="Categoria" style="margin-top: 25px !important;"></select>
                    </div>
                    <select id="id_cat_hija" name="id_cat_hija" rules="rules" class="selectpicker" data-live-search="true" title="Sub - Categoria"></select>
                    <select id="id_cat_hijaD" name="id_cat_hijaD" rules="rules" class="selectpicker" data-live-search="true" title="Detalle del Producto"></select>
                </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="add-color" class="form-control" style="width: 115px;float: left;cursor: pointer;position: relative;">
                        <span class="glyphicon glyphicon-plus" style="float: left;" aria-hidden="true"></span>
                        <div style="float:left;position: relative;left: 10px;">Agregar</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul id="Colores" style="float: left; padding: 0px; list-style:none;width: 100%;"></ul>
                </div>

                <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3" style="margin-top: 10px;"> <input id="guardar" class="btn btn-primary" type="button" value="Guardar" style="width: 126px;" /></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 " style="margin-top: 10px;"><a class="btn btn-primary" href="/inventario/producto" style="height: 30px;width: 126px;margin-top: 3px">Volver</a></div>
            </form>
        </div>
     </div>
<li class="col-colores" clon="0" style="display: none; margin-top:11px;float:left;    width: 100%;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
        <img id="preview_image" class="foto" style="border-radius:126px;width: 40px;height: 40px;float: left;">
        <input type="text" id="nombre_color" name="nombre_color[]" class="form-control tam" style="float:left;">
        <input  type="text" id="codigo_color" name="codigo_color[]" class="form-control tam jscolor{onFineChange:'update(this)'}" style="float:left;">
        {{form.grupo_talla}}
        <select id="Tallas" name="Tallas[]" class="tallasS" multiple data-width="130px" title="Tallas" style="float:left;"></select>
        <div style="background: url('{% static 'images/add_image2.png' %}')no-repeat;;width: 32px;height: 32px;float: left;overflow: hidden;cursor: pointer;position: relative;top: 5px;">
        <input type="file" onchange="readURL(this);"  id="imagen" name="imagen" class="file form-control" style="opacity: 0.1;border:none;max-width: 100%;float:right;cursor: pointer;">
        <input type="hidden" name="ruta-imagen[]" />
        </div>
        <input type="hidden" id="rgb_str" name="rgb_str[]" class="form-control">
        <span class="glyphicon glyphicon-trash" aria-hidden="true" style="float: left;width: 6%;text-align: center;font-size:20px;top: 8px;cursor: pointer;"></span>
    </div>

</li>
{% endblock %}
{% block js %}

<script src="{% static 'js/jscolor.js' %}"></script>
<script type="text/javascript">
var caracteristicas=[];
 var bd, id_categoria,sud_categoria;
 var atr = JSON.parse($("#atributos_prod").val());
$(function (){


    $(document).on("click","#add-color",function () {
        agregarColores();
    });

    $("#Colores").on("click",".glyphicon-trash",function () {
        var padre = $(this).parents('li');
        var clon = padre.attr('clon');
        if(clon > 1)
            $("li[clon='"+clon+"']","#Colores").remove();

    });

    $("#guardar").click(function (){
        caracteristicas=[];
        $("input[name='nombre_color[]']","#Colores").each(function(i){
            var nombre_color=$(this).val();
            var codigo_color=$("input[name='codigo_color[]']:eq('"+i+"')","#Colores").val();
            var tallas=$("select[name='Tallas[]']:eq('"+i+"')","#Colores").val();
            var grupo= $("select[name='grupo_talla']:eq('"+i+"')","#Colores").val();
            var ruta_imagen= $("input[name='ruta-imagen[]']:eq('"+i+"')","#Colores").val();
            caracteristicas[i]={nombre_color:nombre_color,codigo_color:codigo_color,grupo:grupo,tallas:tallas,ruta_imagen:ruta_imagen}
        });
        $("#atributos_prod").val(JSON.stringify(caracteristicas));
        var error = true;
        var error2 = true;
        $('.foto',"#catalogo").each(function(){
            var src=$(this).attr('src');
            if(typeof src == 'undefined'){
                mostrarMensajes('Debe agregar la imagen en las caracteristicas');
               error2=false;
               return false;
            }
        });
        $('#id_descripcion, #atributos_prod, #id_cat',"#catalogo").each(function(i){
            $(this).css('border-color','none');
		    if($(this).val() == ''){
		        $(this).css('border-color','#f9243f');
               mostrarMensajes('Debe rellenar los campos requeridos');
               error=false;
		        return false;
			}
		});

        if(error == true && error2 == true){
            $("#catalogo").submit();
        }

    });
    $("input[name='check[]']").click(function (){
        var id_categoria = $(this).val();
        var hija = false;
        buscarCategorias(id_categoria,hija)
    });
    $("#id_cat").change(function (){
        var id_categoria = $(this).val();
        var hija = true;

        buscarCategorias(id_categoria,hija);
    });
     $("#Colores").on("changed.bs.select","select[name='grupo_talla']",function (e) {
        var obj = $(this).attr("num");
        var grupo = $(this).val();
        buscarTallas(grupo,obj);
    });


    $("#id_cat_hija").change(function (){
        var id_categoria = $(this).val();
        var hija = true;
        buscarCategorias(id_categoria,hija);
    });
    agregarColores();

    bd =parseInt($("#back_departamento").val());
    id_categoria = $("#back_categoria").val();
    sud_categoria = $("#back_subcategoria").val();
     rellenarCampos();
     llenaratributos();
});
var id_color,id_rgb_str;
function rellenarCampos(){
   buscarCategorias(bd,false);

 buscarCategorias(id_categoria,true);
 buscarCategorias(sud_categoria,true);


}
function agregarColores() {
    clon = $(".col-colores").length;

    $colores = $("li[clon=0]")
        .clone(true)
        .attr("clon", clon)
        .css({'display': 'block'})
        .appendTo($("#catalogo").find("#Colores"));
    var cod_color = "codigo_color" + clon;
    var rgb_str = "rgb_str" + clon;
    var id_grupo_talla = "id_grupo_talla_" + clon;
    var Tallas = "Tallas_" + clon;
    var rutaImagen= "ruta-imagen_"+ clon;
    $colores.find("#nombre_color").attr("id", "nombre_color" + clon);
    $colores.find("#codigo_color").attr("id", cod_color);
    $colores.find("#id_grupo_talla").attr("id", id_grupo_talla).attr("num",clon);
    $colores.find("#Tallas").attr("id",Tallas).html("");
    $colores.find("#ruta-imagen").attr("id",rutaImagen);

    $colores.find('#'+Tallas).selectpicker();
    $colores.find('#'+id_grupo_talla).selectpicker();
    $colores.find("#preview_image").attr("id", "preview_image" + clon);
    $colores.find("#imagen").attr("id", "imagen" + clon).attr("num", clon);

    $colores.find("#rgb_str").attr("id", rgb_str);
    $("input", ".col-colores[clon=" + (clon) + "]").each(function () {
        $(this).val("");
    });
     jsc.init();
    id_color = cod_color;
    id_rgb_str = rgb_str;

    $colores.find('.selectpicker').selectpicker();
}
function buscarCategorias(categoria,hija){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/inventario/categoria/buscar/',
        data : {
            categoria: categoria,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            var opciones = "";
            var Sub=false;
            $.each(data,function(indice, valor){//selected
                if(sud_categoria == valor.pk){
                    Sub=true;

                }
                opciones+='<option selected value="'+valor.pk+'" data-tokens="'+valor.fields.descripcion+'">'+valor.fields.descripcion+'</option>';
            });
            if(hija == false){
               $("#id_cat").html(opciones);
            }else{
                var hijas = $("#id_cat_hija").val();
                if(Sub == true){
                   $("#id_cat_hija").html(opciones);
                }else{
                    $("#id_cat_hijaD").html(opciones);
                }
            }
            $('.selectpicker').selectpicker('refresh');
        }
    });
}
function  buscarTallas(grupo,obj,tallas){
    var selector = "#Tallas_"+obj;
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/inventario/producto/get_talla/',
        data : {
            grupo : grupo,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            var opciones = "";

            $.each(data,function(indice, valor){
                 var select="";

                 if(tallas != null){
                         $.each(tallas,function (ind,t){
                            if(valor.fields.descripcion == t){
                            select="selected";
                            }
                        });


                 }

                 opciones+='<option '+select+' value="'+valor.fields.descripcion+'" data-tokens="'+valor.fields.descripcion+'">'+valor.fields.descripcion+'</option>';
            });

            $(selector).html(opciones);
            $(selector).selectpicker('refresh');
        }
    });
}

function update(picker) {
 $("#"+id_rgb_str).val(picker.toRGBString());
    document.getElementById(id_rgb_str).innerHTML = picker.toRGBString();
}
function readURL(input) {
    var posicion = input.getAttribute('num');
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview_image'+posicion).attr('src', e.target.result);
            $('#ruta-imagen_'+posicion).val(input.files[0].name);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
function llenaratributos() {
    var grupo=[];
    $.each(atr,function (i,val) {
       if(i > 0){
           agregarColores();
       }

        var group = grupo.indexOf(val.grupo);
        $(".foto:eq("+i+")").attr('src','/media/'+val.ruta_imagen);
        $("input[name='nombre_color[]']:eq("+i+")").val(val.nombre_color);
        $("input[name='codigo_color[]']:eq("+i+")").val(val.codigo_color);
        $("select[name='grupo_talla']:eq("+i+")").val(val.grupo).selectpicker('refresh');
        if(group == '-1'){
            grupo.push(val.grupo);
            //$("select[name='grupo_talla']:eq("+i+")").append('<option value="'+val.grupo+'">'+val.grupo+'</option>');


        }
        $("select[name='grupo_talla']:eq("+i+")").selectpicker('val',val.grupo).selectpicker('refresh');
        var tallas = $("select[name='grupo_talla']:eq("+i+")").attr("num");
        $("input[name='ruta-imagen[]']:eq("+i+")").val(val.ruta_imagen);
        buscarTallas(val.grupo,tallas,val.tallas);

    })
}
</script>
{% endblock js %}

