{% extends 'base.html' %} {% block css %}
<style type="text/css">
    .table thead td {
        width: 16% !important;
    }
    
    .nuevo {
        padding: 4px 13px;
        font-size: 12pt;
    }
.panel-vima form {
    padding: 0 !important;
}
</style>
{% endblock css %} {% block contenido %}
<div class="panel panel-primary panel-vima" >
    <div class="panel-heading">Listado de Productos</div>
    <a class="glyphicon glyphicon-plus nuevo" href="{% url 'inventario:crear_productos' %}">Nuevo</a>

    <div class="table-responsive">
        <table class="table table-hover">
            {% if productos %}
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Descripcion</td>
                    <td>Categoria</td>
                    <td>Marca</td>
                    <td>Proveedor</td>
                    <td style="text-align: center">Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id_producto }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.id_categoria.descripcion }}</td>
                    <td>{{ producto.id_marca.descripcion }}</td>
                    <td>{{ producto.id_proveedor.nombre_empresa }}</td>
                    <td style="text-align: center">
                        <a class="glyphicon glyphicon-pencil" href="{% url 'inventario:editar_productos' producto.id_producto %}" />
                        <a class="glyphicon glyphicon-remove" href="{% url 'inventario:eliminar_productos' producto.id_producto %}" />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <h3>No hay registros de productos.</h3>
            {% endif %}
        </table>
        {% if is_paginated %}
        <div class="text-center">
            <ul class="pagination nav navbar-nav">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %} {% for page in page_obj.paginator.page_range %}
                <li class="{% if page_obj.number == page  %}active{% endif %}">
                    <a href="?page={{page }}">{{ page }}</a></li>
                {% endfor %} {% if page_obj.has_next %}
                <li> <a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}