{% extends 'base.html' %} {% load staticfiles %} {% block css %}
<style type="text/css">
    .hide-bullets {
        list-style: none;
        margin-left: -40px;
        margin-top: 20px;
    }

    .tamano {

        height: 250px !important;
    }

    .carousel-control.left {
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, -1.8) 100%) !important;
    }

    .carousel-control.right {
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, -1.8) 0%, rgba(0, 0, 0, .1) 100%) !important;
    }

    .carousel-control:hover,
    .carousel-control:focus {

        opacity: .7 !important;
    }
</style>
{% endblock css %} {% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Publicar productos</div>
    <form id="publicar" method="post" enctype="multipart/form-data" action="/inventario/producto/publicar/" class="form-group"
        style="margin: auto">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-4col-md-4 col-lg-4">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="main_area" style="position: relative;top: 10px;">
                        <!-- Slider -->
                        <div class="row">
                            <div class="col-xs-12" id="slider">
                                <!-- Top part of the slider -->
                                <div class="row">
                                    <div class="col-sm-12" id="carousel-bounding-box">
                                        <div class="carousel slide" id="myCarousel">
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                                <div class="active item" data-slide-number="0">
                                                    <img class="tamano" src="{% static 'images/website/fondo-vima2.jpg' %}">
                                                </div>
                                            </div>
                                            <!-- Carousel nav -->
                                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/Slider-->
                        <div class="row hidden-xs" id="slider-thumbs">
                            <!-- Bottom switcher of slider -->
                            <ul id="thumbnail" class="hide-bullets">
                                <li class="col-sm-4">
                                    <a class="thumbnail" id="carousel-selector-0"><img src="{% static 'images/website/fondo-vima2.jpg' %}"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div style="float: left; width: 100%; height: 5px;"></div>

                <label for="lote" style="padding-bottom: 4px;">Lote:</label>
                <div class="searchbox" style=" width: 98%;">
                    <input placeholder="Buscar" id="lote" type="text" name="lote" style="float:left;height: 34px;text-align: right;padding: 4px;">
                    <span
                        title="Buscar Lote" id="buscarLote" style="float:left;margin-top: 8px;cursor: pointer;font-size: 16pt;"
                        class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <div class="results" style="position: absolute;z-index: 1000;width: 95%;margin: 0px auto 0px 6px;border-radius: 4px;border: 1px solid rgb(204, 204, 204);background: rgb(247, 247, 247) none repeat scroll 0% 0%;opacity: 0.8;display: none;overflow: auto;height: 60px;">
                            <h1 class="error" style="font-size: 14px; margin: 21px; text-align: center; font-weight: bold;"></h1>
                            <div class="wrapper"></div>
                        </div>
                </div>
                <div style="float: left; width: 100%; height: 10px;"></div>

                <div class="table-responsive">
                    <table id="Productos" class="table" style="margin: 8px; border: 1px solid #dddddd;">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Color</th>
                                <th>Marca</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Imagenes</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="form-group" style="margin-top: 10px; float: left; width: 98%;">
                    <label for="{{form.titulo.name}}">{{form.titulo.label}}</label> {{form.titulo}}
                    <label for="{{form.descripcion.name}}">{{form.descripcion.label}}</label> {{form.descripcion}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-offset-4">
                <div style="margin: 0px auto 10px; text-align: center; width: 98%;">
                    <input id="publicar_prod" class="btn btn-primary" type="button" value="Publicar" style="width: 126px;" />
                </div>
            </div>
    </form>
    </div>
    {% endblock %} {% block js %}

    <script type="text/javascript">
        var imagenes = [];
        $(function () {
            $('#myCarousel').carousel({
                interval: 5000
            });
            $('#carousel-text').html($('#slide-content-0').html());
            //Handles the carousel thumbnails
            $('[id^=carousel-selector-]').click(function () {
                var id = this.id.substr(this.id.lastIndexOf("-") + 1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
            });


            // When the carousel slides, auto update the text
            $('#myCarousel').on('slid.bs.carousel', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-' + id).html());
            });
            $("#publicar_prod").click(function () {
                $("#publicar").submit();
            });
            $("#buscarLote").click(function () {
                var lote = $('#lote').val();
                $.ajax({
                    dataType: 'json',
                    method: 'POST',
                    url: '/inventario/producto/obtener_lote/',
                    data: {
                        id_recepcion: lote,
                        csrfmiddlewaretoken: '{{ csrf_token  }}'
                    },
                    success: function (data) {
                        if (data.mensaje == 'error')
                            mostrarMensajes("No existe el numero de recepción ingresado");
                        else {
                            mostrar(data);
                        }
                    }
                });
            });
            
            $(document).on("click", ".ver_img", function () {
                var li = "";
                var liT = "";
                for (var i in imagenes) {
                    if (i == 0) {
                        li += '<div class="active item" data-slide-number="' + i + '">' +
                            '<img class="tamano" src="/media/' + imagenes[i] + '" />' +
                            '</div>';
                        liT += '<li class="col-sm-4">' +
                            '<a class="thumbnail" id="carousel-selector-' + i + '"><img src="/media/' + imagenes[i] + '"></a>' +
                            '</li>';
                    } else {
                        li += '<div class="item" data-slide-number="' + i + '">' +
                            '<img class="tamano" src="/media' + imagenes[i] + '" />' +
                            '</div>';
                        liT += '<li class="col-sm-4">' +
                            '<a class="thumbnail" id="carousel-selector-' + i + '"><img src="/media/' + imagenes[i] + '"></a>' +
                            '</li>';
                    }

                }
                $(".carousel-inner").html(li);//thumbnail
                $("#thumbnail").html(liT);
                $('#myCarousel').carousel({
                    interval: 5000
                });
            });

        });

        function mostrar(data) {

            var tabla = "";

            $.each(data, function (index, valor) {
                $.each(valor.rutas_imagenes, function (ind, img) {
                    imagenes[ind] = img;
                });
                $.each(valor.caracteristicas, function (i, car) {
                    var sumar = 0;
                    var c = 0;
                    tabla += '<tr>';
                    tabla += '<td>' +

                        '<div style="text-align: center;">' + valor.nombre_prod + '</div>' +
                        '<table style="width: 100%;text-align: center;"><tr>';
                    $.each(car.tallas, function (j, size) {
                        c++;
                        tabla += '<td>' + size + '</td>';

                    });
                    tabla += '</tr><tr>';

                    $.each(car.cantidad, function (j, can) {
                        sumar += car.cantidad[j];
                        tabla += '<td>' + can + '</td>';

                    });
                    var campos = valor.cod_prod + "-#" + car.codigo_color;
                    tabla += '</tr></table>';
                    tabla += '</td>' +
                        '<td>' +
                        '<div style="border-radius: 6px;text-align: center;vertical-align: middle;background:#' + car.codigo_color + '">' + car.codigo_color + '</div>' +
                        '</td>' +
                        '<td>' +
                        '<div>' + valor.marca + '</div>' +
                        '</td>' +
                        '<td>' +
                        '<div style="text-align: center;">' + valor.precio_venta + '</div>' +
                        '</td>' +
                        '<td>' +
                        '<div style="text-align: center;">' + sumar + '</div>' +
                        '</td>' +
                        '<td>' +
                        '<div style="text-align: center;margin: 0 auto;width: 75%;"><input class="btn btn-primary ver_img" type="button" value="Ver"/></div>' +
                        '</td>' +
                        '<td>' +
                        '<div style="margin: 0 auto; width: 25%;cursor:pointer;">' +
                        '<input type="checkbox" id="seleccionar" class="slec" name="seleccionado[]" value="' + campos + '" />' +
                        '</div>' +
                        '</td>';
                    tabla += '</tr>';
                });


            });
            $("#Productos tbody").html(tabla);

        }

    </script>
    {% endblock js %}