{% extends 'base.html' %}

{% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Confirmar Eliminación</div>
		<form method="post" style="text-align: center;">
			{% csrf_token %}
			<div class="alert alert-warning" style="width: 50%;margin: auto;margin-top: 14px;">
				<h4>¿Está seguro que desea eliminar el registro?</h4>
				<button class="btn btn-primary" type="submit">Si</button>
				<a class="btn btn-default" href="{% url 'inventario:listar_tallas' %}">No</a>
			</div>
		</form>
	</div>		
{% endblock %}