{% extends 'base.html' %} {% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de Tallas</div>
    <a class="glyphicon glyphicon-plus btn-nuevo" href="{% url 'inventario:crear_tallas' %}">Nuevo</a>
    <div class="table-responsive">
        <table class="table table-hover">
        {% if tallas %}
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Descripcion</td>
                    <td>Grupo</td> 
                    <td style="text-align: center">Opciones</td>
                </tr>
            </thead>
            <tbody>
            {% for talla in tallas %}
                <tr>
                    <td>{{ talla.id_talla }}</td>
                    <td>{{ talla.descripcion }}</td>
                    <td>{{ talla.id_grupo }}</td> 
                    <td style="text-align: center">
                    <a class="glyphicon glyphicon-pencil" href="{% url 'inventario:editar_tallas' talla.id_talla %}" />
                    <a class="glyphicon glyphicon-remove" href="{% url 'inventario:eliminar_tallas' talla.id_talla %}" />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <h3>No Hay Registros de Tallas.</h3>
        {% endif %}
    </table> 
    {% if is_paginated %}
        <div class="text-center">
            <ul class="pagination nav navbar-nav">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %} {% for page in page_obj.paginator.page_range %}
                <li class="{% if page_obj.number == page  %}active{% endif %}">
                    <a href="?page={{page }}">{{ page }}</a></li>
                {% endfor %} {% if page_obj.has_next %}
                <li> <a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}