{% extends 'inicio_sesion_cliente.html' %}

{% block center %}

{% if validlink %}

<p>Nueva contraseña</p>

<form method="post" style="width:30%;margin: auto;">
{% csrf_token %}

{{ form.new_password1.errors }}
<label for="id_new_password1">Nueva contraseña:</label>
{{ form.new_password1 }}

{{ form.new_password2.errors }}
<label for="id_new_password2">Confirme la contraseña:</label>{{ form.new_password2 }}
<input type="submit" class="button_2" style="margin-top: 10px;" value="Guardar" />
</form>

{% else %}

<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

{% endblock %}