{% extends 'home.html' %}
{% load staticfiles %}
{% block css%}

<style type="text/css">
    #productos thead th {
        font-size: 11pt;
        font-family: AzoSansBold;
        text-align: center;
    }

    #productos {
        margin: 0 auto;
        width: 100%;
        border: snow;
        border-color: #fff;
        border-bottom-color: #dddddd;
    }

    #productos tbody td {
        padding: 8px;
        font-family: AzoSansThin;
    }

    @media ( max-width: 585px) {
        .input-group span.input-group-btn,
        .input-group input,
        .input-group button {
            display: block;
            width: 100%;
            border-radius: 0;
            margin: 0;
        }
        .input-group {
            position: relative;
        }
        .input-group span.data-up {
            position: absolute;
            top: 0;
        }
        .input-group span.data-dwn {
            position: absolute;
            bottom: 0;
        }
        .form-control.text-center {
            margin: 34px 0;
        }
        .input-group-btn:last-child>.btn,
        .input-group-btn:last-child>.btn-group {
            margin-left: 0;
        }
    }

    #totalB li {
        border-bottom: 1px solid #dddddd;
        padding: 11px 0px;
        width: 100%;
        float: left;
    }

    #recB li {
        padding: 11px 0px;
        width: 308px;
        height: auto;
        float: left;
        font-size: 11pt;
        margin: 0px 6px 13px 14px;
    }

    .ec-stars-wrapper a {
        font-size: 18pt;
        position: relative;
        top: -6px;
    }

    .bolsaP {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 17px;
    }

    .contTitulo {
        float: left;
        background: #fff;
        width: 97%;
        margin-top: -2px;
    }
</style>
{% endblock css%} {% block content %}
<div class="row">
    <div class="col-sm-8 col-lg-8">
        {% if carro_compra %}
            {% for producto in carro_compra  %}  
                <div class="table-responsive" style="width: 100%;margin-top: 10px; float: left;padding: 4px;overflow: auto;">
                    <table id="productos" border="2">
                        <thead>
                            <tr>
                                <th style="width: 52%;">PRODUCTO</th>
                                <th style="width: 8%;">TALLA</th>
                                <th style="width: 10%;">CANTIDAD</th>
                                <th style="width: 10%;">COLOR</th>
                                <th style="width: 10%;">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="col-sm-6 col-lg-6">
                                        <div style="float: left;border: 2px solid #ddd;"><img style="width: 100px;height: 120px;" src="{% static producto.producto.imagen %}"></div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6" style="padding: 0;">
                                        <div id="desc" style="width: 100%;float: left;text-align: justify;padding: 2px;margin-top: 7px;">{{producto.producto.titulo}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: center;vertical-align: middle;font-family: AzoSansBold;">{{producto.producto.talla}}</div>
                                </td>
                                <td>
                                    <div class="col-xs-1 col-xs-offset-1">
                                        <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                        <button class="btn btn-default" data-dir="dwn"><span style=" font-size: 9px;" class="glyphicon glyphicon-minus"></span></button>
                                            </span>
                                            <input type="text" class="form-control text-center" value="{{producto.cantidad}}" style="width:45px;font-size: 10px;border-right-color: #fff;border-left-color: #fff;">
                                            <span class="input-group-btn" style="right:10px;">
                                                        <button class="btn btn-default" data-dir="up"><span style=" font-size: 9px;"class="glyphicon glyphicon-plus"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: center;vertical-align: middle;background: #000;width:30px;height: 30px;border-radius:4px;margin: 0 auto;"></div>
                                </td>
                                <td>
                                    <div style="font-family: AzoSansBold; text-align: center;">{{producto.total}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% else %}
        <div>
            <h3>Aun no hay nada en tu carro!</h3>
        </div>
        {% endif %}
        <div class="col-sm-3 col-lg-3" style="margin-top: 10px;">
            <input id="compra" class="btn btn-primary" type="button" style="font-size: 10px;width: 160px;font-family: AzoSansBold;" value="CONTINUAR COMPRANDO"
            />
        </div>
        <div class="col-sm-2 col-lg-2" style="margin-top: 10px;">
            <input class="btn btn-primary comprar" type="button" style="font-size: 10px;width: 120px;font-family: AzoSansBold;" value="COMPRAR"
            />
        </div>
        <div class="col-sm-8 col-lg-8"></div>
    </div>
    <div class="col-sm-4 col-lg-4">
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-primary" style="position: relative; top: 10px;width: 100%;float: left;">
                <div class="panel-heading" style="text-align: center;font-family: AzoSansBold; background-color: #FF0D73; border-radius: 0;">TOTAL DE BOLSA</div>
                <ul style="font-family: AzoSansBold;list-style: none;margin: 0;padding: 0;margin: 15px;" id="totalB">
                    <li>
                        <div class="col-sm-12 col-lg-12">
                            <div style="float: left;">SUB-TOTAL</div>
                            <div style="float: right;">{{user_carro.subtotal}}</div>
                        </div>

                    </li>
                    <li>
                        <div class="col-sm-12 col-lg-12">
                            <div style="float: left;">ENVIO</div>
                            <div style="float: right;font-size: 8px;">Calcular costo de envio</div>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-12 col-lg-12">
                            <div style="float: left;">TOTAL</div>
                            <div style="float: right;">{{user_carro.total}}</div>
                        </div>

                    </li>
                    <li style="border-bottom: none;margin-bottom: 20px;    margin-top: 10px;">
                        <div class="col-sm-12 col-lg-12">
                            <div style="margin: 0 auto;width: 27%;">
                                <input class="btn btn-primary comprar" type="button" style="font-size: 10px;width: 100px;font-family: AzoSansBold;" value="COMPRAR"
                                />
                            </div>

                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-12">
        <div style="margin: 0 auto;width: 50%;margin-top: 27px;text-align: center;font-family: AzoSansBold;padding: 2px;font-size: 13pt;">
            SUS ARTÍCULOS VISTOS RECIENTEMENTE Y RECOMENDACIONES DESTACADAS
        </div>
    </div>
    <div class="col-sm-12 col-lg-12">
        <div style="margin: 0 auto;margin-top: 27px;text-align: center;font-family: AzoSansBold;padding: 2px;    background: #ddd;float: left;width: 100%;">
            <ul style="list-style: none;margin: 0;padding: 0;margin: 15px;" id="recB">
                <li>
                    <div class="col-sm-12 col-lg-12">
                        <div style="float: left;"><img style="width: 300px;height: 477px;" src="{% static 'images/website/cartera.png' %}"></div>
                    </div>
                    <div class="contTitulo">
                        <div class="col-sm-12 col-lg-12" style="margin-top: 10px;">
                            <div style="float:left;width: 48%;"><img class="bolsaP" src="{% static 'images/website/bolsa60x60.png' %}"><input class="btn btn-primary add-car"
                                    type="button" style="font-size: 10px;width: 123px;font-family: AzoSansBold;background-color: #01B5B4;border: 1px solid #01B5B4;text-align: right;"
                                    value="Añadir a mi bolsa" /></div>
                            <div style="float: right;width: 29%;"><img style="width: 25px;" src="{% static 'images/website/Corazon-contorno.png' %}"></div>
                        </div>
                        <div class="col-sm-12 col-lg-12" style="margin-top: 10px;">
                            <div style="width: 50%;text-align: justify;margin-left: 18px;font-family: AzoSansBold;">BOUTI VIMA</div>
                        </div>
                        <div class="col-sm-12 col-lg-12" style="margin-top: 4px;">
                            <div style="width: 50%;text-align: justify;margin-left: 18px;">DESCRIPCION</div>
                        </div>
                        <div class="col-sm-12 col-lg-12" style="margin-top: 4px;">
                            <div style="float:left;width: 40%;text-align: justify;margin-left: 18px;font-family: AzoSansBold;">$ 300.00</div>
                            <div style="float: left;width: 45%;">
                                <div class="ec-stars-wrapper">
                                    <a href="#" data-value="1" title="Votar con 1 estrellas">★</a>
                                    <a href="#" data-value="2" title="Votar con 2 estrellas">★</a>
                                    <a href="#" data-value="3" title="Votar con 3 estrellas">★</a>
                                    <a href="#" data-value="4" title="Votar con 4 estrellas">★</a>
                                    <a href="#" data-value="5" title="Votar con 5 estrellas">★</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="col-sm-12 col-lg-12">
                        <div style="float: left;"><img style="width: 300px;height: 477px;" src="{% static 'images/website/calzado.png' %}"></div>
                    </div>
                    <div class="contTitulo">
                        <div class="col-sm-12 col-lg-12" style="margin-top: 10px;">
                            <div style="float:left;width: 48%;"><img class="bolsaP" src="{% static 'images/website/bolsa60x60.png' %}"><input class="btn btn-primary add-car"
                                    type="button" style="font-size: 10px;width: 123px;font-family: AzoSansBold;background-color: #01B5B4;border: 1px solid #01B5B4;text-align: right;"
                                    value="Añadir a mi bolsa" /></div>
                            <div style="float: right;width: 29%;"><img style="width: 25px;" src="{% static 'images/website/Corazon-contorno.png' %}"></div>
                        </div>
                        <div class="col-sm-12 col-lg-12" style="margin-top: 10px;">
                            <div style="width: 50%;text-align: justify;margin-left: 18px;font-family: AzoSansBold;">BOUTI VIMA</div>
                        </div>
                        <div class="col-sm-12 col-lg-12" style="margin-top: 4px;">
                            <div style="width: 50%;text-align: justify;margin-left: 18px;">DESCRIPCION</div>
                        </div>
                        <div class="col-sm-12 col-lg-12" style="margin-top: 4px;">
                            <div style="float:left;width: 40%;text-align: justify;margin-left: 18px;font-family: AzoSansBold;">$ 300.00</div>
                            <div style="float: left;width: 45%;">
                                <div class="ec-stars-wrapper">
                                    <a href="#" data-value="1" title="Votar con 1 estrellas">★</a>
                                    <a href="#" data-value="2" title="Votar con 2 estrellas">★</a>
                                    <a href="#" data-value="3" title="Votar con 3 estrellas">★</a>
                                    <a href="#" data-value="4" title="Votar con 4 estrellas">★</a>
                                    <a href="#" data-value="5" title="Votar con 5 estrellas">★</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-sm-12 col-lg-12">
                        <div style="float: left;"><img style="width: 300px;height: 477px;" src="{% static 'images/website/cartera.png' %}"></div>
                    </div>
                    <div class="contTitulo">
                        <div class="col-sm-12 col-lg-12" style="margin-top: 10px;">
                            <div style="float:left;width: 48%;">
                                <img class="bolsaP" src="{% static 'images/website/bolsa60x60.png' %} "><input class="btn btn-primary add-car "
                                    type="button" style="font-size: 10px;width: 123px;font-family: AzoSansBold;background-color: #01B5B4;border:
                                    1px solid #01B5B4;text-align: right;" value="Añadir a mi bolsa " /></div>
                            <div style="float: right;width: 29%; "><img style="width: 25px; " src="{% static 'images/website/Corazon-contorno.png' %} "></div>
                        </div>
                        <div class="col-sm-12 col-lg-12 " style="margin-top: 10px; ">
                            <div style="width: 50%;text-align: justify;margin-left: 18px;font-family: AzoSansBold; ">BOUTI VIMA</div>
                        </div>
                        <div class="col-sm-12 col-lg-12 " style="margin-top: 4px; ">
                            <div style="width: 50%;text-align: justify;margin-left: 18px; ">DESCRIPCION</div>
                        </div>
                        <div class="col-sm-12 col-lg-12 " style="margin-top: 4px; ">
                            <div style="float:left;width: 40%;text-align: justify;margin-left: 18px;font-family: AzoSansBold; ">$ 300.00</div>
                            <div style="float: left;width: 45%;">
                                <div class="ec-stars-wrapper">
                                    <a href="# " data-value="1 " title="Votar con 1 estrellas ">★</a>
                                    <a href="# " data-value="2 " title="Votar con 2 estrellas ">★</a>
                                    <a href="# " data-value="3 " title="Votar con 3 estrellas ">★</a>
                                    <a href="# " data-value="4 " title="Votar con 4 estrellas ">★</a>
                                    <a href="# " data-value="5 " title="Votar con 5 estrellas ">★</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="col-sm-12 col-lg-12 ">
                        <div style="float: left; "><img style="width:300px;height: 477px; " src="{% static 'images/website/calzado.png' %} "></div>
                    </div>
                    <div class="contTitulo ">
                        <div class="col-sm-12 col-lg-12 " style="margin-top: 10px; ">
                            <div style="float:left;width: 48%; "><img class="bolsaP " src="{% static 'images/website/bolsa60x60.png' %} "><input class="btn btn-primary add-car "
                                    type="button " style="font-size: 10px;width:
                                    123px;font-family: AzoSansBold;background-color: #01B5B4;border: 1px solid #01B5B4;text-align:
                                    right; " value="Añadir a mi bolsa " /></div>
                            <div style="float: right;width: 29%; "><img style="width: 25px; " src="{% static 'images/website/Corazon-contorno.png' %} "></div>
                        </div>
                        <div class="col-sm-12 col-lg-12 " style="margin-top: 10px; ">
                            <div style="width: 50%;text-align: justify;margin-left: 18px;font-family: AzoSansBold; ">BOUTI VIMA</div>
                        </div>
                        <div class="col-sm-12 col-lg-12 " style="margin-top: 4px; ">
                            <div style="width: 50%;text-align: justify;margin-left: 18px; ">DESCRIPCION</div>
                        </div>
                        <div class="col-sm-12 col-lg-12 " style="margin-top: 4px; ">
                            <div style="float:left;width: 40%;text-align: justify;margin-left: 18px;font-family: AzoSansBold; ">$ 300.00</div>
                            <div style="float: left;width: 45%; ">
                                <div class="ec-stars-wrapper ">
                                    <a href="# " data-value="1 " title="Votar con 1 estrellas ">★</a>
                                    <a href="# " data-value="2 " title="Votar con 2 estrellas ">★</a>
                                    <a href="# " data-value="3 " title="Votar con 3 estrellas ">★</a>
                                    <a href="# " data-value="4 " title="Votar con 4 estrellas ">★</a>
                                    <a href="# " data-value="5 " title="Votar con 5 estrellas ">★</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-lg-12 ">
        <div class="container ">
            <img class="img-responsive " style="margin: 0 auto;background: #ffffff;margin-bottom: -27px;" src="{% static 'images/website/flor2.png' %} "
                alt=" ">
            <h4 class="titulo-testimonial "><span>
                        TESTIMONIOS</span></h4>
        </div>
    </div>
    <div class="col-sm-12 col-lg-12 ">
        <div class="container " style="padding-bottom: 30px; padding-top: 40px; ">
            <div class="col-md-4 ">
                <div class="color " style="background: #01B5B4; ">
                    <center>
                        <p>BOUTIQUE VIMA</p>
                        <p>BOUTIQUE VIMA</p>
                        <div class="ec-stars-wrapper " style="float: initial; ">
                            <a href="# " data-value="1 " title="Votar con 1 estrellas ">★</a>
                            <a href="# " data-value="2 " title="Votar con 2 estrellas ">★</a>
                            <a href="# " data-value="3 " title="Votar con 3 estrellas ">★</a>
                            <a href="# " data-value="4 " title="Votar con 4 estrellas ">★</a>
                            <a href="# " data-value="5 " title="Votar con 5 estrellas ">★</a>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="color " style="background: #FF0D73; padding:21px; ">
                    <center>
                        <p>BOUTIQUE VIMA</p>
                        <p>BOUTIQUE VIMA</p>
                        <div class="ec-stars-wrapper " style="float: initial; ">
                            <a href="# " data-value="1 " title="Votar con 1 estrellas ">★</a>
                            <a href="# " data-value="2 " title="Votar con 2 estrellas ">★</a>
                            <a href="# " data-value="3 " title="Votar con 3 estrellas ">★</a>
                            <a href="# " data-value="4 " title="Votar con 4 estrellas ">★</a>
                            <a href="# " data-value="5 " title="Votar con 5 estrellas ">★</a>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="color " style="background: #8901b5;padding: 4Opx; ">
                    <center>
                        <p>BOUTIQUE VIMA</p>
                        <p>BOUTIQUE VIMA</p>
                        <div class="ec-stars-wrapper " style="float: initial; ">
                            <a href="# " data-value="1 " title="Votar con 1 estrellas ">★</a>
                            <a href="# " data-value="2 " title="Votar con 2 estrellas ">★</a>
                            <a href="# " data-value="3 " title="Votar con 3 estrellas ">★</a>
                            <a href="# " data-value="4 " title="Votar con 4 estrellas ">★</a>
                            <a href="# " data-value="5 " title="Votar con 5 estrellas ">★</a>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(function (){
        $(document).on('click', '.number-spinner button', function () {
            var btn = $(this),
                oldValue = btn.closest('.number-spinner').find('input').val().trim(),
                newVal = 0;

            if (btn.attr('data-dir') == 'up') {
                newVal = parseInt(oldValue) + 1;
            } else {
                if (oldValue > 1) {
                    newVal = parseInt(oldValue) - 1;
                } else {
                    newVal = 1;
                }
            }
            btn.closest('.number-spinner').find('input').val(newVal);
        });
        $(".comprar ").click(function (){
           window.location="/comprar/ ";
        });
    });
 
    function agregar_carro(id_publicacion) {
        $.ajax({
            url: '/agregar_items_carro/',
            type: 'POST',
            data: { 'id_publicacion': id_publicacion, csrfmiddlewaretoken: '{{csrf_token}}'},
            success: function (msj) {
                mostrarMensajes(msj.respuesta);
            }
        });
    }

    function agregar_favoritos(producto) {
        $.ajax({
            url: '/guardar_favorito/',
            type: 'POST',
            data: { 'producto': producto, csrfmiddlewaretoken: '{{csrf_token}}' },
            success: function (msj) {
                mostrarMensajes(msj.respuesta);
            }
        });
    }
</script>
{% endblock js %}