{% extends 'menuDashboard.html' %}
{% load staticfiles %}
{% block css%}
<style type="text/css">
    .padding {
        padding: 4px !important;
        font-size: 12pt;
        font-family: AzoSansRegular !important;
    }

    a {
        cursor: pointer;
    }

    h4 {
        color: #01B5B4;
        font-family: AzoSansRegular !important;
        font-weight: bold !important;
    }

    h3 {
        font-family: AzoSansRegular !important;
        font-weight: bold !important;
    }
</style>
{% endblock css%}
{% block contenidodashboard %}
<div class="col-md-8 col-lg-8" style="margin-bottom: 40px;">
    <form enctype="multipart/form-data" class="form-group">
        {% csrf_token %}
        <h3 style="margin-bottom: 22px;">Datos personales</h3>
        <div class="col-md-12 col-lg-12" style="margin-bottom: 40px;">
            <h4>Datos de cuenta</h4>
            <hr>
            <div class="row">
                <div class="col-md-4 col-lg-4 padding">Usuario:</div>
                <div class="col-md-4 col-lg-4 padding">{{ form.username }}</div>
                <div class="col-md-4 col-lg-4 padding"><a>Modificar</a></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 padding">Clave:</div>
                <div class="col-md-4 col-lg-4 padding">{{ form.password }}</div>
                <div class="col-md-4 col-lg-4 padding"><a>Modificar</a></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 padding">Mail:</div>
                <div class="col-md-4 col-lg-4 padding">{{ form.email }}</div>
                <div class="col-md-4 col-lg-4 padding"><a>Modificar</a></div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="margin-bottom: 40px;">
            {{cliente_form.management_formset}}
            <h4>Datos personales</h4>
            <hr>
            <div class="row">
                <div class="col-md-4 col-lg-4 padding">Nombre:</div>
                <div class="col-md-4 col-lg-8 padding">{{ form.first_name }}</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 padding">Documento de Identidad:</div>
                <div class="col-md-4 col-lg-4 padding">{{ cliente_form.documento_identidad }}</div>
                <div class="col-md-4 col-lg-4 padding"><a>Modificar</a></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 padding">Teléfono:</div>
                <div class="col-md-4 col-lg-4 padding">{{ cliente_form.telefonos }}</div>
                <div class="col-md-4 col-lg-4 padding"><a style="margin-right: 5px;">Modificar</a>|<a style="margin-left: 5px;">Agregar</a></div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12" style="margin-bottom: 60px;">
            <h4>Domicilio</h4>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-8 padding">{{ cliente_form.domicilio }}</div>
                <div class="col-md-4 col-lg-4 padding"><a style="margin-right: 5px;">Modificar</a></div>
            </div>
        </div>
    </form>
</div>
<div class="col-md-4 col-lg-4"></div>
{% endblock contenidodashboard%}
{% block js %}
{% endblock js %}