{% extends 'menuDashboard.html' %}
{% load staticfiles %}
{% block css%}
<style type="text/css">
    .padding {
        padding: 4px !important;
        font-size: 12pt;
        font-family: AzoSansRegular !important;
    }

    a {
        cursor: pointer;
    }

    #listCompras li {
        border: 1px solid #dddddd;
        border-left: none;
        border-right: none;
    }

    #listCompras .imgP {
        width: 95px !important;
        height: 95px !important;
    }

    .tituloColor {
        color: #FF245A;
    }

    .precio {
        font-weight: bold;
    }

    .formImg {
        margin: 0 auto;
        width: 92%;
    }

    h3 {
        font-family: AzoSansRegular !important;
        font-weight: bold !important;
    }

    .ec-stars-wrapper a {
        font-size: 26px;
    }
</style>
{% endblock css%} {% block contenidodashboard %}
<h3 style="margin-bottom: 40px;">Favoritos</h3>
<div class="row" style="margin-bottom: 30px !important;">
    <div class="col-md-8 col-lg-8" style="padding: 0;font-size: 14pt;font-family: AzoSansRegular !important;">Más Recientes</div>
    <div class="col-md-3 col-lg-3" style="padding: 0;font-size: 14pt;font-family: AzoSansRegular !important;">
        <div style="float: left;width: 100px;">Compras</div>
        <div style="float: left;width: 100px;" id="paginacionn">1-3 de 3</div>
    </div>
</div>
<div class="col-md-12 col-lg-12" style="margin-bottom: 40px;">
    <ul id="listCompras" style="list-style: none;margin: 0;padding: 0;">
        <li>
            <div class="row">
                <div class="col-md-1 col-lg-1 padding">
                    <div class="formImg"><img class="imgP" src="{% static 'images/website/cartera.png' %}"></div>
                </div>
                <div class="col-md-5 col-lg-4 padding">
                    <div class="col-md-12 col-lg-12 padding tituloColor">BOUTIQUE VIMA</div>
                    <div class="col-md-12 col-lg-12 padding">DESCRIPCION</div>
                    <div class="col-md-12 col-lg-12 padding precio">$ 350</div>
                </div>
                <div class="col-md-2 col-lg-3 padding">
                    <div style="margin: 0 auto;width: 50%;margin-top: 30px;">
                        <div class="ec-stars-wrapper" style="float: inherit;">
                            <a href="#" data-value="1" title="Votar con 1 estrellas">★</a>
                            <a href="#" data-value="2" title="Votar con 2 estrellas">★</a>
                            <a href="#" data-value="3" title="Votar con 3 estrellas">★</a>
                            <a href="#" data-value="4" title="Votar con 4 estrellas">★</a>
                            <a href="#" data-value="5" title="Votar con 5 estrellas">★</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-4 padding">
                    <div class="col-md-12 col-lg-12 padding">
                        <div style="margin: 0 auto;width: 175px;margin-top: 25px;float: left;">
                            <input id="archOrden" class="btn btn-primary" type="button" style="width: 170px;" value="AÑADIR A MI BOLSA" />
                        </div>
                        <div style="margin: 0 auto;margin-top: 25px;float: left;cursor: pointer;" title="Eliminar Favorito">
                            <img src="{% static 'images/iconos/iconosvima-03.png' %}">
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-1 col-lg-1 padding">
                    <div class="formImg"><img class="imgP" src="{% static 'images/website/cartera.png' %}"></div>
                </div>
                <div class="col-md-5 col-lg-4 padding">
                    <div class="col-md-12 col-lg-12 padding tituloColor">BOUTIQUE VIMA</div>
                    <div class="col-md-12 col-lg-12 padding">DESCRIPCION</div>
                    <div class="col-md-12 col-lg-12 padding precio">$ 350</div>
                </div>
                <div class="col-md-2 col-lg-3 padding">
                    <div style="margin: 0 auto;width: 50%;margin-top: 30px;">
                        <div class="ec-stars-wrapper" style="float: inherit;">
                            <a href="#" data-value="1" title="Votar con 1 estrellas">★</a>
                            <a href="#" data-value="2" title="Votar con 2 estrellas">★</a>
                            <a href="#" data-value="3" title="Votar con 3 estrellas">★</a>
                            <a href="#" data-value="4" title="Votar con 4 estrellas">★</a>
                            <a href="#" data-value="5" title="Votar con 5 estrellas">★</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-4 padding">
                    <div class="col-md-12 col-lg-12 padding">
                        <div style="margin: 0 auto;width: 175px;margin-top: 25px;float: left;">
                            <input id="archOrden" class="btn btn-primary" type="button" style="width: 170px;" value="AÑADIR A MI BOLSA" />
                        </div>
                        <div style="margin: 0 auto;margin-top: 25px;float: left;cursor: pointer;" title="Eliminar Favorito">
                            <img src="{% static 'images/iconos/iconosvima-03.png' %}">
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-1 col-lg-1 padding">
                    <div class="formImg"><img class="imgP" src="{% static 'images/website/cartera.png' %}"></div>
                </div>
                <div class="col-md-5 col-lg-4 padding">
                    <div class="col-md-12 col-lg-12 padding tituloColor">BOUTIQUE VIMA</div>
                    <div class="col-md-12 col-lg-12 padding">DESCRIPCION</div>
                    <div class="col-md-12 col-lg-12 padding precio">$ 350</div>
                </div>
                <div class="col-md-2 col-lg-3 padding">
                    <div style="margin: 0 auto;width: 50%;margin-top: 30px;">
                        <div class="ec-stars-wrapper" style="float: inherit;">
                            <a href="#" data-value="1" title="Votar con 1 estrellas">★</a>
                            <a href="#" data-value="2" title="Votar con 2 estrellas">★</a>
                            <a href="#" data-value="3" title="Votar con 3 estrellas">★</a>
                            <a href="#" data-value="4" title="Votar con 4 estrellas">★</a>
                            <a href="#" data-value="5" title="Votar con 5 estrellas">★</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-4 padding">
                    <div class="col-md-12 col-lg-12 padding">
                        <div style="margin: 0 auto;width: 175px;margin-top: 25px;float: left;">
                            <input id="archOrden" class="btn btn-primary" type="button" style="width: 170px;" value="AÑADIR A MI BOLSA" />
                        </div>
                        <div style="margin: 0 auto;margin-top: 25px;float: left;cursor: pointer;" title="Eliminar Favorito">
                            <img src="{% static 'images/iconos/iconosvima-03.png' %}">
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>


{% endblock contenidodashboard%} {% block js %}
<script type="text/javascript">

</script>
} {% endblock js %}