{% extends 'menuDashboard.html' %}
{% load staticfiles %}
{% block css%}
<style type="text/css">
    .padding {
        padding: 4px !important;
        font-size: 12pt;
        font-family: AzoSansRegular !important;
    }

    a {
        cursor: pointer;
    }

    #listCompras li {
        border: 1px solid #dddddd;
        border-left: none;
        border-right: none;
    }

    #listCompras img {
        width: 200px !important;
        height: 200px !important;
    }

    .tituloColor {
        color: #FF245A;
    }

    .precio {
        font-weight: bold;
    }

    .formImg {
        margin: 0 auto;
        width: 92%;
    }

    h3 {
        font-family: AzoSansRegular !important;
        font-weight: bold !important;
    }
</style>
{% endblock css%} {% block contenidodashboard %}
<h3 style="margin-bottom: 40px;">Compras</h3>
<div class="row" style="margin-bottom: 30px !important;">
    <div class="col-md-8 col-lg-8" style="padding: 0;font-size: 14pt;font-family: AzoSansRegular !important;">Más Recientes</div>
    <div class="col-md-3 col-lg-3" style="padding: 0;font-size: 14pt;font-family: AzoSansRegular !important;">
        <div style="float: left;width: 100px;">Compras</div>
        <div style="float: left;width: 100px;" id="paginacionn">1-3 de 3</div>
    </div>
</div>

<div class="col-md-1 col-lg-1"></div>
<div class="col-md-12 col-lg-12">
    {% if lista_productos %}
        <ul id="listCompras" style="list-style: none;margin: 0;padding: 0;">
            {% for producto in lista_productos %}            
                <li>
                    <div class="row">
                        <div class="col-md-2 col-lg-2 padding">
                            <div class="formImg"><img src="{% static producto.imagen %}"></div>
                        </div>
                        <div class="col-md-6 col-lg-6 padding">
                            <div class="col-md-12 col-lg-12 padding tituloColor">{{ producto.descripcion }}</div>
                            <div class="col-md-2 col-lg-2 padding">Diseñador:</div>
                            <div class="col-md-10 col-lg-10 padding">Diseñador:</div>
                            <div class="col-md-12 col-lg-12 padding precio">{{ producto.precio }}</div>
                        </div>
                        <div class="col-md-4 col-lg-4 padding">
                            <div class="col-md-12 col-lg-12 padding">
                                <div style="margin: 0 auto;width: 153px;margin-top: 25px;">
                                    <input id="archOrden" class="btn btn-primary" type="button" style="width: 150px;" value="Archivar Orden" />
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 padding">
                                <div style="margin: 0 auto;width: 153px;margin-top: 25px;">
                                    <input id="archOrden" class="btn btn-primary" type="button" style="width: 150px;" value="Comprar de Nuevo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}            
</div>
{% endblock contenidodashboard%}
{% block js %}
{% endblock js %}