{% extends 'home.html' %}
{% load staticfiles %}
{% block content %}
    <div style="padding-top: 20px!important;border-top: 1px solid black !important;"></div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-6">
                <div id="galeria">
                    <div id="galeria_imagen">
                        <img id="imgGaleria" class="img-responsive" src="" /></div>
                        <div id="galeria_miniaturas">
                            {% for imagen in imagenes %}
                                <img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src='{% static imagen %}';" src="{% static imagen %}"/>
                            {% endfor %}
                            <!--<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src='URL-IMAGEN-2';" src="" />
                            <img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src='URL-IMAGEN-3';" src="" />-->
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detalle-pro">
                    <h3>{{detalle_producto.titulo}}</h3>                   
                    <p>Sea el primero en calificar este ítem </p>
                     <div class="ec-stars-wrapper" style="float: none">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                     </div>
                    <h3>Precio: {{precio}}</h3>
                    <p>Venta: $ 166.60 & Envío Gratis <br>Ahorro: $ 71.40 (30%)</p>
                    <div class="bolsa">
                        <a href="javascript:agregar_carro({{detalle_producto.id_publicacion}});">
                            <p>AÑADIR A MI BOLSA</p>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="order-result">
                        <select id="ordenar-precio" name="ordenar-precio">
                            <option value="0">Tallas</option>
                            {% for talla in tallas %}
                                <option value="{{talla}}">{{talla}}</option>
                            {% endfor %}
                        </select>
                    </div>
                     <img style="margin-left: 17%;margin-top: 2px;" src="{% static 'images/website/paypal2.png' %}" alt="">

                    <div class="clearfix"></div>

                    <div class="colores" style="width: 29%;">
                    <ul class="nav">
                        <p>Colores Disponibles</p><br>
                        {% for color in colores %}
                            <li>
                                <span style="background-color: #{{color}};border-radius: 5px;height: 20px !important;width: 20px !important;float: left"></span>
                            </li>                                
                        {% endfor %}
                    </ul>
                </div>
                    <div class="clearfix"></div>
                <div class="precio">
                    <p>Cantidad Vendidos</p>
                    <p class="float-r">{{cantidad_vendidos}}</p>
                </div>
                    <div class="clearfix"></div>
                <div style="padding-top: 12px;">
                    <p>Cantidad a comprar</p>

                </div>
                    <div class="clearfix"></div>
                <div style="padding-top: 30px;">
                    <p>Añadir a la lista de deseos <a style="float: right;margin-left: 48px;" href="javascript:agregar_favorito({{detalle_producto.id_publicacion}});"><img class="img-responsive" width="30" src="{% static 'images/website/Corazon-contorno.png' %}" alt=""></a></p>
                </div>
                    <div class="clearfix"></div>
                <div>
                    <p>Categorías: Sandilou, Tiempo de fiesta, Estilo de calle, Vintage,<br>
                    Hecho a la medida, América del Norte, Chaquetas, Mujeres</p>
                </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <img class="img-responsive" style="margin: 0 auto;background: #ffffff;margin-bottom: -27px;" src="{% static 'images/website/hoja.png' %}" alt="">
        <h4 class="titulo-testimonial"><span>
            DESCRIPCIÓN DE PRODUCTO</span></h4>
    </div>
    <div class="background-footer">
        <img class="img-responsive" src="{% static 'images/website/fondoregistroVIMA.png' %}" alt="">
        <div class="inf-footer row">
            <div class="col-md-6 col-md-offset-3">
                <p class="descripcion">
                    {{detalle_producto.descripcion}}
                </p>
            </div>
        </div>
    </div>
    <div class="container hidden-xs">
        <img class="img-responsive" style="margin: 0 auto;background: #ffffff;margin-bottom: -27px;" src="{% static 'images/website/flor.png' %}" alt="">
        <h4 class="titulo-testimonial"style="padding-bottom: 35px;"><span>
            PRODUCTOS RECOMENDADOS</span></h4>
    </div>
    <!--SLIDER PRODUCTOR-->
    <div id="slider1" class="col-xs-12 hidden-xs">
        <div class="container">
            <a class="buttons prev" href="#">&lt;</a>
            <div class="viewport">
                {% if recomendados %}
                <ul class="overview">
                    {% for producto in recomendados %}
                    <li>
                        <article>
                            <div class="imagen">
                                <img class="img-responsive" src="{% static 'images/website/cartera.png' %}" alt="">
                            </div>
                            <div class="col-md-11" style="padding-right: 0">
                                <div class="bolsa">
                                    <a href="javascript:agregar_carro({{producto.id_publicacion}});">
                                        <img src="{% static 'images/website/Bolsablanca.png' %}" alt="">
                                        <p>AÑADIR A MI BOLSA</p>
                                    </a>
                                </div>
                                <div class="ico-favo">
                                    <a href="javascript:agregar_favoritos({{producto.id_publicacion}}, );"><img width="20" src="{% static 'images/website/Corazon-contorno.png' %}" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="detalle">
                                    <h3>BOUTIQUE VIMA</h3>
                                    <p>{{producto.descripcion}}</p>
                                </div>
                                <p class="precio">{{producto.precio}}</p>
                                <div class="ec-stars-wrapper">
                                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                                </div>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                <!--<li class="mirrored"><img src="images/picture1.jpg" alt="image 1"></li><li class="mirrored"><img src="images/picture2.jpg" alt="image 2"></li><li class="mirrored"><img src="images/picture3.jpg" alt="image 3"></li></ul>-->
                </ul>
            {% endif %}
            </div>
            <a class="buttons next" href="#">&gt;</a>

            <script type="text/javascript">
                $(document).ready(function()
                {
                    $('#slider1').carousel({
                      interval: 2000
                    });});
            </script>
            </div>
    </div>
    <!--FIN SLIDER PRODUCTOS-->
    <div class="container">
        <img class="img-responsive" style="margin: 0 auto;background: #ffffff;margin-bottom: -27px;" src="{% static 'images/website/flor2.png' %}" alt="">
        <h4 class="titulo-testimonial"><span>
            TESTIMONIOS</span></h4>
    </div>
    <div class="container" style="padding-bottom: 30px; padding-top: 30px;">
        <div class="col-md-4">
            <div class="color" style="background: #30E59E;">
                <center>
                    <h3><strong>Boutique Vima</strong></h3>
                    <p>Boutique Vima</p>
                    <div class="ec-stars-wrapper" style="float: none">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="color" style="background: #FF0D73; padding: 20.5px;">
                <center>
                    <h3><strong>Boutique Vima</strong></h3>
                    <p>Boutique Vima</p>
                    <div class="ec-stars-wrapper" style="float: none">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="color" style="background: #2F27B8;">
                <center>
                    <h3><strong>Boutique Vima</strong></h3>
                    <p>Boutique Vima</p>
                    <div class="ec-stars-wrapper" style="float: none">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                </center>
            </div>
        </div>
    </div>
{% endblock %}
{% block js%}
<script type="text/javascript">
function agregar_carro(id_publicacion) {
  $.ajax({
    url: '/agregar_items_carro/',
    type: 'POST',
    data: { 'id_publicacion': id_publicacion, csrfmiddlewaretoken: '{{csrf_token}}' },
    success: function (msj) {
      mostrarMensajes(msj.respuesta);
    }
  });
}

function agregar_favoritos(producto) {
  $.ajax({
    url: '/guardar_favorito/',
    type: 'POST',
    data: { 'producto': producto, csrfmiddlewaretoken: '{{csrf_token}}' },
    success: function (msj) {
      mostrarMensajes(msj.respuesta);
    }
  });
}
</script>
{% endblock js%}