{% load staticfiles %}
<div style="background: black;    position: relative;">
    <div class="container">
        <div class="row col-md-4 col-sm-6" id="menu-footer">
            <ul class="nav" id="nav-menu">
                <li><a href="#">QUIENES SOMOS</a></li>
                <li><a href="#">RESPONSABILIDAD SOCIAL</a></li>
                <li><a href="#">ALIADOS</a></li>
                <li><a href="#">UNETE A NOSOTROS</a></li>
                <li><a href="#">DISEÑADORES</a></li>
            </ul>
        </div>

        <div class="row col-md-4 col-sm-6" style="margin-left: 5%;">
            <ul class="nav" id="nav-menu">
                <li><a href="#">AYUDA</a></li>
                <li><a href="#">DEVOLUCIONES</a></li>
                <li><a href="#">GUIA DE TALLAS</a></li>
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
            </ul>
        </div>

        <div class="row col-md-4 col-sm-6 p">
            <p class="h5">CONTÁCTANOS</p>
            <p>PHONE:(91)8547.632.25.21</p>
            <p>FAX:(91)8547.632.25.21</p>
            <p>EMAIL:INFO@VIMA.COM</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<footer>
    <div class="container" style="padding: 20px;">
        <div class="busqueda col-md-offset-1 col-xs-offset-3 col-md-2" style="margin-top: 0;">
            <a href="#"><img class="img-responsive lup" width="20" style="right: -3px;width: 28px;top: 1px;" src={% static '/images/lupa.png' %} alt=""></a>
            <input style="border: 1px solid black;" class="input-sm" type="text" placeholder="Buscar..">
        </div>
        <div class="col-md-4 col-md-offset-1 mt-pagos hidden-xs">
            <p>METODOS DE PAGO</p>
            <ul class="nav">
                <li>
                    <img width="40px" src="{% static 'images/ico-visa.png' %}" alt="">
                </li>
                <li>
                    <img width="40px" src="{% static 'images/paypal-ico.png' %}" alt="">
                </li>
                <li>
                    <img width="40px" src="{% static 'images/mastercard-ico.png' %}" alt="">
                </li>
                <li>
                    <img width="40px" src="{% static 'images/ameri-express.png' %}" alt="">
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-offset-3 col-md-offset-0">
            <div class="sesion" style="margin-top: 12px;">
                <p style="float: left"><a href="#">REGISTRO</a> / <a href="#">INICIAR SESIÒN</a></p>
            </div>
            <div class="col-md-3" style="margin-top: 5px;">
                <div class="sesion" style="margin-top: 0;padding-left: 5px">
                    <a href="#" style="padding-right: 5px"><img width="25px" src="{% static 'images/ico-pinterest.png' %}" alt=""></a>
                    <a href="#"><img width="25px" src="{% static 'images/icon-instagram.png' %}" alt=""></a>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <div style="background: #cccccc;padding: 15px;">
        <center>
            <p style="margin: 0;color: #000000; font-family: AzoSansBold">2017 DESARROLLADO POR:</p>
        </center>
    </div>
</footer>