{% load staticfiles %}
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="min-height: 0;background: #FF0D73;border-color: #ffffff">
        <div class="container-fluid">
            <div class="col-lg-3" style="margin-left: 37%;">
                <p class="h6 col-lg- col-sm" style="color:#ffffff;float: left;padding-right: 36px;"><strong>POR TIEMPO LIMITADO</strong></p>
                <p class="h6 col-lg- col-sm" style="color:#ffffff;float: left;"><strong>HASTA 30%DTO.</strong></p>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid col-lg-" style="margin-top: 66px;">
        <div class="col-md-offset-2 busqueda col-md-2 col-xs-offset-3">
            <a href="#"><img class="img-responsive" width="20" src={% static '/images/lupa.png' %} alt=""></a>
            <input class="input-sm" type="text" placeholder="Buscar..">
        </div>
        <div class="col-md-3" style="margin-left: 4%;">
            <a  href="{% url 'website:index_website' %}"><img class="img-responsive" src="{% static '/images/LogoVima.png' %}" alt=""></a>
        </div>
        {% if user.is_authenticated %}
        <div class="sesion col-md-2">
            <p style="float: left">
                <a href="{% url 'website:cerrar_sesion_next' next_page='/' %}"> CERRAR SESIÓN </a>
            </p>
        </div>
        {% else %}
        <div class="sesion col-md-2 col-xs-offset-3 col-md-offset-0">
            <p>
                <a href="{% url 'website:registro_cliente' %}">REGISTRO</a> / <a href="{% url 'website:inicio_sesion' %}">INICIAR SESIÒN</a>
            </p>
        </div>
        {% endif %}
        <div class="sesion" style="margin-left: 0;">
            <p>$0.00</p>
        </div>
        <div class="sesion col-md-1" id="bols">
            <span class="badge">{{cantidad_items_carro}}</span>
            <a href="{% url 'website:carrito_compra' %}"><img class="img-responsive" style="margin-top: -10px;" width="20px" src="{% static 'images/bolsa.png' %}" alt=""></a>
        </div>
        <div class="clearfix"></div>
        <!--Menu-->
        <nav class="navbar navbar-default" role="navigation" style="background: none; border-color: #fff;margin-bottom: 0px;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                </div>
                <div id="sidebar-collapse" class="collapse navbar-collapse navbar-ex1-collapse" style="margin-top: 26px">
                    <ul class="menu col-md-offset-2 nav nav-tabs" style="border: none">
                        {% if cat_padres %} 
                        {% for categoria, valores in cat_padres.items %}
                        <li><a href="#">{{categoria|upper}}<span class="caret"></span></a></li>
                       
                        <ul class="dropdown-menu nav-ul hidden-xs" style="left: -424px !important;width: 1265px !important;">
                            <ul>
                                {% for item in valores %} {% if item != '' %}
                                <li><a href="#">{{item}}</a></li>
                                {% endif %} {% endfor %}
                            </ul>
                        </ul>
                        {% endfor %} {% endif %}
                        <li><a href="{% url 'website:designer_lounge' %}">DESIGNER LOUNGE</a></li>
                        <li class="hidden-xs">
                            <a href="#"><img width="20px" src="{% static 'images/ico-pinterest.png' %}" alt=""></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="#"><img width="20px" src="{% static 'images/icon-instagram.png' %}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>