{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{% static 'images/favicon-vima.png' %}">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.less' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/website.css' %} ">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/lumino.glyphs.js' %}"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} VIMA {% endblock %}</title>
</head>
{% block css%} {% endblock css%}

<body class="body">
    {% block header %} {% include 'header.html' %} {% endblock %}
    {% if messages %}
    <ul id="idmessages" class="messages" style="list-style: none;padding: 0;">
        <div class="alert alert-success alert-dismissable" style="text-align:center; font-size:14pt;">
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-sm-12 col-lg-12">

            {% block content %}

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="first-slide" src="{% static 'images/slider.png' %}" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="second-slide" src="{% static 'images/slider.png' %}" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="second-slide" src="{% static 'images/slider.png' %}" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- /.carousel -->

            <div class="container" style="padding-bottom: 30px; padding-top: 30px;">
                <div class="col-md-4">
                    <div class="color" style="background: #30E59E;">
                        <center>
                            <p>ENVÌOS GRATIS A LOS <br> ESTADOS UNIDOS</p>
                            <p>DIRECTO A TU PUERTA</p>
                        </center>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="color" style="background: #FF0D73; padding: 29.5px;">
                        <center>
                            <p>CALENDARIO DE EVENTOS</p>
                            <p>!NO TE QUEDES ATRÀS¡</p>
                        </center>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="color" style="background: #2F27B8;">
                        <center>
                            <p>VIMA <br>UPDATES</p>
                            <p>SUSCRÌBETE A NUESTRO NEWSLETTER</p>
                        </center>
                    </div>
                </div>
            </div>
            <div class="container hidden-xs">
                <img class="img-responsive" style="margin: 0 auto;background: #ffffff;margin-bottom: -27px;" src="{% static 'images/website/flor.png' %}"
                    alt="">
                <h4 class="titulo-testimonial"><span>
                        LOS MÀS VISITADOS</span></h4>
            </div>
            <!--SLIDER PRODUCTOR-->
            <div id="slider1" class="col-xs-12 hidden-xs">
                <div class="container">
                    <a class="buttons prev" href="#">&lt;</a>
                    <div class="viewport">
                        <ul class="overview">
                            {% if ultimos_productos %} {% for producto in ultimos_productos %}
                            <li>
                                <article>
                                    <div class="imagen">
                                        <img class="img-responsive" src="{{producto.imagen.url}}" alt="">
                                    </div>
                                    <div class="col-md-11" style="padding-right: 0">
                                        <div class="bolsa">
                                            <a href="javascript:agregar_carro({{producto.id_publicacion}});"> <img src="{% static 'images/website/Bolsablanca.png' %}" alt="">
                                                <p>AÑADIR A MI BOLSA</p>
                                            </a>
                                        </div>
                                        <div class="ico-favo">
                                            <a href="javascript:agregar_favoritos({{producto.id_publicacion}});"><img width="20" src="{% static 'images/website/Corazon-contorno.png' %}" alt=""></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="detalle">
                                            <h3>{{producto.titulo}}</h3>
                                            <p>{{producto.descripcion}}</p>
                                        </div>
                                        <p class="precio">{{producto.precio_venta}}</p>
                                        <div class="ec-stars-wrapper">
                                            <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                            <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                            <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                            <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                            <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            {% endfor %} {% endif %}
                            <!--<li class="mirrored"><img src="images/picture1.jpg" alt="image 1"></li><li class="mirrored"><img src="images/picture2.jpg" alt="image 2"></li><li class="mirrored"><img src="images/picture3.jpg" alt="image 3"></li></ul>-->
                        </ul>
                    </div>
                    <a class="buttons next" href="#">&gt;</a>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#slider1').carousel({
                                interval: 2000
                            });
                        });
                    </script>
                </div>
            </div>
            <!--FIN SLIDER PRODUCTOS-->

            <div class="container">
                <img class="img-responsive" style="margin: 0 auto;background: #ffffff;margin-bottom: -27px;" src="{% static 'images/website/flor2.png' %}"
                    alt="">
                <h4 class="titulo-testimonial"><span>NUESTROS DISEÑADORES</span></h4>
            </div>
            <div class="col-md-12">
                {% if proveedores_disenadores%}
                <div class="view-dis">
                    <ul class="menu nav-tabs nav center-block conten-img">
                        {% for proveedor in proveedores_disenadores%} {% if forloop.counter > 2 %}
                        <li class="hidden-xs">
                            {% else %}
                            <li>
                                {% endif %}
                                <a href="#">
                                    <p>VER DISEÑADOR <br>{{ proveedor.nombre_disenador }}</p>
                                </a>
                                <img class="img-responsive" width="421" src="{{proveedor.logo.url}}" alt="">
                            </li>
                            {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="clearfix"></div>

            <div class="container">
                <img class="img-responsive" style="margin: 0 auto;background: #ffffff;margin-bottom: -27px;" src="{% static 'images/website/hoja.png' %}"
                    alt="">
                <h4 class="titulo-testimonial"><span>NUESTRA MISIÒN</span></h4>
            </div>
            <div class="background-footer">
                <img class="img-responsive" src="{% static 'images/website/FONDO_VIMA.png' %}" alt="">
                <div class="inf-footer row">
                    <img class="img-responsive vima" src="{% static '/images/LogoVima.png' %}" alt="">
                    <div class="col-md-6 col-md-offset-3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                            nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                            vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                            justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                        </p>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    {% block footer %} {% include 'footer.html' %} {% endblock %}
</body>
<div id="mensajes" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="mensajes" aria-hidden="true" style="top: 20%;">
    <div class="modal-dialog" role="document" style="width: 355px;">
        <div class="modal-content" style="float: left;width: 355px;">
            <div class="modal-body" style="width: 92%; margin: 19px auto 0px; min-height: 83px; max-height: 200px;">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="float: left; font-size: 23px; width: 11%;"></span>
                <div id="msg" style="text-align: justify; width: 89%; float: left;"></div>

            </div>
            <div class="modal-footer" style="float: left; width: 100%;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{% block js %}
<script type="text/javascript">
    function agregar_carro(id_publicacion) {
        $.ajax({
            url: '/agregar_items_carro/',
            type: 'POST',
            data: {
                'id_publicacion': id_publicacion,
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (msj) {
                mostrarMensajes(msj.respuesta);
            }
        });
    }

    function agregar_favoritos(producto) {
        $.ajax({
            url: '/guardar_favorito/',
            type: 'POST',
            data: {
                'producto': producto,
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (msj) {
                mostrarMensajes(msj.respuesta);
            }
        });
    }

</script>
{% endblock js %}