{% extends 'home.html' %}
{% load staticfiles %}
{% block css%}
<style type="text/css">
    .titulo {
        margin: 0 auto;
        text-align: center;

        font-family: AzoSansBold;
        font-size: 14pt;
        width: 98%;
        margin-top: 50px;
    }

    .form-estilo {

        margin: 30px auto;
        width: 83%;
    }

    .inpu {
        float: left;
        width: 230px;
        position: relative;
        margin-right: 10px;
        left: 23px;
        top: 0px;
        width: 250px;
        height: 33px;
        border: 1px solid #999;
    }

    .link {
        float: left;
        position: relative;
        top: 7px;
    }

    .col-sm-12,
    .col-lg-12 {
        padding: 0 !important;
    }

    

    .caja {
        width: 250px !important;
    }


    @media screen and (max-width: 568px)and (min-width: 568px) {
        .fondo {
            background: url('{% static 'images/website/VerMovil568.png' %}') no-repeat !important;
            height: 501px;
            max-width: 100%;
        }
        .form-estilo {
            width: 82%;
            margin: 0 auto;
        }
        .caja {
            width: 200px !important;
        }
    }

    @media screen and (max-width: 384px),
    (max-width: 360px),
    (max-width: 375px) {
        .fondo {
            background: url('{% static 'images/website/VerMovil3.png' %}') no-repeat !important;
            height: 335px;
            max-width: 100%;
        }
        .form-estilo {
            width: 82%;
            margin: 0 auto;
        }
        .caja {
            width: 200px !important;
        }
        .subtitulo {
            margin-top: 8px !important;
            font-size: 10pt !important;
        }
        .titulo {
            font-size: 11pt !important;
        }
    }

    @media screen and (max-width: 320px) {
        .fondo {
            content: url('{% static 'images/website/VerMovil320.png' %}');
            max-width: 100%;
        }
        .caja {
            width: 160px !important;
        }
        .subtitulo {
            margin-top: 8px !important;
            font-size: 11pt !important;
        }
        .btn {
            font-size: 7pt;
        }
        .olvido {
            font-size: 10pt!important;
            margin-top: 60px !important;
        }
    }

    @media screen and (min-width:533px)and (max-width:533px) {
        .fondo {
            content: url('{% static 'images/website/VerMovil533.png' %}');
           
            height: 470px;
            max-width: 100%;
        }
        .form-estilo {
            margin: 0 auto;
            width: 62%;
        }
        .caja {
            width: 230px !important;
        }
        .subtitulo {
            margin-top: 15px !important;
            font-size: 11pt !important;
        }
    }

    .subtitulo {
        margin: 25px auto;
        font-size: 15pt;
    }

    .olvido {
        font-size: 11pt;
        width: 100%;
        margin-top: 76px;
    }
</style>
{% endblock css%}
{% block content %}
<img class="fondo" src="{% static 'images/website/FONDO_VIMANuevo.png' %}" style="max-width: 100%;position: absolute;width: 1349px;height: 319px;" />
<div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"><label class="titulo">BIENVENIDO A VIMA MODA</label></div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <form id="inicio_cliente" class="form-estilo" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="input-group" style="margin: 0 auto;margin-bottom: 10px;">
                        <div style="background: url('{% static 'images/website/icono-1-registro2.png' %}') no-repeat; border: 1px solid #999;border-radius: 4px 0px 0px 4px;width: 41px; height: 33px;float: left;z-index: 100;position: relative;left: 27px;border-right: none;top: 0px;"></div>
                        <input class="inpu form-control caja" type="text" name="username" required="required" placeholder="Nombre de usuario" />
                    </div>
                    <div class="input-group" style="margin: 0 auto;margin-bottom: 10px;">
                        <div style="background: url('{% static 'images/website/icono-4registro2.png' %}') no-repeat; border: 1px solid #999;border-radius: 4px 0px 0px 4px;width: 41px; height: 33px;float: left;z-index: 100;position: relative;left: 28px;border-right: none;"></div>
                        <input class="inpu form-control caja" type="password" id="password" name="password" required="required" placeholder="">
                    </div>
                    <div>
                        <a class="link" href="{% url 'website:forgot_password' %}" style="font-family: AzoSansBold;">¿Olvidó la contraseña?</a>
                    </div>
                    <div style="float: right;">
                        <div style="float: right;margin-top: 4px;">
                            <input type="checkbox" id="recuerda"><label for="recuerda" style="margin-top: 3px;font-family: AzoSansBold;margin-left: 6px;">Recuerdame</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-offset-4 input-group">
                        <input class="btn btn-primary" type="submit" value="INICIAR SESIÓN" id="btn_ingresar" style="margin-top: 30px;">
                    </div>
                </form>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-offset-4">
                <div class="input-group subtitulo" style="text-align: center;margin: 0 auto;font-size: 18px;font-family: AzoSansBold;">
                    <label style="float: left;">¿No estás registrado aún?</label>
                    <label style="float: left;margin-left: 10px;">
                        <a style="float: left;" href="{% url 'website:registro_cliente' %}">Registrate aquí</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}