{% extends 'home.html' %}
{% load staticfiles %}

{% block content %}
        <div class="col-md-3 col-lg-3">
            <nav role="navigation" class="navbar navbar-default" style="background-color: transparent; border-color: transparent;">
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>

                </div>

                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul id="menuDash" class="nav navbar-nav">
                        <li class="active" ><a ><i class="icon-user icons" style="font-size: 13pt;    font-weight: bold; "></i>Perfil</a></li>
                        <li><a href="/dashboard/"><i class="fa fa-address-card-o" aria-hidden="true"></i>Datos Personales</a></li>
                        <li><a href="#"><i class="icon-lock icons"></i> Seguridad</a></li>
                        <li class="active2" ><a><i class="icon-bag icons" style="font-size: 13pt;    font-weight: bold;"></i>Compras</a></li>
                        <li><a href="/favoritos/"><i class="icon-heart icons"></i> Favoritos</a></li>
                        <li><a href="/compras/"><i class="icon-bag icons"></i> Compras</a></li>
                    </ul>
                </div>
            </nav>

        </div>
        <div class="col-md-9 col-lg-9">
            {% block contenidodashboard %}

            {% endblock contenidodashboard%}
        </div>


{% endblock content%}
{% block js %}
{% endblock js %}