{% extends 'inicio_sesion_cliente.html' %}

{% block center %}

<h4 style="margin-bottom: 55px;">Su contraseña se reestableció correctamente</h4>
<a  class="button_2" href="{% url website:inicio_sesion%}">Iniciar sesión</a>

{% endblock %}