{% extends 'home.html' %}
{% load filtros_template %}
{% load staticfiles %}
{% block css%}
<style type="text/css">
    @media (max-width: 375px),
    (max-width: 360px),
    (max-width: 320px) {
        .nncupon {
            width: initial !important;
        }
    }

    #totalB li {
        border-bottom: 1px solid #dddddd;
        padding: 11px 0px;
        width: 100%;
        float: left;
    }

    #recB li {
        padding: 11px 0px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        float: left;
        font-size: 11pt;
        width: 100%;
        padding-bottom: 0;
        font-family: AzoSansRegular;
    }

    .ec-stars-wrapper a {
        font-size: 18pt;
        position: relative;
        top: -6px;
    }

    .bolsaP {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 17px;
    }

    .contTitulo {
        float: left;
        background: #fff;
        width: 97%;
        margin-top: -2px;
    }

    #selecM li {
        float: left;
        width: 100%;
        font-size: 10pt;
    }

    #selecM li a {
        padding: 3px 12px !important;
    }

    .BotonEditar {
        float: right;
        height: 23px;
        width: 60px;
        padding: 0;
        font-size: 9pt;
        margin-right: 15px;
        top: 30px;
        position: relative;
    }

    .radioB {
        vertical-align: middle;
        margin: 0 8px 0 0 !important;
        float: left;
        top: 30px;
        position: relative;
    }

    .btn-primary {
        float: right;
        font-size: 10px;
        width: 100px;
        font-family: AzoSansBold;
        margin-top: 10px;
    }

    .msjV {
        margin-top: 20px;
        background-color: #eee;
        border-color: #eee;
    }

    .precio {
        font-weight: bold;
        float: left;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        position: relative;
        top: 110px;
    }

    .eli {
        margin-top: 10px;
        right: 9px;
        position: absolute;
        cursor: pointer;
    }

    .aplicar {
        font-size: 10px;
        font-family: AzoSansBold;
        background-color: #FF0D73;
        border: 1px solid #FF0D73;
        float: left;
        margin: 0;
    }

    .ncupon {
        margin-bottom: 4px;
    }

    .nncupon {
        float: left;
        margin-right: 10px;
        width: 66%;
    }
</style>
{% endblock css%}
{% block content %}
<div class="row">
    <div class="col-sm-8 col-lg-8">
        <div class="col-sm-12 col-lg-12">
            <label style="font-family: AzoSansBold;">ENVIAR A:</label>
            <div class="btn-group" style="width:100%;">
                <button type="button" class="form-control btn dropdown-toggle" data-toggle="dropdown" style="height: 97px;border-top-color: #ddd;border-bottom-color: #ddd;text-align: left;">
                    Select Business type <span class="caret" style="float: right;margin-top: 11px;"></span>
                </button>
                <ul id="selecM" class="dropdown-menu" role="menu" style="width:100%;">
                    {% for direccion in direciones_adicionales %}
                    <li>
                        <a href="#">
                            <input id="radio{{ forloop.counter }}" name="dir" class="radioB" type="radio">
                            <div style="width: 200px;float: left;text-align: justify;;">{{direccion.pais}} - {{direccion.cliente.nombre}}<br>{{direccion.ciudad}}<br>{{direccion.nombre_pais}} - {{direccion.estado}}<br>{{direccion.telefono}}</div>
                            <input class="btn btn-primary BotonEditar"  type="button" value="Editar">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <input id="mostrarCont" class="btn btn-primary" type="button" value="Agregar" />
        </div>
        <div class="col-sm-12 col-lg-12" style="margin-top:20px;">
            <div id="contenidorAgregar" style="display:none;">
                <form id="direcciones" method="post" enctype="multipart/form-data" class="form-group" style="margin: auto">
                    <div class="col-sm-6 col-lg-6" style="margin-top:20px;">
                        <label>Nombre</label>
                        {% comment %}<input class="form-control" id="nombre" name="nombre" type="text" required="required">{% endcomment %}
                        {{form_direccion.nombre}}
                    </div>
                    <div class="col-sm-6 col-lg-6" style="margin-top:20px;">
                        <label>Apellido</label>
                        {% comment %}<input class="form-control" id="apellido" name="apellido" type="text" required="required">{% endcomment %}
                        {{form_direccion.apellido}}
                    </div>
                    <div class="col-sm-6 col-lg-6" style="margin-top:20px;">
                        <label>Dirección</label>
                        {% comment %}<input class="form-control" id="direccion" name="direccion" type="text" required="required">{% endcomment %}
                        {{form_direccion.direccion}}
                    </div>
                    <div class="col-sm-6 col-lg-6" style="margin-top:20px;">
                        <label>2da Dirección(Opcional)</label>
                        <input class="form-control" id="direccion2" name="direccion2" type="text" required="required">
                    </div>
                    <div class="col-sm-4 col-lg-4" style="margin-top:20px;">
                        <label>País</label>
                        {% comment %}<input class="form-control" id="pais" name="pais" type="text" required="required">{% endcomment %}
                         {{form_direccion.pais}}
                    </div>
                    <div class="col-sm-4 col-lg-4" style="margin-top:20px;">
                        <label>Ciudad</label>
                        {% comment %}<input class="form-control" id="ciudad" name="ciudad" type="text" required="required">{% endcomment %}
                         {{form_direccion.ciudad}}
                    </div>
                    <div class="col-sm-4 col-lg-4" style="margin-top:20px;">
                        <label>Estado</label>
                        {% comment %}<input class="form-control" id="estado" name="estado" type="text" required="required">{% endcomment %}
                         {{form_direccion.estado}}
                    </div>
                    <div class="col-sm-6 col-lg-6" style="margin-top:20px;">
                        <label>Número de Teléfono</label>
                        {% comment %}<input class="form-control" id="telefono" name="telefono" type="text" required="required">{% endcomment %}
                         {{form_direccion.telefono}}
                    </div>
                    <div class="col-sm-6 col-lg-6" style="margin-top:20px;">
                        <label>ZIP Código</label>
                        {% comment %}<input class="form-control" id="zip" name="zip" type="text" required="required">{% endcomment %}
                         {{form_direccion.zip}}
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <input id="d" name="d" style="float:left; margin: 11px 5px 0;" type="checkbox" required="required">
                        <label style="float:left;margin: 9px 5px 0;">Guardar como dirección principal</label>
                    </div>
                    <div class="col-sm-6 col-lg-6"> </div>
                    <div class="col-sm-12 col-lg-12" style="margin-top:20px;">
                        <input id="add-dir" class="btn btn-primary" type="button" value="Agregar" />
                        <input id="cancelar" class="btn btn-primary" type="button" style="margin-right: 10px;" value="Cancelar" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12" style="margin-top:20px;">
            <hr style="border-top: 2px solid #DDDDDD;margin-bottom: 15px;">
            <div style="font-family: AzoSansBold;font-weight: bold;padding: 2px;font-size: 13pt;    margin-bottom: 10px;">
                REVISAR ARTÍCULOS Y ENVÍO
            </div>
            <div style="padding: 2px;float: left;width: 100%;    margin-bottom: 20px;">

                <ul style="list-style: none;margin: 0;padding: 0;" id="recB">
                    {% for producto in carro_compra  %}
                    <li>
                        <img title="Eliminar Artículo" class="eli" src="{% static 'images/website/boton_eliminar.png' %}">
                        <div class="col-sm-3 col-lg-3">
                            <div style="float: left;border: 2px solid #ddd;padding: 2px;"><img style="height: 200px;" src="{% static 'images/website/cartera.png' %}"></div>
                        </div>
                        <div class="col-sm-7 col-lg-7">
                            <div class="titulo" style="font-weight: bold;">{{producto.producto.titulo}}</div>
                            <div class="descripcion" style="">{{producto.producto.descripcion}}</div>
                            <label style="float: left;">Cantidad:</label>
                            <div class="cant" style="float: left;    margin-right: 7px;">{{producto.cantidad}}</div>
                            <div style="width:100%;float: left">
                                <input id="d" name="d" style="float:left; margin: 11px 5px 0;" type="checkbox" required="required">
                                <label style="float:left;margin: 9px 5px 0;">Envio acelerado<br>Día de entrega Jueves, Febrero <b style="color: #63ce39;">FREE</b></label>
                            </div>
                            <div style="width:100%;float: left">
                                <input id="d" name="d" style="float:left; margin: 11px 5px 0;" type="checkbox" required="required">
                                <label style="float:left;margin: 9px 5px 0;">Envio de un día<br> Entrega Jueves, Febrero</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-lg-2">
                            <div class="precio">{{producto.precio|currency}}</div>
                        </div>
                        <div class="col-sm-12 col-lg-12 msjV">
                            <a class="btn" style="float: right;">Paga solo a este vendedor</a>

                            <a class="btn" style="float: right;">Mensaje al vendedor</a>

                        </div>
                    </li>
                    {% endfor %}                    
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4">
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-primary" style="position: relative; top: 10px;width: 100%;float: left;">
                <div class="panel-heading" style="text-align: center;font-family: AzoSansBold; background-color: #FF0D73; border-radius: 0;">TOTAL DE BOLSA</div>
                <ul style="font-family: AzoSansBold;list-style: none;margin: 0;padding: 0;margin: 15px;" id="totalB">
                    <li>
                        <div class="col-sm-12 col-lg-12">
                            <div style="float: left;">SUB-TOTAL</div>
                            <div style="float: right;">$ 350.00</div>
                        </div>

                    </li>
                    <li>
                        <div class="col-sm-12 col-lg-12">
                            <div style="float: left;">ENVIO</div>
                            <div style="    float: right;font-size: 8px;">Calcular costo de envio</div>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-12 col-lg-12">
                            <div style="float: left;">TOTAL</div>
                            <div style="    float: right;">$ 350.00</div>
                        </div>

                    </li>
                    <li style="border-bottom: none;margin-bottom: 20px;    margin-top: 10px;">
                        <div class="col-sm-12 col-lg-12">
                            <div style="margin: 0 auto;width: 27%;">
                                <input id="procesar_compra" class="btn btn-primary" type="button" style="font-size: 10px;width: 130px;font-family: AzoSansBold;"
                                    value="PROCESAR COMPRA" />
                            </div>
                        </div>
                    </li>
                    <li style="background: #eee;">
                        <div class="col-sm-6 col-lg-6">
                            <div style="float: left;">CUPONES</div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <span id="addCupones" class="glyphicon glyphicon-plus" aria-hidden="true" style="float: right;font-size: 12pt; cursor: pointer;"></span>
                        </div>
                    </li>
                    <li style="border-bottom: none;">
                        <div class="col-sm-12 col-lg-12">
                            <ul style="padding:0;" id="add-cupones"></ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<li class="col-cupones" clon="0" style="display: none; padding: 3px; margin: 2px 8px;float:left;width: 100%">
    <div class="col-sm-12 col-lg-12">
        <div class="nncupon"><input type="text" id="cupon" name="cupon[]" class="form-control ncupon"></div>
        <div style="float: left;margin-top: 3px;"> <input class="btn btn-primary aplicar" type="button" value="APLICAR" /></div>
    </div>
</li>

{% endblock %} {% block js %}
<script type="text/javascript">
    $(function () {
        $('.dropdown-menu a').on('click', function () {
            var objeto = $(this).html(); 
            $('.dropdown-toggle').html('<span class="caret" style="float: right;margin-top: 38px;"></span>' + $(this).html());
            $('.dropdown-toggle .radioB,.dropdown-toggle .BotonEditar').css("display", "none");
        });

        $("#procesar_compra").click(function () {
            window.location = "/comprar/";
        });
        $("#mostrarCont").click(function () {
            $(this).css("display", "none");
            $("#contenidorAgregar").css("display", "block");
        });
        $("#cancelar").click(function () {
            $("#mostrarCont").css("display", "block");
            $("#contenidorAgregar").css("display", "none");
        });
        $(".BotonEditar").click(function () {
            $("#mostrarCont").css("display", "none");
            $("#contenidorAgregar").css("display", "block");
        });
        $("#add-dir").click(function () { 
            $.ajax({
                dataType: 'json',
                method: 'POST',
                url: '/comprar/guardar_direccion/',
                data: {
                    campos: $("#direcciones").serialize(),
                    csrfmiddlewaretoken: '{{ csrf_token  }}'
                },
                success: function (data) {
                    mostrar(data.repuesta);
                    $("#mostrarCont").css("display", "block");
                    $("#contenidorAgregar").css("display", "none");
                }
            });
        });
        $(document).on("click", "#addCupones", function () {
            agregarCupones();
        });
        agregarCupones();
    });
    function agregarCupones() {
        clon = $(".col-cupones").length;

        $colores = $("li[clon=0]")
            .clone(true)
            .attr("clon", clon)
            .css({ 'display': 'block' })
            .appendTo($(".panel-primary").find("#add-cupones"));
    }
</script>
{% endblock js %}