{% extends 'home.html' %} {% load staticfiles %} {% block css%}
<style type="text/css">
    .ancho {
        width: 100%;
        margin-bottom: 10px;
    }

    .vistas {
        width: 100%;
        padding: 10px;
    }

    .cargar {
        background: url('{% static 'images/website/botonadjuntalogo.png' %}')no-repeat;
        width: 140px;
        height: 28px;
        float: left;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        top: 39px;
        left: 14px;
    }

    .cargar2 {
        background: url('{% static 'images/website/botonadjuntar_CATALOGO.png' %}')no-repeat;
        width: 140px;
        height: auto;
        float: left;
        cursor: pointer;
    }

    @media screen and (max-width: 320px) {
        .cargar {
            top: 15px;
            left: 0;
        }
    }

    @media screen and (max-width: 360px) {
        .cargar {
            top: 15px;
            left: 0;
        }
    }

    .padding {
        padding-left: 0 !important;
        padding-right: 7px;
    }

    .file-upload {
        opacity: 0;
        border: none;
        height: 100%;
        max-width: 100%;
        color: #ffffff !important;
        cursor: pointer;
    }

    ul {
        list-style: none;
    }

    li {
        float: left;
        width: 40px;
    }
</style>
{% endblock css%} {% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" style="float: left;">
        <div class="panel panel-primary" style="float:left;width: 100%;">
            <div class="panel-heading" style="text-align: center;">
                <strong id="tit">CREAR PROVEEDOR</strong>
                <br>
                <strong>Completa cuidadosamente los datos de tu empresa</strong>
            </div>

            <form id="form_designer" method="post" enctype="multipart/form-data" action="/designer_lounge/registrar">
                {% csrf_token %}
                <div id="vista1" class="vistas">
                    <div class="form-group">
                        <label for="{{form.first_name.label}}">{{form.first_name.label}}</label> {{form.first_name}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.last_name.name}}">{{form.last_name.label}}</label> {{form.last_name}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.email.name}}">{{form.email.label}}</label> {{form.email}}
                    </div>
                    <div class="form-group">
                        <input id="paso1" class="btn btn-primary" type="button" value="Siguiente" style="float: right;width: 126px;margin-bottom:10px"
                        />
                    </div>
                </div>
                <div id="vista2" class="vistas" style="display: none;">
                    <div class="form-group">
                        <label for="{{form.username.label}}">{{form.username.label}}</label> {{form.username}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.password1.name}}">{{form.password1.label}}</label> {{form.password1}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.password2.name}}">{{form.password2.label}}</label> {{form.password2}}
                    </div>
                    <div class="form-group">
                        <input id="ir_paso1" class="btn btn-primary" type="button" value="Atras" style="float: left;width: 126px;margin-bottom:10px">
                        <input id="paso2" class="btn btn-primary" type="button" value="Siguiente" style="float: right;width: 126px;margin-bottom:10px"
                        />
                    </div>
                </div>
                {{ proveedor_form.management_form }} {% for datos_proveedor in proveedor_form.forms %}
                <div id="vista3" class="vistas" style="display: none;">
                    <div class="form-group">
                        <label for="{{datos_proveedor.nombre_empresa.label}}">{{datos_proveedor.nombre_empresa.label}}</label>                        {{datos_proveedor.nombre_empresa}}
                    </div>
                    <div class="form-group">
                        <label for="{{datos_proveedor.correo.name}}">{{datos_proveedor.correo.label}}</label> {{datos_proveedor.correo}}
                    </div>
                    <div class="form-group">
                        <input id="ir_paso2" class="btn btn-primary" type="button" value="Atras" style="float: left;width: 126px;margin-bottom:10px">
                        <input id="paso3" class="btn btn-primary" type="button" value="Siguiente" style="float: right;width: 126px;" />
                    </div>
                </div>
                <div id="vista4" class="vistas" style="display: none;">
                    <div class="col-sm-6 col-lg-6" style="float: left;">
                        <div style="border: 1px solid #ddd;width: 120px;height: 120px;float: right;">
                            <img id="preview_image" style="width: 120px;padding: 4px;" src="{% static 'images/website/muestraCargar.png' %}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6" style="float: left;">
                        <div class="cargar">
                            {{datos_proveedor.logo}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12" style="float: left;">
                        <div class="input-group ancho" style="margin-top: 20px;">
                            <label for="{{datos_proveedor.descripcion.name}}">{{datos_proveedor.descripcion.label}}</label>
                            <label style="float: right;font-size: 10px;">Carácteres(mínimo:300)</label> {{datos_proveedor.descripcion}}
                        </div>
                        <div class="input-group ancho">
                            <input id="ir_paso3" class="btn btn-primary" type="button" value="Atras" style="float: left;width: 126px;margin-top: 60px;"
                            />
                            <input id="paso4" class="btn btn-primary" type="button" value="Siguiente" style="float: right;width: 126px;margin-top: 60px;"
                            />
                        </div>
                    </div>
                </div>
                <div id="vista5" class="vistas" style="display: none;">
                    <div class="input-group ancho">
                        <label for="{{datos_proveedor.direccion_fiscal.name}}"></label> <strong>{{datos_proveedor.direccion_fiscal.label}}</strong>{{datos_proveedor.direccion_fiscal}}
                    </div>
                    <div class="input-group ancho">
                        <label for="{{datos_proveedor.pais_direccion_fiscal.name}}"></label> <strong>{{datos_proveedor.pais_direccion_fiscal.label}}</strong>{{datos_proveedor.pais_direccion_fiscal}}
                    </div>
                    <div class="input-group ancho">
                        <label for="ciudad">Ciudad</label>
                        <select class="form-control" name="id_proveedores-0-ciudad_direccion_fiscal" id="id_proveedores-0-ciudad_direccion_fiscal"
                            nombre_etiqueta="La ciudad" required>

                        </select>
                    </div>
                    <div class="input-group ancho">
                        <label for="{{datos_proveedor.zip_direccion_fiscal.name}}"></label> <strong>{{datos_proveedor.zip_direccion_fiscal.label}}</strong>{{datos_proveedor.zip_direccion_fiscal}}
                    </div>
                    <div class="input-group ancho">
                        <label for="{{datos_proveedor.direccion_envio.name}}">{{datos_proveedor.direccion_envio.label}}</label>{{datos_proveedor.direccion_envio}}
                    </div>
                    <div class="input-group ancho">
                        <label for="{{datos_proveedor.pais_direccion_envio.name}}">{{datos_proveedor.pais_direccion_envio.label}}</label>{{datos_proveedor.pais_direccion_envio}}
                    </div>
                    <div class="input-group ancho">
                        <label for="ciudad">Ciudad</label>
                        <select class="form-control" name="id_proveedores-0-ciudad_direccion_envio" id="id_proveedores-0-ciudad_direccion_envio"
                            nombre_etiqueta="La ciudad" required>

                        </select>
                    </div>
                    <div class="input-group ancho">
                        <label for="{{datos_proveedor.zip_direccion_envio.name}}">{{datos_proveedor.zip_direccion_envio.label}}</label>{{datos_proveedor.zip_direccion_envio}}
                    </div>

                    <div class="col-sm-6 col-lg-6 padding">
                        <label for="{{datos_proveedor.representante_legal.name}}">{{datos_proveedor.representante_legal.label}}</label>{{datos_proveedor.representante_legal}}
                    </div>
                    <div class="col-sm-6 col-lg-6 padding">
                        <label for="{{datos_proveedor.dni_rif_documento.name}}">{{datos_proveedor.dni_rif_documento.label}}</label>{{datos_proveedor.dni_rif_documento}}
                    </div>
                    <div class="col-sm-6 col-lg-6 padding">
                        <label for="{{datos_proveedor.es_disenador.name}}">{{datos_proveedor.es_disenador.label}}</label>{{datos_proveedor.es_disenador}}
                    </div>
                    <div class="col-sm-6 col-lg-6 padding">
                        <label for="{{datos_proveedor.nombre_disenador.name}}" style="display:none;">{{datos_proveedor.nombre_disenador.label}}</label>{{datos_proveedor.nombre_disenador}}
                    </div>
                    <div class="input-group ancho">
                        <input id="ir_paso4" class="btn btn-primary" type="button" value="Atras" style="float: left;width: 126px;margin-top: 60px;"
                        />
                        <input id="paso5" class="btn btn-primary" type="button" value="Siguiente" style="float: right;width: 126px;margin-top: 60px;"
                        />
                    </div>
                </div>
                <div id="vista6" class="vistas" style="display: none;">
                    <label for="catalg">Catalogo de Producto</label>
                    <div class="input-group ancho">
                        <div class="cargar2">
                            {{datos_proveedor.catalogo}}
                            <div class="clearfix" style="height: 6px;"></div>
                            <div style="margin:0 auto; width: 80%">
                                <img id="preview_catalogo" />
                                <div class="titulo_pdf"></div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group ancho">
                        <input id="ir_paso5" class="btn btn-primary" type="button" value="Atras" style="float: left;width: 126px;" />
                        <input id="paso6" class="btn btn-primary" type="button" value="Guardar" style="float: right;width: 126px;" />
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4" style="float: left;">

    </div>

</div>

{% endblock %} {% block js %}
<script type="text/javascript">
    $(function () {
        $("#id_proveedores-0-pais_direccion_fiscal,#id_proveedores-0-pais_direccion_envio").trigger("change");

        $(document).on("click", "input[name='proveedores-0-es_disenador']", function () {
            //if ($(this).is(':checked') &&  $(this).val()=='Si') {$( elem ).prop( "checked" )
            console.log($(this).is(':checked')+$(this).val());
              if (($(this).prop( "checked" ) == true && $(this).val() == 'True') || ($(this).prop( "checked" ) == true && $(this).val() == 'Si')) {
                $(this).val("Si");
                $("#id_proveedores-0-nombre_disenador,label[for='nombre_disenador']").css("display", "block");
            } else {
                $(this).val("No");
                $("#id_proveedores-0-nombre_disenador,label[for='nombre_disenador']").css("display", "none");
            }
        });

        $("#paso1").click(function () {
            if (validarCamposProveedor('vista1')) {
                $("#vista1,#vista4,#vista3,#vista5,#vista6").css("display", "none");
                $("#vista2").css("display", "block");
            }

        });

        $("#paso2").click(function () {
            if (validarCamposProveedor('vista2')) {
                $("#vista1,#vista2,#vista4,#vista5,#vista6").css("display", "none");
                $("#vista3").css("display", "block");
            }

        });

        $("#paso3").click(function () {
            if (validarCamposProveedor('vista3')) {
                $("#vista1,#vista2,#vista3,#vista5,#vista6").css("display", "none");
                $("#vista4").css("display", "block");
            }

        });

        $("#paso4").click(function () {
            if (validarCamposProveedor('vista4')) {
                $("#vista1,#vista2,#vista3,#vista4,#vista6").css("display", "none");
                $("#vista5").css("display", "block");
            }

        });

        $("#paso5").click(function () {
            if (validarCamposProveedor('vista5')) {
                $("#vista1,#vista2,#vista3,#vista4,#vista5").css("display", "none");
                $("#vista6").css("display", "block");
            }

        });

        $("#paso6").click(function () {
            $("#form_designer").submit();
        });

        $("#ir_paso1").click(function () {
            validarCamposProveedor();
            $("#vista1").css("display", "block");
            $("#vista2,#vista4,#vista3,#vista5,#vista6").css("display", "none");
        });

        $("#ir_paso2").click(function () {
            $("#vista2").css("display", "block");
            $("#vista1,#vista4,#vista3,#vista5,#vista6").css("display", "none");
        });

        $("#ir_paso3").click(function () {
            $("#vista3").css("display", "block");
            $("vista2,#vista4,#vista1,#vista5,#vista6").css("display", "none");
        });

        $("#ir_paso4").click(function () {
            $("#vista4").css("display", "block");
            $("#vista2,#vista1,#vista3,#vista5,#vista6").css("display", "none");
        });

        $("#ir_paso5").click(function () {
            $("#vista5").css("display", "block");
            $("#vista1,#vista4,#vista3,#vista2,#vista6").css("display", "none");
        });

        $("#ir_paso6").click(function () {
            $("#vista6").css("display", "block");
            $("vista2,#vista4,#vista1,#vista5,#vista1").css("display", "none");
        });

        $("#id_proveedores-0-pais_direccion_envio").on('change', function () {
            fillCities('{{csrf_token}}', '#id_proveedores-0-ciudad_direccion_envio', $('#id_proveedores-0-pais_direccion_envio').val(), '{{datos_proveedor.ciudad_direccion_envio.value}}');
        });

        $("#id_proveedores-0-pais_direccion_fiscal").on('change', function () {
            fillCities('{{csrf_token}}', '#id_proveedores-0-ciudad_direccion_fiscal', $('#id_proveedores-0-pais_direccion_fiscal').val(), '{{datos_proveedor.ciudad_direccion_fiscal.value}}');
        });
    });

    function validarCamposProveedor(vista) {
        var send = true;

        $("#" + vista).find(':input').each(function () {
            var name = $(this).attr("name");
            if ($(this).attr('required')) {
                if ($(this).val().trim() == "") {
                    mostrarMensajes($(this).attr("nombre_etiqueta") + " es obligatorio");
                    send = false;
                    return false;
                } else {

                    if ($(this).attr("type") == 'email') {
                        if (!isValidEmail($(this).val())) {
                            mostrarMensajes("Ingrese un correo electrónico válido");
                            send = false;
                            return false;
                        }
                    }
                    if (name == "password2") {

                        if ($(this).val().length < 8 && $("input[name='password1']").val().length < 8) {
                            mostrarMensajes("Contraseña y " + $(this).attr("nombre_etiqueta") + " debe tener un minimo de 8 caracteres");
                            send = false;
                            return false;
                        }

                        if ($(this).val() != $("input[name='password1']").val()) {
                            mostrarMensajes("Las constraseñas no coinciden");
                            send = false;
                            return false;
                        }

                    }
                }
            }
        });

        $("#" + vista).find('textarea').each(function () {
            var name = $(this).attr("name");
            if ($(this).attr('required')) {
                if ($(this).val().trim() == "") {
                    mostrarMensajes($(this).attr("nombre_etiqueta") + " es obligatorio");
                    send = false;
                    return false;
                }
                else {
                    if (name == 'proveedores-0-descripcion') {
                        if ($(this).val().length < 300) {
                            mostrarMensajes($(this).attr("nombre_etiqueta") + " debe ser de al menos 300 caracteres");
                            send = false;
                            return false;
                        }
                    }
                }

            }
        });
        return send;
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            if (input.name == "proveedores-0-logo") {
                if ((input.files[0].type != 'image/png') && (input.files[0].type != 'image/jpg') && (input.files[0].type != 'image/jpeg')) {
                    mostrarMensajes('Sólo se permiten imágenes en formato PNG o JPG');
                    $('#preview_image').val('');
                    return false;
                }
            }
            else {

                if (input.files[0].type != 'application/pdf') {
                    mostrarMensajes('Sólo se permiten archivos PDF');
                    $('#preview_catalogo').val('');
                    return false;
                }else{
                    if(input.files[0].size > 1000000){
                         mostrarMensajes('Su archivoo debe pesar menos de 1MB');
                         return false;
                    }
                }

            }
            var reader = new FileReader();
            reader.onload = function (e) {
                if (input.name == "proveedores-0-logo") {
                    $("#preview_image").attr('src', e.target.result).css({ 'width': '120px', 'height': '120px' });
                }
                else {
                    $("#preview_catalogo").attr('src', "{% static 'images/website/logo_pdf_load.png' %}").css({ 'width': '100px', 'height': '100px' });
                    $('.titulo_pdf').html(input.files[0].name);
                }

            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
{% endblock js %}