{% extends 'home.html' %}
{% load staticfiles %}
{% block css%}
<style type="text/css">
    .ancho {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .vistas {
        width: 100%;
        padding: 10px;
    }
    
    .cargar {
        background: url('{% static 'images/website/botonadjuntalogo.png' %}')no-repeat;
        width: 140px;
        height: 28px;
        float: left;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        top: 39px;
        left: 14px;
    }
    
    .cargar2 {
        background: url('{% static 'images/website/botonadjuntar_CATALOGO.png' %}')no-repeat;
        width: 140px;
        height: 28px;
        float: left;
        overflow: hidden;
        cursor: pointer;
    }
    
    @media screen and (max-width: 320px) {
        .cargar {
            top: 15px;
            left: 0;
        }
    }
    
    @media screen and (max-width: 360px) {
        .cargar {
            top: 15px;
            left: 0;
        }
    }
    
    .padding {
        padding-left: 0 !important;
        padding-right: 7px;
    }
    
    .file-upload {
        opacity: 0;
        border: none;
        height: 100%;
        max-width: 100%;
        color: #ffffff !important;
        cursor: pointer;
    }
    
    ul {
        list-style: none;
    }
    
    li {
        float: left;
    }
</style>
{% endblock css%}
{% block content %}
{% if form.errors %}
    <div id="errors">
        <div class="alert alert-danger">
            <p>Se encontraron errores en la información sumimistrada, por favor corregir lo siguiente:</p>
            <strong>{{ form.non_field_errors }}</strong>
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                    <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-sm-4 col-lg-4" style="float: left;">

    </div>
    <div class="col-sm-4 col-lg-4" style="float: left;">
        <div class="panel panel-primary" style="float:left;width: 100%;">
            <div class="panel-heading" style="text-align: center;">
                <strong id="tit">CREAR USUARIO</strong>
                <br>
                <strong>Completa cuidadosamente tus datos</strong>
            </div>

            <form id="form_cliente" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="vista1" class="vistas">
                    <div class="form-group">
                        <label for="{{form.first_name.label}}">{{form.first_name.label}}</label> {{form.first_name}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.last_name.name}}">{{form.last_name.label}}</label> {{form.last_name}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.email.name}}">{{form.email.label}}</label> {{form.email}}
                    </div>
                    <div class="form-group">
                        <input id="paso1" class="btn btn-primary" type="button" value="Siguiente" style="float: right;width: 126px;margin-bottom:10px" />
                    </div>
                </div>
                <div id="vista2" class="vistas" style="display: none;">
                    <div class="form-group">
                        <label for="{{form.username.label}}">{{form.username.label}}</label> {{form.username}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.password1.name}}">{{form.password1.label}}</label> {{form.password1}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.password2.name}}">{{form.password2.label}}</label> {{form.password2}}
                    </div>
                    <div class="form-group">
                        <input id="paso2" class="btn btn-primary" type="button" value="Siguiente" style="float: right;width: 126px;margin-bottom:10px" />
                        <input id="ir_paso1" class="btn btn-primary" type="button" value="Atras" style="float: left;width: 126px;margin-bottom:10px">
                    </div>
                </div>
                {{ cliente_form.management_form }}
                <div id="vista3" class="vistas" style="display: none;">
                    {% for data_cliente in cliente_form.forms %}
                    <div class="form-group">
                        {% for hidden in data_cliente.hidden_fields %}
                            {{ hidden}}
                        {% endfor %}
                        {% for field in data_cliente.visible_fields %}
                            {{ field.label_tag }}{{ field }}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <input id="ir_paso2" class="btn btn-primary" type="button" value="Atras" style="float: left;width: 126px;margin-bottom;10px;" /><input id="paso3" class="btn btn-primary" type="button" value="Guardar" style="float: right;width: 126px;margin-bottom:10px;"
                        />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4" style="float: left;">

    </div>
</div>

{% endblock %} {% block js %}
<script type="text/javascript">
    $("#paso1").click(function() {
        $("#vista1,#vista3").css("display", "none");
        $("#vista2").css("display", "block");
    });

    $("#ir_paso1").click(function() {
        $("#vista1").css("display", "block");
        $("#vista2,#vista3").css("display", "none");
    });

    $("#paso2").click(function() {
        $("#vista1,#vista2").css("display", "none");
        $("#vista3").css("display", "block");
    });

    $("#ir_paso2").click(function() {
        $("#vista2").css("display", "block");
        $("#vista1,#vista3").css("display", "none");
    });

    $("#paso3").click(function() {
        $("#form_cliente").submit();
    });
</script>
{% endblock js %}