{% extends 'home.html' %}
{% load staticfiles %}
{% block content %}

    <div class="row col-md-12" style="padding-top: 20px!important; border-top: 1px solid black !important;">
        <ol class="breadcrumb col-md-offset-1">
          <li class="active">Inicio</li>
          <li><a href="#">Mujer</a></li>
          <li><a href="#">Zapatos</a></li>
          <li><a href="#">Botas</a></li>
          <li><a href="#">Con Tacones</a></li>
        </ol>
        <div class="order-result">
             <p>Ordenar por:</p>
            <select id="ordenar-precio" name="ordenar-precio">
                <option value="">Popularidad</option>
                <option value="asc">Mayor Precio</option>
                <option value="desc">Menor precio</option>
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-2 col-md-offset-1">
           <div class="panel panel-default">
              <div class="panel-heading"><p>COLOR</p></div>
              <div class="panel-body">
                <div class="colores">
                    <ul class="nav">
                        <li>
                            <span class="color-red"></span>
                            <a href="#"><p>Rojo</p></a>
                        </li>
                        <li>
                            <span class="color-black"></span>
                            <a href="#"><p>Negro</p></a>
                        </li>
                        <li>
                            <span class="color-yellow"></span>
                            <a href="#"><p>Amarillo</p></a>
                        </li>
                        <li>
                            <span class="color-blue"></span>
                            <a href="#"><p>Azul</p></a>
                        </li>
                         <li>
                            <span class="color-pink"></span>
                            <a href="#"><p>Rosado</p></a>
                        </li>
                         <li>
                            <span class="color-green"></span>
                            <a href="#"><p>Verde</p></a>
                        </li>
                    </ul>

                </div>
              </div>
               <div class="panel-heading" style="background-color: #EE2859!important;"><p class="color-white">TALLA</p></div>
              <div class="panel-body">
                  <div class="col-md-12">
                      <div class="float-l">
                          <input type="checkbox"><p>28</p>
                          <div class="float-r">
                            <span class="badge">3</span>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="float-l">
                          <input type="checkbox"><p>30</p>
                          <div class="float-r">
                            <span class="badge">4</span>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="float-l">
                          <input type="checkbox"><p>32</p>
                          <div class="float-r">
                            <span class="badge">5</span>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="float-l">
                          <input type="checkbox"><p>34</p>
                          <div class="float-r">
                            <span class="badge">5</span>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="float-l">
                          <input type="checkbox"><p>36</p>
                          <div class="float-r">
                            <span class="badge">5</span>
                          </div>
                      </div>
                  </div>

              </div>

               <div class="panel-heading"><p>BUSQUEDAS POPULARES</p></div>
              <div class="panel-body">
                  <div class="etiqueta">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'images/website/etiqueta1.png' %}" alt="">
                        <p>Tacones</p>
                    </a>
                  </div>
                  <div class="etiqueta">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'images/website/etiqueta2.png' %}" alt="">
                        <p>Trajes</p>
                    </a>
                  </div>
                  <div class="etiqueta">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'images/website/etiqueta2.png' %}" alt="">
                        <p>Bolsos</p>
                    </a>
                  </div>
                  <div class="etiqueta">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'images/website/etiqueta2.png' %}" alt="">
                        <p>Mujer</p>
                    </a>
                  </div>
                  <div class="etiqueta">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'images/website/etiqueta2.png' %}" alt="">
                        <p>Bebes</p>
                    </a>
                  </div>
                  <div class="etiqueta">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'images/website/etiqueta2.png' %}" alt="">
                        <p>Vestidos</p>
                    </a>
                  </div>
              </div>

               <div class="panel-heading" style="background-color: #EE2859!important;"><p class="color-white">PRODUCTOS DESTACADOS</p></div>
              <div class="panel-body" style="padding: 0; padding-top: 15px;">
                  <div class=" col-md-12 fa-border box-shadow">
                      <article>
                          <div class="col-md-12" style="padding: 0">
                            <a href="#"><img class="img-responsive" style="padding: 0;width: 50%;float: left" src="{% static 'images/website/recientes.jpg' %}" alt=""></a>
                            <div class="pro-destacado">
                                <a href="#"><h3>BOUTIQUE VIMA</h3></a>
                                <p>Lorem ipsum dolor sita a met enim ad mlnlm</p>
                                <p class="cash">$ 350,00</p>
                              <div class="ec-stars-wrapper" style="float: none">
                                <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                              </div>
                            </div>
                              <div class="clearfix"></div>
                          </div>

                      </article>
                  </div>
              </div>


            </div>
        </div>
        <div class="col-md-9">
           <div class="col-md-3 fa-border" style="padding: 0;">
                <article>
                    <div class="border">
                        <a href="#"><img class="img-responsive" src="{% static 'images/website/bota1.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-md-11" style="padding: 0; padding-top: 12px !important; padding-left: 12px;">
                        <div class="ico-favo">
                            <a href="#"><img width="20" src="{% static 'images/website/Corazon-contorno.png' %}" alt=""></a>
                        </div>
                        <div class="detalle">
                            <a href="#"><h3>BOUTIQUE VIMA</h3></a>
                            <p>Categories: Ofuure, Plus Size, Tops, Women</p>
                        </div>
                        <p class="cash" style="margin-top: 0px;">$ 350,00</p>
                    </div>
                </article>
           </div>
            <div class="col-md-3 fa-border" style="padding: 0;margin-left: 40px">
                <article>
                    <div class="border">
                        <a href="#"><img class="img-responsive" src="{% static 'images/website/zapato2.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-md-11" style="padding: 0; padding-top: 12px !important; padding-left: 12px;">
                        <div class="ico-favo">
                            <a href="#"><img width="20" src="{% static 'images/website/Corazon-contorno.png' %}" alt=""></a>
                        </div>
                        <div class="detalle">
                            <a href="#"><h3>BOUTIQUE VIMA</h3></a>
                            <p>Categories: Ofuure, Plus Size, Tops, Women</p>
                        </div>
                        <p class="cash"style="margin-top: 0px;">$ 350,00</p>
                    </div>
                </article>
           </div>
            <div class="col-md-3 fa-border" style="padding: 0;margin-left: 40px">
                <article>
                    <div class="border">
                        <a href="#"><img class="img-responsive" src="{% static 'images/website/zapato.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-md-11" style="padding: 0; padding-top: 12px !important; padding-left: 12px;">
                        <div class="ico-favo">
                            <a href="#"><img width="20" src="{% static 'images/website/Corazon-contorno.png' %}" alt=""></a>
                        </div>
                        <div class="detalle">
                            <a href="#"><h3>BOUTIQUE VIMA</h3></a>
                            <p>Categories: Ofuure, Plus Size, Tops, Women</p>
                        </div>
                        <p class="cash"style="margin-top: 0px;">$ 350,00</p>
                    </div>
                </article>
           </div>

            <div class="clearfix"></div>

            <div class="col-md-offset-4 col-xs-offset-3">
                <ul class="pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
