{% extends 'base.html' %}
{% load staticfiles %}
{% block css%}

<style type="text/css">
    .btn-group{
        width: 600px;
    }
    .resultados{

    }
input{
        height: 40px;
}
.modal-lg {
  max-width: 750px;}
@media (min-width: 768px) {
   .modal-lg {
    width: 100%;
  } 
}
@media (min-width: 992px) {
  .modal-lg {
    width: 750px;
  }
}
</style>
{% endblock css%}
{% block contenido %}
<div class="panel panel-primary" style="position: relative;top: 10px;padding: 4px;">
        <div class="panel-heading">Orden de Compra</div>
        <form id="form_orden_compra" method="post" enctype="multipart/form-data" action="/compras/orden/registro/">
            {% csrf_token %}
             <input type="hidden" id="id_id_usuario" name="id_usuario" value="{{ user.id }}">
        <input type="hidden" id="estado" name="estado" value="Sin Enviar">
        <input type="hidden" id="orden" name="orden" value="{{ orden }}">
        <input type="hidden" id="detalle" name="detalle" value="{{ detalle }}">
            <div class="row">
                <div class="col-sm-6 col-lg-6" style="float: left;">
                      <label for="{{form.id_proveedor.name}}">Proveedor:</label>
                        {{form.id_proveedor}}
                    <label for="{{form.id_almacen.name}}">Almacén:</label>
                        {{form.id_almacen}}
                    <label for="">Producto:</label>
                    <div class="searchbox" style="width: 100%;padding: 4px;">
                        <input placeholder="Buscar Producto" id="search_input" type="text" name="buscador" style="width: 100%; height: 34px; margin: 0 !important;">
                        <div class="results"  style="position: absolute; z-index: 1000; border-radius: 4px; border: 1px solid rgb(204, 204, 204); background: rgb(247, 247, 247) none repeat scroll 0% 0%; opacity: 0.8; display: none; overflow: auto; height: 60px; margin: 0px auto; font-size: 13px; width:92.2%;">
                            <h1 class="error" style="font-size: 14px; margin: 21px; text-align: center; font-weight: bold;"></h1>
                            <div class="wrapper" ></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                        <label for="" style="padding-bottom: 4px;">Observaciones:</label>
                        {{form.observaciones}}
                </div>


                <div class="col-sm-12 col-lg-12">
                    <div class="table-responsive">
                        <table id="tabla-productos" class="table" style="text-align:center; border: 1px solid #dddddd;">
                            <thead>
                                <tr>
                                    <th style="width: 10%;">Código</th>
                                    <th style="width: 30%;">Producto</th>
                                    <th style="width: 15%;">Color</th>
                                    <th style="width: 10%;">Cantidad</th>
                                    <th style="width: 10%;">Precio</th>
                                    <th style="width: 10%;">% Ganancia</th>
                                    <th style="width: 10%;">Precio de Venta</th>
                                    <th style="width: 15%;">Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyP"></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td style="text-align: center;font-family: AzoSansBold;">Total</td>
                                    <td><div id="TotalU"></div></td>
                                    <td><div id="TotalV"></div></td>
                                    <td ><div id="TotatotalPrecio"></div></td>
                                    <td ><div id="Totatotal"></div></td>
                                    <td ><div></div></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <input id="idProd" type="hidden" >
                    <div class="center-bottom">
                            <a class="btn btn-primary" href="javascript: Previsualizar();" style="height: 39px;padding: 9px 11px;">Ver Orden</a>
                            <input id="guardar_orden" class="btn btn-primary" type="button" value="Guardar">
                            <input id="procesar_orden" class="btn btn-primary" type="button" value="Procesar Orden">
                            <a class="btn btn-primary" href="/compras/orden/listado/" style="width: 100px;height: 39px;padding: 9px 11px;">Volver</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock contenido %}
{% block modal %}
    <div id="form-caracteristicas-prod" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="top: 46px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background: rgb(33, 33, 33) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold;">
                    <h4 class="modal-title" id="exampleModalLabel" style="text-align: center;">Características</h4>
                    <button style="position: relative;top: -22px;color: #fff;" type="button" class="close" data-dismiss="modal" aria-label="Close" top: -20px; position: relative; color: rgb(255, 255, 255);>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table cellpadding="4" cellspacing="4" id="caracteristicas" border="1" style="font-size:12px; border: 1px solid silver;border-collapse: collapse; max-width: 100%;width: 80%;margin: 0 auto; ">
                        <tr>
                            <td>
                                <label for="cant" class="form-control-label">Cantidad:</label>
                            </td>
                            <td>
                                <input onKeyPress="return soloNumeros(event);" type="text" class="form-control" id="cant" style="width: 100px;">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="color" class="form-control-label">Color:</label>
                            </td>
                            <td>
                                <select id="color" name="color" class="selectpicker"  data-width="100px" title="Colores Disponibles"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="talla" class="form-control-label">Talla:</label>
                            </td>
                            <td>
                                <select id="talla" name="talla" class="selectpicker" multiple data-width="100px" title="Seleccione..."></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="porcentaje_ganancia" style="text-align: center;width: 92%">%:</label>

                            </td>
                            <td>
                                <input onkeypress="return verificarNumero(event);" id="porcentaje_ganancia"  style="width: 100px;text-align: right;" name="porcentaje_ganancia" />

                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label for="monto_ganancia">Precio Venta:</label>
                            </td>
                            <td>
                                <input id="precio_compra" type="hidden" />
                                <input id="precio_venta" type="text" onkeypress="return verificarNumero(event);"  name="precio_venta" style="width: 100px;text-align: right;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" style="width:100px;" value="Cerrar">
                    <input id="add-caracteristicas" class="btn btn-primary" type="button" value="Agregar" style="width:100px;">
                </div>
            </div>
        </div>
    </div>

{% comment  %}previsualizar orden {% endcomment %}

<!-- Modal -->
<div id="form-previsualiza" class="modal fade" role="dialog"  style="top: 46px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background: rgb(255, 255, 255);border-bottom: none;padding-bottom: 0;padding-top: 18px;">
                <h4 class="modal-title" id="exampleModalLabel" style="text-align: center;"><img style="width: 101px;height: 30px;" src="{% static 'images/LogoVima.png' %}"></h4>
                <button style="position: relative;top: -22px;color: #000;" type="button" class="close" data-dismiss="modal" aria-label="Close" top: -20px; position: relative; color: rgb(255, 255, 255);>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size: 14px;float: left;padding: 0 7px;">
                <h4 class="modal-title" id="exampleModalLabel" style="margin-bottom: 15px;text-align: center;background: #000;color: #fff;font-weight: bold;">Orden de Compra</h4>
                <table style="width: 99%;"  id="datosP">
                    <tr>
                        <td style="width: 15%;"><label>Proveedor:</label></td>
                        <td style="width: 50%;"><div style="float: left;margin-left: 7px;" id="Proveedor"></div></td>
                        <td style="width: 25%;"><label style="float: right;">Orden N°:</label></td>
                        <td style="width: 10%;"><div  id="n_orden"></div></td>
                    </tr>
                </table>
                <table style="width: 99%;" id="datosD">
                    <tr>
                        <td style="width: 15%;"><label>Rif:</label></td>
                        <td><div style="float: left;margin-left: 7px;" id="rif_p"></div></td>
                    </tr>
                    <tr>
                        <td><label>Teléfono:</label></td>
                        <td><div style="float: left;margin-left: 7px;" id="telef"></div></td>
                    </tr>
                    <tr>
                        <td ><label>Dirección:</label></td>
                        <td ><div style="float: left;margin-left: 7px;" id="direcc"></div></td>
                    </tr>
                    <tr>
                        <td ><label>Fecha del Pedido:</label></td>
                        <td ><div style="float: left;margin-left: 7px;" id="fecha_pedido"></div></td>
                    </tr>
                </table>
                
                    <div id="contT" style="float: left;" class="table-responsive"></div>
                
            </div>
            <div class="modal-footer" style="border-top: none;">
                <input type="button" class="btn btn-primary" data-dismiss="modal" style="width:100px;" value="Cerrar">
                <input id="guardarOrd" class="btn btn-primary" type="button" value="Guardar" style="width:100px;">
                <input id="procesarOrd" class="btn btn-primary" type="button" value="Procesar Orden" style="width:124px;">
            </div>
        </div>
    </div>
</div>
{% endblock modal%}
{% block js %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/orden_compra.js' %}"></script>
<script src="{% static 'js/JQueryRC4.js' %}"></script>
<script type="text/javascript">
var caracte;
$(function (){

    mostrarCaracteristicasModificar();
    $("#guardar_orden, #guardarOrd").click(function (){
       var json = crearJson();
       if(validarCampos()) {
           $.ajax({
               url: '/compras/orden/modificar/' + $("#orden").val() + '/',
               type: 'POST',
               data: json,
               dataType: 'json',
               success: function (msj) {
                   mostrarMensajes(msj.mensaje);
                   setTimeout(function () {
                       window.location = '/compras/orden/listado'
                   }, 3000);

               },
                error: function() { 
                    mostrarMensajes('Ocurrió un error al guardar la Orden de Compra.');
                    setTimeout(function(){ 
                        window.location='/compras/orden/listado'
                    }, 2000);
                }
           });
       }
    });
    $("#procesar_orden, #procesarOrd").click(function (){
        $("#estado").val("Enviada");
        var json = crearJson();
        if(validarCampos()) {
            $.ajax({
                url: '/compras/orden/modificar/' + $("#orden").val() + '/',
                type: 'POST',
                data: json,
                dataType: 'json',
                success: function(msj) {
                    mostrarMensajes("Espere un momento, estamos procesando su orden de compra.");
                    if(msj.id > 0){
                        window.open('/compras/orden/descargar/'+msj.id)
                    }
                    
                    setTimeout(function(){ 
                        enviarCorreo(msj.correo,msj.id);
                        mostrarMensajes(msj.mensaje);
                        setTimeout(function(){ 
                            window.location='/compras/orden/listado'
                        }, 10000);
                    }, 20000);
                },
                error: function() { 
                    mostrarMensajes('Ocurrió un error al procesar la Orden de Compra.');
                    setTimeout(function(){ 
                        window.location='/compras/orden/listado'
                    }, 2000);
                }
            });
        }
    });

});
function mostrarCaracteristicasModificar(){
    caracte =JSON.parse(detalle.value);
    var cod_product = [];
    var colores = [];
    var Ncolores = [];
    var tallas = [];
    var caracteristicas = [];
    var cantidades = []; 
    $.each(caracte,function(index, valores){
        var codigo = str_pad(valores.id_producto, 4, '0', 'STR_PAD_LEFT');
        var cod_prod = cod_product.indexOf(codigo);
        var nuevo = [];
        var caract = [];
        colores = [];
        Ncolores = [];
        var size = [];
        var existe = false;
        var col = [];
        var car = [];
        var n_color = [];
        var precioVentas = [];
        var precio_producto = valores.precio_producto;
        cod_product = [];
        var existeTalla=true;
        for (var e in jsonProd) {
            var matrizP = jsonProd[e];
            var codigoprod= matrizP[0];
            col = matrizP[1];
            n_color = matrizP[4];
            car = matrizP[2];
            if(codigoprod[0] == codigo){
                 existe= true;
                    break;

            }
        }
        if(existe ==false){
            tallas = [];
            cantidades = [];
            precioVentas = [];
            caracteristicas = [];
            cod_product.push(codigo);
            colores.push(valores.color);
            Ncolores.push(valores.nombre_color);
            $.each(valores.detalle.talla,function(i, t){
                tallas.push(t);
                cantidades.push(parseInt(valores.detalle.cantidad[i]));

            });
            precioVentas.push(valores.porcentaje_ganancia, valores.precio_venta);

            caracteristicas.push(tallas, cantidades, precioVentas);
            size.push(caracteristicas);
            caract.push(valores.nombre_producto,precio_producto);
            nuevo.push(cod_product,colores,size,caract,Ncolores);
            jsonProd.push(nuevo);

        }else{
            var color_prod = col.indexOf(valores.color);
            if(color_prod == '-1'){
                tallas = [];
                cantidades = [];
                caracteristicas = [];
                col.push(valores.color);
                n_color.push(valores.nombre_color);
                $.each(valores.detalle.talla,function(i, t){
                    tallas.push(t);
                    cantidades.push(parseInt(valores.detalle.cantidad[i]));

                });
                precioVentas.push(valores.porcentaje_ganancia, valores.precio_venta);
                caracteristicas.push(tallas, cantidades, precioVentas);
                car.push(caracteristicas);

            }else{ 
                var exiteT=car[color_prod];
                var carT = exiteT[0];
                    var cant = exiteT[1];
                $.each(valores.detalle.talla,function(i, t){
                    var arrayT = carT.indexOf(t);
                       if(arrayT == '-1'){
                            carT.push(t);
                            cant.push(parseInt(valores.detalle.cantidad[i]));
                        }

                });
            }
        }

    });
    FilasTabla(jsonProd);
}

function enviarCorreo(correo,orden){
    $.ajax({
        url: '/compras/orden/correo/',
        type: 'POST',
        dataType: 'json',
        async : true,
        data : {correo :correo,
                id: orden },
        success: function(msj) {

        }
    });
}
</script>
{% endblock js %}

