{% extends 'base.html' %}
{% load staticfiles %}
{% block css%}

<style>
.form-control{
        bottom: 4px !important;
        position: relative !important;
        height: 30px !important;
    }
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active{
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}
</style>
{% endblock css%}

{% block contenido %}

<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de Ordenes de Compra</div>

    <a class="glyphicon glyphicon-plus btn-nuevo " href="{% url 'compras:ordenes_crear' %}">Nuevo</a>

    <div class="table-responsive">
        <table class="table table-hover">
        {% if object_list %}
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Proveedor</td>
                    <td>Monto</td>
                    <td>Almacen</td>
                    <td>Creado por</td>
                    <td>Estado</td>
                    <td style="text-align: center">Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for orden in object_list %}
                <tr>
                    <td>{{ orden.id_compra }}</td>
                    <td>{{ orden.id_proveedor.nombre_empresa }}</td>
                    <td>{{ orden.monto_total|floatformat:"2" }}</td>
                    <td>{{ orden.id_almacen.descripcion }}</td>
                    <td>{{ orden.id_usuario.first_name }} {{ orden.id_usuario.last_name }}</td>
                    <td>{{ orden.estado }}</td>
                    <td style="text-align: center">
                    {% ifequal orden.estado 'Sin Enviar' %}
                            <a class="glyphicon glyphicon-pencil" href="{% url 'compras:ordenes_modificar' orden.id_compra %}" title="Modificar"/>
                    {% endifequal %}
                    {% if orden.estado == 'Enviada' or orden.estado == 'Sin Enviar' %}
                            <a class="glyphicon glyphicon-remove" href="{% url 'compras:ordenes_anular' orden.id_compra %}" title="Anular"/>
                    {% endif %}
                    {% if orden.estado != 'Anulada' and orden.estado != 'Sin Enviar' %}
                            <a class="glyphicon glyphicon-print" href="{% url 'compras:ordenes_imprimir' orden.id_compra %}" title="Mostrar" />
                    {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
            {% if is_paginated %}
                <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                          {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                </ul>
            {% endif %}
    {% else %}
        <h3 style="text-align: center;">No Hay Registros de ordenes.</h3>
    {% endif %}
</div>


{% endblock %}
{% block js %}
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
{% endblock %}
