{% extends 'base.html' %}
{% load staticfiles %}
{% block css%}

<style>
.form-control{
        bottom: 4px !important;
        position: relative !important;
        height: 30px !important;
    }

</style>
{% endblock css%}

{% block contenido %}

<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de Recepciones de Mercancía</div>
    <a class="glyphicon glyphicon-plus btn-nuevo" href="{% url 'compras:recepcion_crear' %}">Nuevo</a>
<div class="table-responsive">
    {% if object_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Orden Relacionada</td>
                    <td>Fecha Recepción</td>
                    <td>Monto</td>
                    <td>Creado por</td>
                    <td>Estado</td>
                    <td style="text-align: center">Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for recepcion in object_list %}
                <tr>
                    <td>{{ recepcion.id_recepcion }}</td>
                    <td>{{ recepcion.id_orden_compra }}</td>
                    <td>{{ recepcion.fecha_recepcion }}</td>
                    <td>{{ recepcion.monto|floatformat:"2" }}</td>
                    <td>{{ recepcion.id_usuario.first_name }} {{ recepcion.id_usuario.last_name }}</td>
                    <td>{{ recepcion.estado }}</td>
                    <td style="text-align: center;">
                    {% ifequal recepcion.estado 'Procesada' %}
                            <a class="glyphicon glyphicon-check" href="{% url 'cuentas_pagar:recepcion_facturar' recepcion.id_recepcion %}" title="Facturar"></a>
                            <a class="glyphicon glyphicon-print" href="javascript: Previsualizar({{recepcion.id_recepcion}});" title="Mostrar"></a>
                            <a class="glyphicon glyphicon-remove" href="{% url 'compras:recepcion_anular' recepcion.id_recepcion %}" title="Anular"></a>
                    {% endifequal %}
                    {% ifequal recepcion.estado 'Facturada' %}
                            <a class="glyphicon glyphicon-print" href="javascript: Previsualizar({{recepcion.id_recepcion}});" title="Mostrar"/></a>
                            <a class="glyphicon glyphicon-remove" href="{% url 'compras:recepcion_anular' recepcion.id_recepcion %}"  title="Anular"/></a>
                    {% endifequal %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
    {% else %}
        <h3 style="text-align: center;">No Hay Registros de Recepciones.</h3>
    {% endif %}


</div>

{% endblock contenido%}
{% block modal%}
<div id="previsualiza-recep" class="modal fade" role="dialog"  style="top: 46px;display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: rgb(255, 255, 255);border-bottom: none;padding-bottom: 0;padding-top: 18px;">
                    <h4 class="modal-title" id="exampleModalLabel" style="text-align: center;"><img style="width: 101px;height: 30px;" src="{% static 'images/LogoVima.png' %}"></h4>
                    <button style="position: relative;top: -22px;color: #000;" type="button" class="close" data-dismiss="modal" aria-label="Close" top: -20px; position: relative; color: rgb(255, 255, 255);>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="font-size: 14px;float: left;padding-top: 0;width: 95%">
                    <h4  style="margin-bottom: 15px;text-align: center;background: #000;color: #fff;font-weight: bold;">Recepción de Mercancía</h4>
                        <table class="table" style="width: 90%;text-align: center;margin-left: 5%;">
                        <thead>
                            <tr>
                                <td align="left" style="font-weight: bold;">N° de Orden:</td>
                                <td id="orden" width="100"></td>
                                <td  align="left" style="font-weight: bold;">Fecha de recepcion:</td>
                                <td id="fecha"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="left" style="font-weight: bold;">% impuesto:</td>
                                <td id="porimp"></td>
                                <td align="left" style="font-weight: bold;">Monto impuesto:</td>
                                <td id="imp"></td>
                            </tr>
                            <tr>
                                <td align="left" style="font-weight: bold;">% de Flete:</td>
                                <td id="porfle"></td>
                                <td align="left" style="font-weight: bold;">Monto de Flete:</td>
                                <td id="flete"></td>
                            </tr>
                            <tr>
                                <td align="left" style="font-weight: bold;">Monto Total:</td>
                                <td id="monto"></td>
                            </tr>
                            <tr>
                                <td align="left" style="font-weight: bold;">Observaciones:</td>
                                <td id="observ" colspan="3" align="left"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table id="tabla-productos" class="table" style="text-align:center; margin: 8px; border: 1px solid #dddddd;">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Talla</th>
                                <th>Color</th>
                                <th>Recibido</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyRec"></tbody>
                    </table>
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" style="width:100px;" value="Cerrar">
                </div>
            </div>
        </div>
    </div>

{% endblock modal%}
{% block js %}
    <script type="text/javascript">
function Previsualizar(id_recepcion) {
        $.ajax({
            dataType : 'json',
            method : 'POST',
            url : '/compras/recepcion/mostrar/',
            data : {
                recepcion : id_recepcion,
            },
            success : function(data) {
                recepcion =JSON.parse(data.recepcion);
                detalle =JSON.parse(data.detalle);
                $(".modal-body","#previsualiza-recep").find("div").html("");
                $.each(recepcion,function(index,valor){
                    $(".modal-body","#previsualiza-recep").find("#orden").html(valor.fields.id_orden_compra);
                    $(".modal-body","#previsualiza-recep").find("#fecha").html(valor.fields.fecha_recepcion);
                    $(".modal-body","#previsualiza-recep").find("#monto").html(number_format(valor.fields.monto,2,'.',','));
                    $(".modal-body","#previsualiza-recep").find("#porimp").html(valor.fields.porcentaje_impuesto);
                    $(".modal-body","#previsualiza-recep").find("#imp").html(number_format(valor.fields.impuesto,2,'.',','));
                    $(".modal-body","#previsualiza-recep").find("#porfle").html(valor.fields.porcentaje_flete);
                    $(".modal-body","#previsualiza-recep").find("#flete").html(number_format(valor.fields.monto_flete,2,'.',','));
                    $(".modal-body","#previsualiza-recep").find("#observ").html(valor.fields.observaciones);
                });

                var fila="";
                $.each(detalle, function(index, value){
                fila=fila+"<tr><td>" + value.nombre_producto + "</td><td>" + value.talla + "</td><td>" + value.nombre_color + "</td><td>" + value.cantidad_recibida + "</td><td>" + number_format(value.precio,2,'.',',') + "</td><td>" + number_format(value.total,2,'.',',') + "</td></tr>";
            });
                $("#tbodyRec").html("");
                    $("#tbodyRec").append(fila);
               if(detalle != "")
                $('#previsualiza-recep').modal('show');

            }
        });
}
    </script>
{% endblock js%}
