{% extends 'base.html' %}

{% block contenido %}
<div class="panel panel-primary" style="position: relative; top: 10px;">
  <div class="panel-heading">Confirmar Anulación</div>
	<form method="post" style="text-align: center;">
		{% csrf_token %}
		<div class="alert alert-warning" style="width: 50%;margin: auto;margin-top: 14px;">
			<h4>¿Está seguro de Anular la Recepción #{{ recepcion.id_recepcion }}?</h4>
			<button class="btn btn-primary" type="submit">Si</button>
			<a class="btn btn-default" href="{% url 'compras:recepcion_listado' %}">No</a>
		</div>
	</form>
</div>
{% endblock %}