{% extends 'base.html' %} {% load staticfiles %} {% block css%}

<style type="text/css">
    .btn-group {
        width: 600px;
    }
</style>
{% endblock css%} {% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Recepcion de Mercancía</div>
    <form id="form_recepcion_compra" method="post" enctype="multipart/form-data" action="/compras/recepcion/registro/">
        {% csrf_token %}
        <input type="hidden" id="id_id_usuario" name="id_usuario" value="{{ user.id }}">
        <input type="hidden" id="estado" name="estado" value="Procesada">
        <input type="hidden" id="detalle" name="detalle" value="{{ detalle }}">
        <div class="row">
            <div id="RecepOrd" class="col-sm-6 col-lg-6" style="float: left;">
                <label for="{{form.id_orden_compra.name}}">Orden de Compra:</label> {{form.id_orden_compra}}
                <a class="btn btn-primary glyphicon glyphicon-refresh" href="javascript: Cargar_detalle();" style="float: right;"> Cargar</a>
                <label for="{{form.fecha_recepcion.name}}">Fecha de Recepción:</label> {{form.fecha_recepcion}}
            </div>
            <div class="col-sm-6 col-lg-6">
                <label for="{{form.observaciones.name}}">Observaciones:</label> {{form.observaciones}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="form-group"> 
                <label for="{{form.monto.name}}">Monto Recepción:</label> {{form.monto }}
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-6">
                 <div class="form-group"> 
                <label for="{{form.porcentaje_impuesto.name}}">% Impuesto:</label> {{form.porcentaje_impuesto}}
                 </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4">
                 <div class="form-group"> 
                <label for="{{form.impuesto.name}}">Monto Impuesto:</label> {{form.impuesto }}
                 </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-md-4">
                 <div class="form-group"> 
                <label for="{{form.porcentaje_flete.name}}">Porcentaje Flete:</label> {{form.porcentaje_flete }}
                 </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-md-4">
                 <div class="form-group"> 
                <label for="{{form.monto_flete.name}}">Monto de Flete:</label> {{form.monto_flete }}
                 </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tabla-productos" class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Talla</th>
                        <th>Color</th>
                        <th>Precio Compra  </th>
                        <th>Precio Venta  </th>
                        <th>Por Recibir</th>
                        <th>Recibido</th>
                        <th>Lote n°</th>
                    </tr>
                </thead>
                <tbody id="tbodyP"></tbody>
            </table>
        </div>

        <div class="center-bottom">
            <input id="idProd" type="hidden">
            <input id="procesar_orden" class="btn btn-primary" type="button" value="Procesar Recepción">
            <a class="btn btn-default" href="/compras/recepcion/listado/">Volver</a>
        </div>
</form>
</div>
</div>
{% endblock contenido %} {% block js %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
    var cod_prod, precio_prod;
    var jsonProd = [];
    var json_general = [];
    $(function () {
        $(function () {
            $('#id_fecha_recepcion').datepicker({
                inline: true,
                sideBySide: true,
                format: 'yyyy-mm-dd'
            });
        });

        $("#procesar_orden").click(function () {
            if (validarCampos()) {
                var detalle = [];
                var total = 0;
                var day = $('#id_fecha_recepcion').datepicker('getDate').getDate();
                var month = $('#id_fecha_recepcion').datepicker('getDate').getMonth() + 1;
                var year = $('#id_fecha_recepcion').datepicker('getDate').getFullYear();
                var recep = year + "-" + month + "-" + day;
                $("#tbodyP tr").each(function (i) {
                    var codigo = $(this).attr("codigo");
                    var cantidad_recibida = $("#" + codigo).val();
                    var lote = $("#lote" + codigo).val();
                    json_general[i].cantidad_recibida = cantidad_recibida;
                    json_general[i].lote = lote;
                });
                $.each(json_general, function (index, valores) {
                    total++;
                    detalle.push({ pk: valores.pk, codigo_producto: valores.id_producto, color: valores.color, nombre_color: valores.nombre_color, talla: valores.talla, lote: valores.lote, requerida: valores.cantidad, recibida: valores.cantidad_recibida });
                });
                var json = {
                    cantidad_detalle: total,
                    orden: $('#id_id_orden_compra').val(),
                    observacion: $('#id_observaciones').val(),
                    fecha: recep,
                    monto: $('#id_monto').val(),
                    porc_impuesto: $('#id_porcentaje_impuesto').val(),
                    impuesto: $('#id_impuesto').val(),
                    porc_flete: $('#id_porcentaje_flete').val(),
                    flete: $('#id_monto_flete').val(),
                    usuario: $('#id_id_usuario').val(),
                    estado: $('#estado').val(),
                    detalle: detalle
                }
                $.ajax({
                    url: '/compras/recepcion/registro/',
                    type: 'POST',
                    data: json,
                    dataType: 'json',
                    success: function (msj) {
                        window.location = '/cuentas_pagar/facturar/' + msj.recepcion
                    },
                    error: function() { 
                        mostrarMensajes('Ocurrió un error al guardar la Recepción de Compra.');
                        setTimeout(function(){ 
                            window.location='/compras/recepcion/listado'
                        }, 2000);
                    }
                });
            }
        });
    });

    function Cargar_detalle() {
        var fila = "";
        orden = $('#id_id_orden_compra').val();
        $.ajax({
            dataType: 'json',
            method: 'POST',
            url: '/compras/recepcion/detalle/',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                orden: orden
            },
            success: function (data) {
                json_general = data;
                for (var i in data) {
                    if (data[i].cantidad > 0) {
                        fila = fila + "<tr codigo='" + data[i].pk + "'><td>" + data[i].pk + "</td><td>" + data[i].id_producto + " - " + data[i].nombre_producto + "</td><td>" + data[i].talla + "</td><td>" + data[i].nombre_color + "</td><td style='width: 100px;' precio='" + data[i].precio + "'>" + data[i].precio + "</td><td style='width: 100px;'>" + data[i].precio_venta + "</td><td>" + data[i].cantidad + "</td><td><input name='recibido' onKeyPress='return soloNumeros(event);' value=''  style='width: 70px;' type='text' id='" + data[i].pk + "'></td>" + "</td><td><input onKeyPress='return soloNumeros(event);' style='width: 70px;' type='text' id='lote" + data[i].pk + "'  value='' ></td>" + "</td></tr>"
                    }

                }
                $("#tbodyP").html("");
                $("#tbodyP").append(fila);
            }
        });
    }

    function validarCampos() {
        var orden = $('#id_id_orden_compra').val();
        var fecha = $('#id_fecha_recepcion').val();
        var monto = $('#id_monto').val();
        var porcentajei = $('#id_porcentaje_impuesto').val();
        var impuesto = $('#id_impuesto').val();
        var porcentajef = $('#id_porcentaje_flete').val();
        var flete = $('#id_monto_flete').val();
        var tabla = $("#tbodyP").html();

        var encontro = false;
        $("#tbodyP tr").each(function (i) {
            var codigo = $(this).attr("codigo");
            var recibida = $("#" + codigo).val();
            var lote = $("#lote" + codigo).val();
            if (recibida == "" || lote == "") {
                encontro = true;
            }
        });

        if (tabla == "" || orden == "" || fecha == "" || monto == "" || porcentajei == "" || impuesto == "" || porcentajef == "" || flete == "" || encontro) {
            mostrarMensajes("Por favor complete todos los campos obligatorios.");
            return false;
        } else {
            return true;
        }
    }

    function calculoImpuesto() {
        var porc = $('#id_porcentaje_impuesto').val();
        var mont = $('#id_monto').val();
        var cal = mont * (porc / 100);
        $('#id_impuesto').val(number_format(cal,2,'.',','))
    }

    function calculoFlete() {
        var porc = $('#id_porcentaje_flete').val();
        var mont = $('#id_monto').val();
        var cal = mont * (porc / 100);
        $('#id_monto_flete').val(number_format(cal,2,'.',','))
    }

</script>
{% endblock js %}