{% extends 'base.html' %}
{% load staticfiles %}
{% block css%}

<style type="text/css">
    .btn-group{
        width: 600px;
    }

</style>
{% endblock css%}
{% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Registro de Factura</div>
        {% if recepcion.id_orden_compra.estado == "Parcial" %}
                    <h4 class="alert alert-warning"><b>La Recepcion de Mercancía se guardó satisfactoriamente,</b> puede registrar la factura ahora y cerrar la orden de compra con productos faltantes, o registrarla en una proxima recepción presionando el botón <b>"Volver"</b> </h4>
        {% endif %}

        {% if recepcion.id_orden_compra.estado == "Procesada" %}
                    <h4 class="alert alert-warning"><b>La Recepcion de Mercancía se guardó satisfactoriamente,</b> debe registrar la factura relacionada para generar la cuenta por pagar, y completar el proceso.</b> </h4>
        {% endif %}

            <label style="font-size: 18px;padding:10px;padding-left:16px;">
                <b>Proveedor de la Cuenta:</b> {{recepcion.id_orden_compra.id_proveedor.id_proveedor}} - {{recepcion.id_orden_compra.id_proveedor.nombre_empresa}}
            </label>
            <input type="hidden" id="sub" name="sub" value="{{sub}}">
    <form id="form_cuenta_pagar" method="post" enctype="multipart/form-data" action="/cuentas_pagar/facturar/{{recepcion.id_recepcion}}/">
        {% csrf_token %}
            <input type="hidden" id="id_id_proveedor" name="id_proveedor" value="{{ recepcion.id_orden_compra.id_proveedor.id_proveedor }}">
            <input type="hidden" id="tipo_transaccion" name="tipo_transaccion" value="FAC">
            <input type="hidden" id="id_id_recepcion" name="id_recepcion" value="{{ recepcion.id_recepcion }}">
            <input type="hidden" id="id_id_usuario" name="id_usuario" value="{{ user.id }}">
            <input type="hidden" id="estado" name="estado" value="Pendiente">
            <div class='row'>
                <div class='col-sm-3'>    
                    <div class='form-group'>
                        <label for="{{form.numero_documento.name}}">Numero de Documento:</label>
                        {{form.numero_documento}}
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="{{form.numero_control.name}}">Numero de Control:</label>
                        {{form.numero_control}}
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="{{form.fecha_documento.name}}">Fecha del Documento:</label>
                        {{form.fecha_documento}}
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="{{form.fecha_vencimiento.name}}">Fecha de Vencimiento:</label>
                        {{form.fecha_vencimiento}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-12'>
                    <div class="form-group">
                        <label for="{{form.concepto.name}}">Concepto:</label>
                        {{form.concepto}}
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4'>    
                    <div class='form-group'>
                        <label for="{{form.subtotal.name}}">Sub-Total:</label>
                        {{form.subtotal}}
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <label for="{{form.porcentaje_impuesto.name}}">% Impuesto:</label>
                        {{form.porcentaje_impuesto}}
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <label for="{{form.impuesto.name}}">Monto del Impuesto:</label>
                        {{form.impuesto }}
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4'>    
                    <div class='form-group'>
                        <label for="{{form.porcentaje_flete.name}}">% Flete:</label>
                        {{form.porcentaje_flete}}
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <label for="{{form.monto_flete.name}}">Monto de Flete:</label>
                        {{form.monto_flete }}
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <label for="{{form.monto.name}}">Monto Total a Pagar:</label>
                        {{form.monto}}
                    </div>
                </div>
            </div>

            <div class="center-bottom">
                <input id="procesar_orden" class="btn btn-primary" type="submit" value="Guardar">
                {% if recepcion.id_orden_compra.estado == "Parcial" %}
                    <a class="btn btn-default" href="/compras/recepcion/listado/">Volver</a>
                {% endif %}
            </div>
    </div>

</form>

{% endblock contenido %}

{% block js %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
$(function (){
        $(function () {
            $(document).ready(function () {
                $('#id_subtotal').val($('#sub').val().replace(",","."));
                $('#id_monto').val($('#sub').val().replace(",","."));
        });
        $('#id_fecha_documento').datepicker({
            inline: true,
            sideBySide: true,
            format: 'yyyy-mm-dd'
        });

        $('#id_fecha_vencimiento').datepicker({
            inline: true,
            sideBySide: true,
            format: 'yyyy-mm-dd'
        });
    });
});

function validarCampos() {
     var orden = $('#id_id_orden_compra').val();
     var fecha = $('#id_fecha_recepcion').val();
     var monto = $('#id_monto').val();
     var porcentajei = $('#id_porcentaje_impuesto').val();
     var impuesto = $('#id_impuesto').val();
     var porcentajef = $('#id_porcentaje_flete').val();
     var flete = $('#id_monto_flete').val();
    if(orden == "" || fecha == "" || monto  == "" || porcentajei == "" || impuesto == ""){
        mostrarMensajes("Por favor complete todos los campos obligatorios.");
        return false;
    }else{
        return true;
    }
}

function calculoImpuesto() {
    var porc=$('#id_porcentaje_impuesto').val();
    var mont=$('#id_subtotal').val(); 
    var cal=mont*(porc/100);
    $('#id_impuesto').val(cal.toFixed(2));
}
   
function calculoflete() {
    var porc=$('#id_porcentaje_flete').val();
    var mont=$('#id_subtotal').val();
    var cal=mont*(porc/100);
    $('#id_monto_flete').val(cal.toFixed(2));
} 

function calculoTotal() {
    var imp=$('#id_impuesto').val();
    var fle=$('#id_monto_flete').val();
    var mont=$('#id_subtotal').val();
    var cal = parseFloat(mont) + parseFloat(imp) + parseFloat(fle);
    $('#id_monto').val(cal.toFixed(2))
} 
</script>
{% endblock js %}