{% extends 'base.html' %} {% block contenido %} 
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de Facturas del Proveedor: {{ proveedor.nombre_empresa }} </div>
    <input type="hidden" name="prov" id="prov" value="{{ proveedor.id_proveedor }}">
    {% if listado_facturas %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Nro. Documento</td>
                    <td>Concepto</td>
                    <td>Fecha del Documento</td>
                    <td>Fecha de Vencimiento</td>
                    <td>Registrada por</td>
                    <td>Número de Control</td>
                    <td>Monto</td>
                    <td>Abonado</td>
                    <td>Saldo</td>
                    <td style="text-align: center">Pago ó abono</td>
                </tr>
            </thead>
            <tbody>
                {% for item in listado_facturas %}
                <tr>
                    <td>{{ item.numero_documento }}</td>
                    <td>{{ item.concepto }}</td>
                    <td>{{ item.fecha_documento }}</td>
                    <td>{{ item.fecha_vencimiento }}</td>
                    <td>{{ item.id_usuario }}</td>
                    <td>{{ item.numero_control }}</td>
                    <td>{{ item.monto | floatformat:2 }}</td>
                    <td>{{ item.abono | floatformat:2 }}</td>
                    <td>{{ item.saldo | floatformat:2 }}</td>
                    {% if item.saldo > 0 %}
                    <td style="text-align: center"> 
                        <div style="cursor:pointer;" class="abono_link" id="{{ item.id_cuenta_pagar }}" data-toggle="modal" title="Pagar la factura seleccionada" data-target="#form-modal" data-cuenta="{{ item.id_cuenta_pagar }}">Pago ó abono</div>
                    </td>
                    {% else %}
                        <td style="text-align: center">Cancelada</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %} {% if is_paginated %}
    <div class="text-center">
        <ul class="pagination nav navbar-nav">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %} {% for page in page_obj.paginator.page_range %}
            <li class="{% if page_obj.number == page  %}active{% endif %}">
                <a href="?page={{page }}">{{ page }}</a></li>
            {% endfor %} {% if page_obj.has_next %}
            <li> <a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="Efectuar Pago" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Pago ó Abono</h4>
            </div>
            <div id="form-modal-body" class="modal-body" style="float: left; width: 100%;">

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" id="btn-procesar">Procesar Pago</button>
            </div>
        </div>
    </div>
</div>
    <div style="text-align: center;margin: 15px;">
        <a class="btn btn-primary" target="_blank" href="javascript: Imprimir();" style="height: 40px; padding: 9px;width: 125px">Imprimir Listado</a>
    </div>

{% endblock %} {% block js %}
<script type="text/javascript">
    var formAjaxSubmit = function (form, modal) {
        $(form).submit(function (e) { 
            e.preventDefault(); 
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),                      
                success: function (xhr, ajaxOptions, thrownError) {       
                     if ($(xhr).find('.form-control').length > 0) {
                        $(modal).find('.modal-body').html(xhr);
                        formAjaxSubmit(form, modal);
                     } else {                      
                        $(modal).modal('hide');
                        window.location="";
                     }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                 
                }
            });
        });
    }

    $(document).on("click",".abono_link", function (element) { 
        var data = element.currentTarget 
        var id_cuenta_pagar = data.dataset.cuenta;
        var url = "{% url 'cuentas_pagar:cancelar_deuda_proveedor' 0 %}"; 
        url = url.replace('0',id_cuenta_pagar); 
        $('#form-modal-body').load(url, function () {
            $('#form-modal').modal('show');
            formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
    });

    $(document).on("click","#btn-procesar", function (element) { 
        $('#form-procesar-pago').submit();
    });

function Imprimir(){
    window.open('/cuentas_pagar/estado_cuenta/mostrar/'+$('#prov').val(),'_blank')
}
</script>
{% endblock js %}