{% extends 'base.html' %} {% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de Cuentas Por Pagar</div>
    {% if listado_deuda %} 
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Nro.</td>
                    <td>Proveedor</td>
                    <td>Deuda Total</td>
                    <td>Saldo adeudado</td>
                    <td>Cantidad de facturas</td>
                    <td style="text-align: center">Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for item in listado_deuda %}
                <tr>
                    <td>{% if paginated %}
                            {{ page.start_index | add:forloop.counter }}
                        {% else %}
                            {{ forloop.counter }}
                        {% endif %}</td>
                    <td>{{ item.id_proveedor_id__nombre_empresa }}</td>
                    <td>{{ item.total_monto | floatformat:2 }}</td>
                    <td>{{ item.total_saldo | floatformat:2 }}</td>
                    <td>{{ item.facturas }}</td>
                    <td style="text-align: center"><a href="{% url 'cuentas_pagar:buscar_deuda_proveedor' item.id_proveedor_id %}">Ver Detalle</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %} {% if is_paginated %}
    <div class="text-center">
        <ul class="pagination nav navbar-nav">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %} {% for page in page_obj.paginator.page_range %}
            <li class="{% if page_obj.number == page  %}active{% endif %}">
                <a href="?page={{page }}">{{ page }}</a></li>
            {% endfor %} {% if page_obj.has_next %}
            <li> <a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}