{% if form.errors %}
	<div id="errors">
		<div class="alert alert-danger">
			<p>Se encontraron errores en la información sumimistrada,por favor corregir lo siguiente:</p>
			<strong>{{ form.non_field_errors }}</strong>
			<ul>
				{% for field in form %}
					{% if field.errors %}<li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}
<form class="form-horizontal" id="form-procesar-pago" action="{% url 'cuentas_pagar:cancelar_deuda_proveedor' id_cuenta %}" method="post">
    {% csrf_token %}
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="{{form.concepto.name}}">{{form.concepto.label}}</label>{{form.concepto}}
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="{{form.tipo.name}}">{{form.tipo.label}}</label> {{form.tipo}}
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="{{form.monto.name}}">{{form.monto.label}}</label> {{form.monto}}
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="{{form.referencia.name}}">{{form.referencia.label}}</label> {{form.referencia}}
        </div>
    </div>
</form>