{% extends 'base.html' %}

{% block contenido %}
<div class="panel panel-primary" style="position: relative; top: 10px;">
    <div class="panel-heading">Listado de Cuentas Por Pagar</div> 
    <div class="row">
            <div class="col-sm-6 col-lg-6" style="float: left;">
                <select class="selectpicker form-control" data-live-search="true" id="list_proveedor">
                    {% if proveedores %}
                        {% for proveedor in proveedores %}
                            <option>{{proveedor.descripcion}}</option>
                            {% endfor %}
                     {% endif %}       
                </select>
            </div>
    </div>
</div>
{% endblock %}