{% extends 'base.html' %} {% load staticfiles %} {% block css %}
<style type="text/css">
    .cargar {
        background: url('{% static 'images/botonadjuntalogo.png' %}')no-repeat;
        height: 28px;
        overflow: hidden;
        cursor: pointer;
    }

    .cargar_catalogo {
        background: url('{% static 'images/website/botonadjuntar_CATALOGO.png' %}')no-repeat;
        height: 28px;
        overflow: hidden;
        cursor: pointer;
    }

    .file-upload {
        opacity: 0;
        border: none;
        height: 100%;
        max-width: 100%;
        color: #ffffff !important;
        cursor: pointer;
    }

    #id_es_disenador {
        list-style: none;
        padding: 0;
    }

    #id_es_disenador input[type=radio] {
        height: 10px;
    }
</style>
{% endblock css%} {% block contenido %} {% if form.errors %}
<div id="errors">
    <div class="alert alert-danger">
        <p>Se encontraron errores en la información sumimistrada, por favor corregir lo siguiente:</p>
        <strong>{{ form.non_field_errors }}</strong>
        <ul>
            {% for field in form %} {% if field.errors %}
            <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>{% endif %} {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Crear nuevo proveedor</div>
    <form method="post" enctype="multipart/form-data" class="form-group">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-4">
                <div class="form-group">
                    <label for="{{form.nombre_empresa.name}}">{{form.nombre_empresa.label}}</label> {{form.nombre_empresa}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="{{form.nombre_disenador.name}}">Nombre de Marca</label> {{form.nombre_disenador}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="{{form.dni_rif_documento.name}}">{{form.dni_rif_documento.label}}</label> {{form.dni_rif_documento}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{form.representante_legal.name}}">{{form.representante_legal.label}}</label> {{form.representante_legal}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{form.correo.name}}">{{form.correo.label}}</label> {{form.correo}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="{{form.descripcion.name}}">{{form.descripcion.label}}</label> {{form.descripcion}}
                </div>
            </div>
            <fieldset>
                <legend>Dirección Fiscal</legend>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.direccion_fiscal.name}}">{{form.direccion_fiscal.label}}</label> {{form.direccion_fiscal}}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.pais_direccion_fiscal.name}}">{{form.pais_direccion_fiscal.label}}</label> {{form.pais_direccion_fiscal}}
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="ciudad_direccion_fiscal">Ciudad</label>
                        <select class="form-control" name="ciudad_direccion_fiscal" id="ciudad_direccion_fiscal" nombre_etiqueta="ciudad_fiscal"
                            required>

                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.zip_direccion_fiscal.name}}">{{form.zip_direccion_fiscal.label}}</label> {{form.zip_direccion_fiscal}}
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Dirección de Envío</legend>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.direccion_envio.name}}">{{form.direccion_envio.label}}</label> {{form.direccion_envio}}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.pais_direccion_envio.name}}">{{form.pais_direccion_envio.label}}</label> {{form.pais_direccion_envio}}
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="ciudad_direccion_envio">Ciudad</label>
                        <select class="form-control" name="ciudad_direccion_envio" id="ciudad_direccion_envio" nombre_etiqueta="ciudad_envio" required>

                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.zip_direccion_envio.name}}">{{form.zip_direccion_envio.label}}</label> {{form.zip_direccion_envio}}
                    </div>
                </div>
            </fieldset>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="{{form.logo.name}}">{{form.logo.label}}</label>
                    <div class="cargar">{{form.logo}}</div>
                    <div class="clearfix" style="height: 6px;"></div>
                    <div style="margin:0 auto; width: 80%">
                        <img name="preview_logo" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="{{form.catalogo.name}}">{{form.catalogo.label}}</label>
                    <div class="cargar_catalogo">{{form.catalogo}}</div>
                    <div class="clearfix" style="height: 6px;"></div>
                    <div style="margin:0 auto; width: 80%">
                        <img name="preview_catalogo" />
                        <div class="titulo_pdf"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{form.es_disenador.label}}
                </div>
                <div class="form-group">
                    <label for="{{form.es_disenador.name}}">{{form.es_disenador}}</label>
                </div>
            </div>
            <fieldset>
                <legend> Datos para acceder al sistema </legend>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="usuario">Usuario para Designer Lounge</label>
                        <input type="text" name="usuario_proveedor" class="form-control" required id="usuario_proveedor">
                    </div>
                </div>
                <!-- datos usuario  -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="password1">Indique una contraseña</label>
                        <input type="password" id="password1" name="password1" class="form-control" required></input>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="password2">Repetir la contraseña</label>
                        <input type="password" name="password2" id="password2" class="form-control" required></input>
                    </div>
                </div>
            </fieldset>
            <div class="col-xs-7 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3"><button style="width: 94px;float: right;" class="btn btn-primary" type="submit">Guardar</button></div>
            <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 "><a class="btn btn-primary" href="{% url 'cuentas_pagar:listar_proveedores' %}" style="height: 34px;width: 85px;">Volver</a></div>
        </div>
    </form>
</div>
{% endblock contenido %}
{% block js %}
<script type="text/javascript">
    $(function (){
        $("#id_pais_direccion_fiscal").on('change', function () {
            fillCities('{{csrf_token}}','#ciudad_direccion_fiscal', $('#id_pais_direccion_fiscal').val());
        });

        $("#id_pais_direccion_envio").on('change', function () {
            fillCities('{{csrf_token}}','#ciudad_direccion_envio', $('#id_pais_direccion_envio').val());
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            if (input.name == "logo") {
                if ((input.files[0].type != 'image/png') && (input.files[0].type != 'image/jpg') && (input.files[0].type != 'image/jpeg')) {
                    mostrarMensajes('Sólo se permiten imágenes en formato PNG o JPG');
                    $('#id_logo').val('');
                    return false;
                }
            }
            else {
                if (input.files[0].type != 'application/pdf') {
                    mostrarMensajes('Sólo se permiten archivos PDF');
                    $('#id_catalogo').val('');
                    return false;
                }

            }
            var reader = new FileReader();
            reader.onload = function (e) {
                if (input.name == "logo") {
                    $("img[name='preview_logo']").attr('src', e.target.result).css({ 'width': '100px', 'height': '100px' });
                }
                else {
                    $("img[name='preview_catalogo']").attr('src', "{% static 'images/website/logo_pdf_load.png' %}").css({ 'width': '100px', 'height': '100px' });
                    $('.titulo_pdf').html(input.files[0].name);
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock js %}