{% extends 'base.html' %} {% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Listado de Proveedores</div>
    <a class="glyphicon glyphicon-plus btn-nuevo" href="{% url 'cuentas_pagar:crear_proveedores' %}">Nuevo</a>
    <div class="table-responsive">
        <table class="table table-hover">
            {% if proveedores %}
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Descripcion</td>
                    <td>DNI/RIF</td>
                    <td>Teléfonos</td>
                    <td>Correo</td>
                    <td>Activo</td>
                    <td style="text-align: center">Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.id_proveedor }}</td>
                    <td>{{ proveedor.nombre_empresa }}</td>
                    <td>{{ proveedor.dni_rif_documento }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.correo }}</td>
                    {% if proveedor.activo %}
                    <td>
                        Activo
                    </td>
                    {% else %}
                    <td>
                        Inactivo
                    </td>
                    {% endif %}
                    <td style="text-align: center">
                        <a class="glyphicon glyphicon-pencil" href="{% url 'cuentas_pagar:editar_proveedores' proveedor.id_proveedor %}" />
                        <a class="glyphicon glyphicon-remove" href="{% url 'cuentas_pagar:eliminar_proveedores' proveedor.id_proveedor %}" />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <h3>No Hay Registros de proveedores.</h3>
            {% endif %}
        </table>
    </div>
    {% if is_paginated %}
    <div class="text-center">
        <ul class="pagination nav navbar-nav">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %} {% for page in page_obj.paginator.page_range %}
            <li class="{% if page_obj.number == page  %}active{% endif %}">
                <a href="?page={{page }}">{{ page }}</a></li>
            {% endfor %} {% if page_obj.has_next %}
            <li> <a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}