{% extends 'inicio_sesion.html' %}

{% block center %}
<div class="panel panel-primary" style="position: relative; top: 10px;">
	<div class="panel-heading">Carga de banners</div>
    
</div>
{% endblock %}