{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIMA</title>
    <link rel="shortcut icon" href="{% static 'images/favicon-vima.png' %}">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.less' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet"> {% block css %} {% endblock css %}
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="#" style="padding: 10px 15px;margin-left:10px;"><img src="{% static 'images/LOGO-VIMA-100x30-px.png' %}"></a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male user"><use xlink:href="#stroked-male-user"></use></svg>{{ user.get_username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg>Configuración</a></li>
                            <li><a href="/cerrar_sesion/"><i class="icon-login icons" style="margin-right: 10px;"></i>Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-3 sidebar" style="padding: 0px; top: 1px;">
        {% include 'menu.html' %}
    </div>
    <div class="col-sm-9 col-lg-9">
        {% if messages %}
        <ul id="idmessages" class="messages" style="list-style: none;padding: 0;">
            <div class="alert alert-success alert-dismissable">
                {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
                {% endfor %}
            </div>
        </ul>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                {% block contenido %}
                <div style="margin: 0 auto; width: 75%;"> <img style="max-width: 100%;" src="{% static 'images/fondo-vima.jpg' %}" /></div>

                {% endblock contenido%}
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.main-->
    <div class="col-sm-12 col-lg-12">
        {% include "modales.html" %} {% block modal %} {% endblock %}
    </div>

</body>
<style type="text/css">
    .nav>li>a {
        padding: 7px 15px !important;
    }
    
    #sub-item-1 li,
    #sub-item-2 li,
    #sub-item-3 li,
    #sub-item-4 li,
    #sub-item-5 li,
    #sub-item-6 li {
        margin-left: 25px;
        margin-top: 4px;
        color: #000;
        font-size: 13px;
        padding: 6px 4px;
    }
    
    #sub-item-1 li .icons,
    #sub-item-2 li .icons,
    #sub-item-3 li .glyph,
    #sub-item-4 li .icons,
    #sub-item-5 li .icons,
    #sub-item-6 li .icons {
        font-size: 15px;
        margin-right: 12px;
        width: 18px;
        height: 18px;
    }
    
    .fa,
    #sub-item-1 li .icons,
    #sub-item-2 li .icons,
    #sub-item-3 li .icons,
    #sub-item-3 li .icon-basket,
    #sub-item-4 li .icons,
    #sub-item-5 li .icons,
    #sub-item-6 li .icons,
    #sub-item-6 li .fa,
    #sub-item-3 li .fa,
    #sub-item-5 li .fa {
        margin-right: 12px;
    }
</style>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/lumino.glyphs.js' %}"></script>
<script src="{% static 'js/funciones.js' %}"></script>

<script type="text/javascript">
    $(function() {
        $(document).on("click", ".nav li", function() {
            $(".nav li").each(function() {
                $(this).removeClass('active');
            });
            $(this).addClass('active');

        });

    });
</script>
{% block js %} {% endblock js%}

</html>