{% extends 'inicio_sesion.html' %}

{% block center %}

<h4 style="margin-bottom: 55px;">Su contraseña se reestableció correctamente</h4>
<a  class="button_2" href="/administrador/">Iniciar sesión</a>

{% endblock %}