{% extends 'inicio_sesion_cliente.html' %}

{% block content %}
    <p>Recuperar contraseña</p>

    <form method="post">
        {% csrf_token %}
        <p class="parrafo">Ingresa tu correo y te enviaremos las <br> instrucciones para restaurar tu contraseña.</p>
        <label id="email" for="id_email"> {{ form.email }}</label><br>
        <p class="parrafo">Recuerda revisar tu bandeja de spam.</p>
        <input class="button_2" type="submit" value="RESTABLECER CONTRASEÑA"/>
    </form>

{% endblock %}

