{% extends 'base.html' %} {% load staticfiles %} {% block css%}
<style type="text/css">
    .cargar {
        background: url('{% static 'images/botonadjuntalogo.png' %}')no-repeat;
        height: 28px;
        overflow: hidden;
        cursor: pointer;
    }

    .file-upload {
        opacity: 0;
        border: none;
        height: 100%;
        max-width: 100%;
        color: #ffffff !important;
        cursor: pointer;
    }
</style>
{% endblock css%} {% block contenido %}
<div class="panel panel-primary panel-vima">
    <div class="panel-heading">Configuración de Empresa</div>
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="{{form.nombre.name}}">{{form.nombre.label}}</label> {{form.nombre}}
                </div>
            </div>
            <div class="col-md-6  col-sm-12">
                <div class="form-group">
                    <label for="{{form.dni_rif_documento.name}}">{{form.dni_rif_documento.label}}</label> {{form.dni_rif_documento}}
                </div>
            </div>
            <div class="col-md-6  col-sm-12">
                <div class="form-group">
                    <label for="{{form.correo_electronico.name}}">{{form.correo_electronico.label}}</label> {{form.correo_electronico}}
                </div>
            </div>
            <fieldset>
                <legend>Dirección Fiscal</legend>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.direccion_fiscal.name}}">{{form.direccion_fiscal.label}}</label> {{form.direccion_fiscal}}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.pais_direccion_fiscal.name}}">{{form.pais_direccion_fiscal.label}}</label> {{form.pais_direccion_fiscal}}
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="ciudad_direccion_fiscal">Ciudad</label>
                        <select class="form-control" name="ciudad_direccion_fiscal" id="ciudad_direccion_fiscal" required>

                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.zip_direccion_fiscal.name}}">{{form.zip_direccion_fiscal.label}}</label> {{form.zip_direccion_fiscal}}
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Dirección de Envío</legend>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.direccion_envio.name}}">{{form.direccion_envio.label}}</label> {{form.direccion_envio}}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.pais_direccion_envio.name}}">{{form.pais_direccion_envio.label}}</label> {{form.pais_direccion_envio}}
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="ciudad_direccion_envio">Ciudad</label>
                        <select class="form-control" name="ciudad_direccion_envio" id="ciudad_direccion_envio" nombre_etiqueta="ciudad_envio" required>

                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label for="{{form.zip_direccion_envio.name}}">{{form.zip_direccion_envio.label}}</label> {{form.zip_direccion_envio}}
                    </div>
                </div>
            </fieldset>
            <div class="col-sm-12 ">
                <div class="form-group">
                    <label for="{{form.logo.name}}">{{form.logo.label}}</label>
                    <div class="cargar">{{form.logo}}</div>
                    <div class="clearfix" style="height: 6px;"></div>
                    <div style="margin:0 auto; width: 80%">
                        <img name="preview_logo" />
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3"><button style="width: 94px;float: right;" class="btn btn-primary" type="submit">Guardar</button></div>
            <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 "><a class="btn btn-primary" href="{% url 'administrador:index' %}" style="height: 34px;width: 85px;">Volver</a></div>
        </div>
    </form>
</div>
{% endblock contenido %}
{% block js %}
<script type="text/javascript">
    $(function () {
        $("#id_pais_direccion_fiscal").on('change', function () {
            fillCities('{{csrf_token}}', '#ciudad_direccion_fiscal', $('#id_pais_direccion_fiscal').val(),'{{form.ciudad_direccion_fiscal.value}}');
        });

        $("#id_pais_direccion_envio").on('change', function () {
            fillCities('{{csrf_token}}', '#ciudad_direccion_envio', $('#id_pais_direccion_envio').val(),'{{form.ciudad_direccion_envio.value}}');
        });

        $("#id_pais_direccion_fiscal, #id_pais_direccion_envio").trigger("change");
    });


    function readURL(input) {
        if (input.files && input.files[0]) {
            if ((input.files[0].type != 'image/png') && (input.files[0].type != 'image/jpg') && (input.files[0].type != 'image/jpeg')) {
                mostrarMensajes('Sólo se permiten imágenes en formato PNG o JPG');
                $('#id_logo').val('');
                return false;
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                $("img[name='preview_logo']").attr('src', e.target.result).css({ 'width': '100px', 'height': '100px' });
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
{% endblock js %} 