{% load staticfiles %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
    <script src="{% static 'js/lumino.glyphs.js' %}"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand"  href="#" style="padding: 10px 15px;margin-left:10px;"><img  src="{% static 'images/LOGO-VIMA-100x30-px.png' %}"></a>
					<h3>ADMINISTRADOR DEL SISTEMA</h3>
			</div>
		</div><!-- /.container-fluid -->
	</nav>


	<div class="background ">
		<div class="fondo col-xs-12 col-md-12	">
			<img src="{% static 'images/LogoVimaP.png' %}">
            {% block center %}
			<p>INICIAR SESIÓN</p>
		  <form id="form_sesion" method="post" accept-charset="utf-8">
		    {% csrf_token %}
			<div class="row col-md-offset-4">  
			    <input type="hidden" name="next" value="{{ next }}">
			    <center><label class="col-md-3 col-xs-12">Usuario <br>
			    <input type="text" name="username" required = "required" placeholder=""></label>
			    <label class="col-md-2 col-xs-12">Contraseña <br>
			    <input type="password" id="password" name="password" required = "required" placeholder=""><br></label></center>
	     	</div>  
			    <div class="clearfix"></div>
			    <a class="link" href="{% url 'password_reset' %}">¿Olvidó la contraseña?</a><br>
			    <input class="button" type="submit" value="INICIAR SESIÓN" id="btn_ingresar">
		   
		  </form>
		 {% endblock %}
		</div>
 	 </div>

</body>
</html>

