<ul class="nav menu">
    <li class="active"><a href="/administrador/"><svg class="glyph stroked home" style="stroke-width: 5px; width: 18px; height: 18px;"><use xlink:href="#stroked-home" style="margin-right: 5px;"></use></svg>Inicio</a></li>

    <li>
        <a href="#">
            <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked gear" style="width: 20px;height: 20px;"><use xlink:href="#stroked-gear"></use></svg>Configuraci&oacute;n <svg class="glyph stroked chevron-down" style="float: right;"><use xlink:href="#stroked-chevron-down"></use></svg></span>
        </a>
        <ul class="children collapse" id="sub-item-1">
            <li>
                <a href="/administrador/empresa">
                    <svg class="glyph stroked male user"><use xlink:href="#stroked-male-user" ></use></svg>Empresa
                </a>
            </li>
            <li>
                <a href="/administrador/usuario/listado">
                    <svg class="glyph stroked male user"><use xlink:href="#stroked-male-user" ></use></svg>Usuarios
                </a>
            </li>
            <li>
                <a href="/administrador/banners">
                    <svg class="glyph stroked male user"><use xlink:href="#stroked-male-user" ></use></svg>Banners
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span data-toggle="collapse" href="#sub-item-2"><i class="icon-drawer icons" style="font-size: 18px; margin-right: 10px;"></i>Inventario <svg class="glyph stroked chevron-down" style="float: right;"><use xlink:href="#stroked-chevron-down"></use></svg></span>
        </a>
        <ul class="children collapse" id="sub-item-2">
            <li>
                <a href="#">
                    <span data-toggle="collapse" href="#sub-item-2-1"><svg class="glyph stroked gear" style="width: 18px;height: 18px;"><use xlink:href="#stroked-gear"></use></svg>Configuración <svg class="glyph stroked chevron-down" style="float: right;position: relative;right: 10px;"><use xlink:href="#stroked-chevron-down"></use></svg></span>
                </a>
                <ul class="children collapse" id="sub-item-2-1">
                    <li>
                        <a href="/inventario/almacen">
                            <i class="icon-social-dropbox icons"></i>Almacenes
                        </a>
                    </li>
                    <li>
                        <a href="/inventario/departamentos">
                            <svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>
                            Departamentos
                        </a>
                    </li>
                    <li>
                        <a href="/inventario/categoria/nueva">
                            <svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg>Categoria
                        </a>
                    </li>
                    <li>
                        <a href="/inventario/marca">
                            <svg class="glyph stroked eye" style="width: 18px;height: 18px;"><use xlink:href="#stroked-eye" ></use></svg>Marcas
                        </a>
                    </li>
                    <li>
                        <a href="/inventario/talla">
                            <svg class="glyph stroked eye" style="width: 18px;height: 18px;"><use xlink:href="#stroked-eye" ></use></svg>Tallas
                        </a>
                    </li>                    
                </ul>
            </li>
            <li>
                <a href="/inventario/existencia">
                    <i class="fa fa-archive" aria-hidden="true" style="font-size: 16px;"></i>Existencia de productos
                </a>
            </li>
            <li>
                <a href="/inventario/producto">
                    <i class="icon-folder-alt icons" style="font-size: 18px; margin-right: 10px;"></i>Catalogo de productos
                </a>
            </li>
            <li>
                <a href="/inventario/producto/publicar">
                    <svg class="glyph stroked eye" style="width: 18px;height: 18px;"><use xlink:href="#stroked-eye" ></use></svg>Publicar Productos
                </a>
            </li>
            <li>
                <a href="/inventario/conteo">
                    <i class="icon-note icons" style="font-size: 16px;"></i>Toma de Inventario
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span data-toggle="collapse" href="#sub-item-3"><i class="fa fa-line-chart" aria-hidden="true" style="margin-right: 10px;font-size: 20px;"></i>Ventas <svg class="glyph stroked chevron-down" style="float: right;"><use xlink:href="#stroked-chevron-down"></use></svg></span>
        </a>
        <ul class="children collapse" id="sub-item-3">
            <li>
                <a href="/inventario/predespacho">
                    <i class="fa fa-opencart" aria-hidden="true" style="font-size: 15px;"></i>Pre-despacho de Pedidos
                </a>
            </li>
            <li>
                <a href="/inventario/despacho">
                    <i class="fa fa-file-text-o" aria-hidden="true" style="font-size: 15px;"></i>Despacho de Pedidos
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span data-toggle="collapse" href="#sub-item-4"><i class="icon-tag icons" style="font-size: 18px; margin-right: 10px;"></i>Compras <svg class="glyph stroked chevron-down" style="float: right;"><use xlink:href="#stroked-chevron-down"></use></svg></span>
        </a>
        <ul class="children collapse" id="sub-item-4">
            <li>
                <a href="/compras/orden/listado/">
                    <i class="icon-doc icons" style="font-size: 15px;"></i> Orden de Compra
                </a>
            </li>
            <li>
                <a href="/compras/recepcion/listado/">
                    <i class="icon-basket"></i> Recepci&oacute;n de Mercancia
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span data-toggle="collapse" href="#sub-item-5"><i class="fa fa-money" style="font-size: 18px; margin-right: 10px;"></i>Cuentas por Pagar <svg class="glyph stroked chevron-down" style="float: right;"><use xlink:href="#stroked-chevron-down"></use></svg></span>
        </a>
        <ul class="children collapse" id="sub-item-5">
            <li>
                <a href="/cuentas_pagar/proveedor">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>Proveedores
                </a>
            </li>
            <li>
                <a href="/cuentas_pagar/estado_cuenta">
                    <i class="fa fa-list" aria-hidden="true" style="font-size: 15px;"></i>Listado de Cuentas por Pagar
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span data-toggle="collapse" href="#sub-item-6"><svg class="glyph stroked clipboard with paper" style="width: 18px;height: 18px;"><use xlink:href="#stroked-clipboard-with-paper"/></svg>Reportes <svg class="glyph stroked chevron-down" style="float: right;"><use xlink:href="#stroked-chevron-down"></use></svg></span>
        </a>
        <ul class="children collapse" id="sub-item-6">
            <li>
                <a>
                    <span data-toggle="collapse" href="#sub-item-6-1"><svg class="glyph stroked gear" style="width: 18px;height: 18px;"><use xlink:href="#stroked-gear"></use></svg>Proveedores <svg class="glyph stroked chevron-down" style="float: right;position: relative;right: 10px;"><use xlink:href="#stroked-chevron-down"></use></svg></span>
                </a>
                <ul class="children collapse" id="sub-item-6-1">
                    <li>
                        <a href="/cuentas_pagar/proveedor/listar/1/">
                            <i class="fa fa-check-square-o" aria-hidden="true" style="font-size: 15px;"></i>Proveedores Activos
                        </a>
                    </li>
                    <li>
                        <a href="/cuentas_pagar/proveedor/listar/0/">
                            <i class="fa fa-user-times" aria-hidden="true" style="font-size: 15px;"></i>Proveedores Inactivos
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/inventario/predespacho/despachar">
                    <i class="fa fa-list-alt" aria-hidden="true" style="font-size: 15px;"></i>Listado de Ventas Pendientes
                </a>
            </li>
            <li>
                <a href="/inventario/balance/filtros">
                    <i class="fa fa-list-alt" aria-hidden="true" style="font-size: 15px;"></i>Balance de Ingresos
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#"><svg class="glyph stroked line-graph" ><use xlink:href="#stroked-line-graph"></use></svg>Estad&iacute;sticas</a></li>

    <li><a href="#"><i class="icon-info icons" style="margin-right: 10px;font-size: 20px;"></i>Ayuda</a></li>
</ul>