{% load staticfiles %}

<div id="mensajes" class="modal fade" role="dialog"  tabindex="-1" aria-labelledby="mensajes" aria-hidden="true" style="top: 20%;" >
  <div class="modal-dialog" role="document" style="width: 355px;">
    <div class="modal-content" style="float: left;width: 355px;">
      <div class="modal-body" style="width: 92%; margin: 19px auto 0px; min-height: 83px; max-height: 200px;">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="float: left; font-size: 23px; width: 11%;"></span>
          <div id="msg" style="text-align: justify; width: 89%; float: left;"></div>

      </div>
      <div class="modal-footer" style="float: left; width: 100%;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>