{% extends 'base.html' %}


{% block contenido %}
<div class="panel panel-primary" style="position: relative; top: 10px;">
        <div class="panel-heading">Listado de Usuarios</div>
            <a class="glyphicon glyphicon-plus btn-nuevo"  href="{% url 'administrador:usuario_crear' %}">Nuevo</a>
    <div  class="table-responsive">
            <table class="table table-hover">
            {% if object_list %}
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Apellidos</td>
                        <td>Correo</td>
                        <td>Usuario</td>
                        <td>Estado</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        {% if user.is_active %}
                            <td>
                                Activo
                            </td>
                        {% else %}
                            <td>
                                Inactivo
                            </td>
                        {% endif %}
                        <td style="text-align: center;">
                            <a class="glyphicon glyphicon-pencil" href="{% url 'administrador:usuario_modificar' user.id %}" title="Editar"></a>
                            <a class="glyphicon glyphicon-remove" href="{% url 'administrador:usuario_eliminar' user.id %}" title="Eliminar"></a>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
    </div>
            {% if is_paginated %}
        <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
        </ul>
    {% endif %}
                {% else %}
                    <h1>No Hay Registros de Usuarios.</h1>
                {% endif %}
        </div>

{% endblock %}