{% extends 'base.html' %}

{% block contenido %}
<div class="panel panel-primary" style="position: relative; top: 10px;">
        <div class="panel-heading">Usuarios</div>
		<form method="post" enctype="multipart/form-data"  class="form-group" style="width:60%;margin-left: 20%;margin-top: 28px;">
			{% csrf_token %}
<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.first_name.name}}">{{form.first_name.label}}</label>
				{{form.first_name}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.last_name.name}}">{{form.last_name.label}}</label>
				{{form.last_name}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.email.name}}">{{form.email.label}}</label>
				{{form.email}}
			</div>
		</div> 
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.username.name}}">{{form.username.label}}</label>
				{{form.username}}
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.is_active.name}}">{{form.is_active.label}}</label>
				{{form.is_active}}
			</div>
		</div>
				<button type="submit" class="btn btn-primary" style="margin-left:30%;">Guardar</button>
				<a class="btn btn-default" style="width: 79px;padding: 7px;margin-left: 32px;" href="{% url 'administrador:usuario_listado' %}">Volver</a>
		</form>
{% endblock %}
 