{% load staticfiles %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
    <script src="{% static 'js/lumino.glyphs.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"  href="#" style="padding: 10px 15px;margin-left:10px;"><img  src="{% static 'images/LOGO-VIMA-100x30-px.png' %}"></a>
                    <h3>ADMINISTRADOR DEL SISTEMA</h3>
            </div>
        </div><!-- /.container-fluid -->
    </nav>


    <div class="background">
        <div class="fondo">
            <img src="{% static 'images/LogoVimaP.png' %}">
            {% block center %}
            <h5 class="alert alert-danger">El usuario es invalido, o no tiene permiso de acceso. Ingrese nuevamente.</h5>
            <a href="/cerrar_sesion/" class="button">Ingresar</a>
            {% endblock %}
        </div>
     </div>

</body>
</html>
