{% extends 'base.html' %} {% block contenido %}
<div class="panel panel-primary panel-vima">
	<div class="panel-heading">Usuarios</div>
	<form method="post" enctype="multipart/form-data" class="form-group" style="width:60%;margin-left: 20%;margin-top: 28px;">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="{{form.first_name.name}}">{{form.first_name.label}}</label> {{form.first_name}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="{{form.last_name.name}}">{{form.last_name.label}}</label> {{form.last_name}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="{{form.email.name}}">{{form.email.label}}</label> {{form.email}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="{{form.username.name}}">{{form.username.label}}</label> {{form.username}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="{{form.password1.name}}">{{form.password1.label}}</label> {{form.password1}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="{{form.password2.name}}">{{form.password2.label}}</label> {{form.password2}}
				</div>
				{% if form.errors %}
				<h4 style="color: red">{{ form.errors }}</h4>
				{% endif %}
			</div>
			<div class="col-md-4 "></div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
			<div class="col-md-2">
				<a class="btn btn-default" href="{% url 'administrador:usuario_listado' %}">Volver</a>
			</div>
			<div class="col-md-4 "></div>
			</div>
		</div>
	</form>
</div>
{% endblock %}